<%
# Response for a naming vote.
# Renders divs that are used to update page content by naming_vote.js
# Recalculated show_obs_title, refreshed votes table,
# the new vote %, and the new num_votes
%>
<div>
  <%= content_tag(:div, show_obs_title(obs: @observation),
        title: show_obs_title(obs: @observation).strip_html.html_safe) %>
  <%= content_tag(:div, render(partial: 'observations/namings/votes/table',
        locals: { do_cancel: false, observation: @observation,
                  naming: @naming })) %>
  <%= content_tag(:span, "#{@naming.reload.vote_percent.round}%") %>
  <%= content_tag(:span, "#{@naming.reload.votes.length}") %>
</div>
