<%
# called from observations/show/namings
# Bootstrap modal for "saving vote", just the message.
%>

<div class="modal" id="save_naming_vote" role="dialog"
     aria-labelledby="save_naming_vote_caption">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center"
           id="save_naming_vote_caption">
        <%= :show_namings_saving.t %><span class='spinner-right mx-2'></span>
      </div>
    </div>
  </div>
</div>
