<%
# called from observations/show/namings
# TODO: Make this a Bootstrap modal for better layout
%>

<div class="popup" id="show_votes_<%= naming.id %>" data-role="popup">
  <div class="popup-frame" id="show_votes_<%= naming.id %>_frame">
    <%= render(partial: "observations/namings/votes/table",
               locals: { naming: naming }) %>
    <%= button_tag(:CLOSE.t, type: "button",
                   class: "btn btn-default close_votes_popup center-block mb-3",
                   data: {role: "close_popup"}) %>
  </div>
</div>
