<!--[form:comment]-->

<label for="comment_summary"><%= :form_comments_summary.l %></label>:<br/>
<%= text_field("comment", "summary", :size => 80) %><br/><br/>

<label for="comment_comment"><%= :form_comments_comment.l %></label>:<br/>
<%= text_area("comment", "comment", :cols => 80, :rows => 5) %><br/>
<%= render :partial => 'shared/textilize_help' %>

<%= javascript_tag "document.getElementById('comment_summary').focus()" %>

<!--[eoform:comment]-->
