<%
   comments = object.comments.sort_by(&:created_at).reverse
   if limit
     and_more = comments.length - limit
     comments = comments[0..limit-1]
   end
%>
<div>
    <span>
      <%= comments.empty? ? :"show_comments_no_comments_yet".t : :COMMENTS.t %>:
    </span>
  <strong>
    <%= if controls
          link_with_query(:"show_comments_add_comment".t, :controller => 'comment',
                          :action => 'add_comment', :id => object.id, :type => object.class.name)
        end %>
  </strong>
</div>

<div class="border-box color-block">
  <% comments.each do |comment| %>
      <div class="row color-block-item">
        <div class="col-xs-12">
          <div>
            <%= render(:partial => 'comment/comment', :object => comment) %>
          </div>
        </div>
      </div>
  <% end %>
</div>


<%= if limit and (and_more > 0)
      link_to(:show_comments_and_more.t(:num => and_more),
              :controller => 'comment', :action => 'show_comments_for_target',
              :id => object.id, :type => object.class.name)
    end %>
