<%
  if @links.any?
    tabs = create_links(@links)
    @tabsets = { right: draw_tab_set(tabs) }
  end

  flash_error(@error) if @error && @objects.empty?
%>

<div class="max-width-text-plus-image">
  <%= paginate_block(@pages) do %>
    <% if @objects.any? %>
      <% for comment in @objects %>
        <%= render(partial: "comment", object: comment, locals: {show_name: true}) %>
      <% end %>
    <% end %>
  <% end %>
</div>
