<%
  new_tab_set(@links) if @links && @links.any?
  flash_error(@error) if @error && (!@objects || @objects.empty?)
%>

<div class="row">
  <div class="col-xs-12 max-width-text-plus-image">
    <%= paginate_block(@pages) do %>
      <% for comment in @objects %>
        <%= render(partial: "comment", object: comment, locals: {show_name: true}) %>
      <% end %>
    <% end %>
  </div>
</div>
