<%
  if @links && @links.any?
    tabs = @links.map {|str,url| link_to(str, url)}
    @tabsets = { right: draw_tab_set(tabs) }
  end

  flash_error(@error) if @error && (!@objects || @objects.empty?)
%>

<div class="row">
  <div class="col-xs-12 max-width-text-plus-image">
    <%= paginate_block(@pages) do %>
      <% for comment in @objects %>
        <%= render(partial: "comment", object: comment, locals: {show_name: true}) %>
      <% end %>
    <% end %>
  </div>
</div>
