
<%# bs4 %>

<div class="nav navbar-nav form-inline d-none d-md-block m-0">
  <div class="form-control">
    <%= link_to(
          :app_login.t, new_account_login_path,
          { class: "btn btn-primary", id: "user_nav_login_link" }
        ) %>
    <%= link_to(
          :app_create_account.t, account_signup_path,
          { class: "btn btn-primary", id: "user_nav_signup_link" }
        ) %>
  </div>
</div>
