<%
add_project_banner(@project) if @project
add_index_title(@query)
add_sorter(@query, species_lists_index_sorts(query: @query))
add_pagination(@pagination_data)
container_class(:full)

flash_error(@error) if @error && @objects.empty?
%>

<%= paginated_results do %>
  <% if @objects.any? %>
    <div class="list-group">
      <% @objects.each do |species_list| %>
      <div class="list-group-item">
        <div class="text-larger">
          <%=
            when_span = tag.span(species_list.when.to_s, class: "list_when")
            what_span = tag.span(species_list.unique_text_name.t,
                                class: "list_what")
            args = species_list.show_link_args
            args[:project] = @project if @project
            link_to(when_span + ": " + what_span, args)
          %>
        </div><!-- .text-larger -->
        <span><%= species_list.place_name.t rescue :UNKNOWN.t %></span> |
        <span><%= user_link(species_list.user) %></span>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>

