<%
add_project_banner(@project) if @project
add_index_title(@query)
add_sorter(@query, species_lists_index_sorts(query: @query))
add_pagination(@pagination_data)
container_class(:full)

flash_error(@error) if @error && @objects.empty?
%>

<%= paginated_results do %>
  <% if @objects.any? %>
    <div class="list-group">
      <% @objects.each do |species_list| %>
        <%= render(partial: "species_list", locals: { species_list: }) %>
      <% end %>
    </div>
  <% end %>
<% end %>

