<%
  url = "#{MO.http_domain}/account/verify/#{@user.id}?auth_code=#{@user.auth_code}"
  intro = :email_verify_intro.tp(user: @user.login, link: "xxx")
  intro.gsub!(/xxx/, link_to(url, url))

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.html_safe %>
<br/>
</body>
</html>
<% else %><%= intro.html_to_ascii %>
<% end %>
