<!--LOGIN LAYOUT-->
<div class="container-text">
  <div class="text-center visible-xs-block">
    <img class="logo-trim" alt="MO Logo" src="/logo-trim.png">
  </div>
  <h2 class="h3 text-center">Mushroom Observer (MO)</h2>
  <p><%= :login_layout_description.t %></p>
</div><!--.container-text-->
<!--/LOGIN LAYOUT-->
