<!--LOGIN LAYOUT-->
<div class="max-width-text">
  <p class="text-center hidden-sm hidden-md hidden-lg">
    <img class="logo-trim" alt="MO Logo" src="/logo-trim.png">
  </p>
  <h2 class="h3 text-center">Mushroom Observer (MO)</h2>
  <p><%= :login_layout_description.t %></p>
</div>
<!--/LOGIN LAYOUT-->
