<%# Accepts an object and renders prev/next/index buttons. %>
<% if object %>
  <% type = object.type_tag %>
  <div>
    <%= link_prev(object) %> |
    <%= link_with_query(:INDEX.t, object.index_link_args) %> |
    <% if @mappable %>
      <%= link_with_query(:MAP.t, map_locations_path) %> |
    <% end %>
    <%= link_next(object) %>
  </div>
<% end %>
