---
openapi: 3.1.0
info:
  title: Mushroom Observer API
  version: '2.0'
  description: REST-ish API for creating, reading, and modifying Mushroom Observer
    records. Authentication uses an [API key](/account/api_keys). XML output is deprecated
    and undocumented here; use JSON.
servers:
- url: https://mushroomobserver.org
paths:
  "/api2/api_keys":
    post:
      summary: Create api_key
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                for_user:
                  type: string
                  description: user you are creating api key for
                app:
                  type: string
                  description: identifier used to help user distinguish which api
                    key belongs to which app
                password:
                  type: string
                  description: password of the user you are creating an API key for
      responses:
        '200':
          description: Matching api_keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          key:
                            type: string
                          notes:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          last_used:
                            type: string
                            format: date-time
                          verified:
                            type: string
                            format: date-time
                          num_uses:
                            type: integer
  "/api2/collection_numbers":
    get:
      summary: Search / read collection_numbers
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a collection_number
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: collector
        in: query
        required: false
        description: collector's name
        schema:
          type: string
      - name: number
        in: query
        required: false
        description: collector's number
        schema:
          type: string
      - name: collector_has
        in: query
        required: false
        description: search within collector's name
        schema:
          type: string
      - name: number_has
        in: query
        required: false
        description: search within collector's number
        schema:
          type: string
      responses:
        '200':
          description: Matching collection_numbers
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          collector:
                            type: string
                          number:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          user_id:
                            type: integer
    post:
      summary: Create collection_number
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                observation:
                  type: string
                  description: id or name of a observation
                collector:
                  type: string
                  description: collector's name
                number:
                  type: string
                  description: collector's number
      responses:
        '200':
          description: Matching collection_numbers
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          collector:
                            type: string
                          number:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          user_id:
                            type: integer
    patch:
      summary: Update collection_numbers
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a collection_number
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: collector
        in: query
        required: false
        description: collector's name
        schema:
          type: string
      - name: number
        in: query
        required: false
        description: collector's number
        schema:
          type: string
      - name: collector_has
        in: query
        required: false
        description: search within collector's name
        schema:
          type: string
      - name: number_has
        in: query
        required: false
        description: search within collector's number
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                add_observation:
                  type: string
                  description: attach the record to these observations
                remove_observation:
                  type: string
                  description: detach the record from these observations
                set_collector:
                  type: string
                  description: change the collector name
                set_number:
                  type: string
                  description: change the collector number
      responses:
        '200':
          description: Matching collection_numbers
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          collector:
                            type: string
                          number:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          user_id:
                            type: integer
    delete:
      summary: Delete collection_numbers
      security:
      - api_key: []
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a collection_number
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: collector
        in: query
        required: false
        description: collector's name
        schema:
          type: string
      - name: number
        in: query
        required: false
        description: collector's number
        schema:
          type: string
      - name: collector_has
        in: query
        required: false
        description: search within collector's name
        schema:
          type: string
      - name: number_has
        in: query
        required: false
        description: search within collector's number
        schema:
          type: string
      responses:
        '200':
          description: Deleted
  "/api2/comments":
    get:
      summary: Search / read comments
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: target
        in: query
        required: false
        description: 'e.g. "observation #1234" or "name #5678"'
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a comment
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: summary_has
        in: query
        required: false
        description: search within summary
        schema:
          type: string
      - name: content_has
        in: query
        required: false
        description: search within body
        schema:
          type: string
      responses:
        '200':
          description: Matching comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          summary:
                            type: string
                          content:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          object_type:
                            type: string
                          object_id:
                            type: integer
                          owner_id:
                            type: integer
    post:
      summary: Create comment
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                summary:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: Matching comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          summary:
                            type: string
                          content:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          object_type:
                            type: string
                          object_id:
                            type: integer
                          owner_id:
                            type: integer
    patch:
      summary: Update comments
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: target
        in: query
        required: false
        description: 'e.g. "observation #1234" or "name #5678"'
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a comment
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: summary_has
        in: query
        required: false
        description: search within summary
        schema:
          type: string
      - name: content_has
        in: query
        required: false
        description: search within body
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set_summary:
                  type: string
                set_content:
                  type: string
      responses:
        '200':
          description: Matching comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          summary:
                            type: string
                          content:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          object_type:
                            type: string
                          object_id:
                            type: integer
                          owner_id:
                            type: integer
    delete:
      summary: Delete comments
      security:
      - api_key: []
      parameters:
      - name: target
        in: query
        required: false
        description: 'e.g. "observation #1234" or "name #5678"'
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a comment
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: summary_has
        in: query
        required: false
        description: search within summary
        schema:
          type: string
      - name: content_has
        in: query
        required: false
        description: search within body
        schema:
          type: string
      responses:
        '200':
          description: Deleted
  "/api2/external_links":
    get:
      summary: Search / read external_links
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: external_site
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a external_site
          description: comma-separated list
        style: form
        explode: false
      responses:
        '200':
          description: Matching external_links
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          url:
                            type: string
                            format: uri
                          external_id:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          observation_id:
                            type: integer
                          owner_id:
                            type: integer
                          external_site_id:
                            type: integer
    post:
      summary: Create external_link
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                observation:
                  type: string
                  description: id or name of a observation
                external_site:
                  type: string
                  description: id or name of a external_site
                url:
                  type: string
      responses:
        '200':
          description: Matching external_links
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          url:
                            type: string
                            format: uri
                          external_id:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          observation_id:
                            type: integer
                          owner_id:
                            type: integer
                          external_site_id:
                            type: integer
    patch:
      summary: Update external_links
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: external_site
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a external_site
          description: comma-separated list
        style: form
        explode: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set_url:
                  type: string
      responses:
        '200':
          description: Matching external_links
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          url:
                            type: string
                            format: uri
                          external_id:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          observation_id:
                            type: integer
                          owner_id:
                            type: integer
                          external_site_id:
                            type: integer
    delete:
      summary: Delete external_links
      security:
      - api_key: []
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: external_site
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a external_site
          description: comma-separated list
        style: form
        explode: false
      responses:
        '200':
          description: Deleted
  "/api2/external_sites":
    get:
      summary: Search / read external_sites
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a external_site
          description: comma-separated list
        style: form
        explode: false
      - name: name
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Matching external_sites
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          name:
                            type: string
                          project_id:
                            type: integer
  "/api2/field_slips":
    get:
      summary: Search / read field_slips
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: code
        in: query
        required: false
        description: code printed on the field slip, e.g. "NEMF-00821"
        schema:
          type: string
      - name: code_has
        in: query
        required: false
        description: search within field slip codes
        schema:
          type: string
      - name: observation
        in: query
        required: false
        schema:
          type: string
          description: id or name of a observation
      - name: project
        in: query
        required: false
        schema:
          type: string
          description: id or name of a project
      responses:
        '200':
          description: Matching field_slips
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          code:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          observation_ids:
                            type: array
                            items:
                              type: integer
                          project_id:
                            type: integer
                          user_id:
                            type: integer
    post:
      summary: Create field_slip
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                observation:
                  type: string
                  description: id or name of a observation
                code:
                  type: string
                  description: code printed on the field slip, e.g. "NEMF-00821"
                project:
                  type: string
                  description: id or name of a project
      responses:
        '200':
          description: Matching field_slips
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          code:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          observation_ids:
                            type: array
                            items:
                              type: integer
                          project_id:
                            type: integer
                          user_id:
                            type: integer
    patch:
      summary: Update field_slips
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: code
        in: query
        required: false
        description: code printed on the field slip, e.g. "NEMF-00821"
        schema:
          type: string
      - name: code_has
        in: query
        required: false
        description: search within field slip codes
        schema:
          type: string
      - name: observation
        in: query
        required: false
        schema:
          type: string
          description: id or name of a observation
      - name: project
        in: query
        required: false
        schema:
          type: string
          description: id or name of a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set_observation:
                  type: string
                  description: id or name of a observation
                set_code:
                  type: string
                  description: change the field slip code
                set_project:
                  type: string
                  description: id or name of a project
      responses:
        '200':
          description: Matching field_slips
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          code:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          observation_ids:
                            type: array
                            items:
                              type: integer
                          project_id:
                            type: integer
                          user_id:
                            type: integer
    delete:
      summary: Delete field_slips
      security:
      - api_key: []
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: code
        in: query
        required: false
        description: code printed on the field slip, e.g. "NEMF-00821"
        schema:
          type: string
      - name: code_has
        in: query
        required: false
        description: search within field slip codes
        schema:
          type: string
      - name: observation
        in: query
        required: false
        schema:
          type: string
          description: id or name of a observation
      - name: project
        in: query
        required: false
        schema:
          type: string
          description: id or name of a project
      responses:
        '200':
          description: Deleted
  "/api2/herbaria":
    get:
      summary: Search / read herbaria
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a herbarium
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: code
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: address
        in: query
        required: false
        description: postal address
        schema:
          type: string
      responses:
        '200':
          description: Matching herbaria
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          code:
                            type: string
                          name:
                            type: string
                          email:
                            type: string
                          address:
                            type: string
                          description:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          location_id:
                            type: integer
                          personal_user_id:
                            type: integer
  "/api2/herbarium_records":
    get:
      summary: Search / read herbarium_records
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a herbarium_record
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: herbarium
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a herbarium
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: has_notes
        in: query
        required: false
        schema:
          type: boolean
      - name: initial_det
        in: query
        required: false
        description: initial determination
        schema:
          type: string
      - name: accession_number
        in: query
        required: false
        description: unique fungarium id
        schema:
          type: string
      - name: notes_has
        in: query
        required: false
        description: search within notes
        schema:
          type: string
      - name: initial_det_has
        in: query
        required: false
        description: search within initial determination
        schema:
          type: string
      - name: accession_number_has
        in: query
        required: false
        description: search within accession number
        schema:
          type: string
      responses:
        '200':
          description: Matching herbarium_records
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          initial_determination:
                            type: string
                          accession_number:
                            type: string
                          notes:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          herbarium_id:
                            type: integer
                          user_id:
                            type: integer
    post:
      summary: Create herbarium_record
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                observation:
                  type: string
                  description: id or name of a observation
                herbarium:
                  type: string
                  description: id or name of a herbarium
                initial_det:
                  type: string
                  description: initial determination
                accession_number:
                  type: string
                  description: unique fungarium id
                notes:
                  type: string
      responses:
        '200':
          description: Matching herbarium_records
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          initial_determination:
                            type: string
                          accession_number:
                            type: string
                          notes:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          herbarium_id:
                            type: integer
                          user_id:
                            type: integer
    patch:
      summary: Update herbarium_records
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a herbarium_record
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: herbarium
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a herbarium
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: has_notes
        in: query
        required: false
        schema:
          type: boolean
      - name: initial_det
        in: query
        required: false
        description: initial determination
        schema:
          type: string
      - name: accession_number
        in: query
        required: false
        description: unique fungarium id
        schema:
          type: string
      - name: notes_has
        in: query
        required: false
        description: search within notes
        schema:
          type: string
      - name: initial_det_has
        in: query
        required: false
        description: search within initial determination
        schema:
          type: string
      - name: accession_number_has
        in: query
        required: false
        description: search within accession number
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                add_observation:
                  type: string
                  description: attach the record to these observations
                remove_observation:
                  type: string
                  description: detach the record from these observations
                set_herbarium:
                  type: string
                  description: id or name of a herbarium
                set_initial_det:
                  type: string
                  description: change the initial determination
                set_accession_number:
                  type: string
                  description: change the fungarium accession number
                set_notes:
                  type: string
      responses:
        '200':
          description: Matching herbarium_records
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          initial_determination:
                            type: string
                          accession_number:
                            type: string
                          notes:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          herbarium_id:
                            type: integer
                          user_id:
                            type: integer
    delete:
      summary: Delete herbarium_records
      security:
      - api_key: []
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a herbarium_record
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: herbarium
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a herbarium
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: has_notes
        in: query
        required: false
        schema:
          type: boolean
      - name: initial_det
        in: query
        required: false
        description: initial determination
        schema:
          type: string
      - name: accession_number
        in: query
        required: false
        description: unique fungarium id
        schema:
          type: string
      - name: notes_has
        in: query
        required: false
        description: search within notes
        schema:
          type: string
      - name: initial_det_has
        in: query
        required: false
        description: search within initial determination
        schema:
          type: string
      - name: accession_number_has
        in: query
        required: false
        description: search within accession number
        schema:
          type: string
      responses:
        '200':
          description: Deleted
  "/api2/images":
    get:
      summary: Search / read images
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a image
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: date
        in: query
        required: false
        description: when photo taken
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: who uploaded the photo
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: location
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a location
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: project
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a project
          description: comma-separated list
        style: form
        explode: false
      - name: species_list
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a species_list
          description: comma-separated list
        style: form
        explode: false
      - name: has_observation
        in: query
        required: false
        description: is attached to an observation?
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: width or height at least 160 for thumbnail, 320 for small, 640
          for medium, 960 for large, 1280 for huge
        schema:
          type: string
      - name: content_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: has_notes
        in: query
        required: false
        schema:
          type: boolean
      - name: notes_has
        in: query
        required: false
        description: search within notes
        schema:
          type: string
      - name: copyright_holder_has
        in: query
        required: false
        description: search within copyright holder
        schema:
          type: string
      - name: license
        in: query
        required: false
        schema:
          type: string
          description: id or name of a license
      - name: has_votes
        in: query
        required: false
        schema:
          type: boolean
      - name: quality
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: confidence
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: ok_for_export
        in: query
        required: false
        schema:
          type: boolean
      - name: name
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a name
          description: comma-separated list
        style: form
        explode: false
      - name: include_synonyms
        in: query
        required: false
        schema:
          type: boolean
      - name: include_subtaxa
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Matching images
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          date:
                            type: string
                            format: date
                          copyright_holder:
                            type: string
                          notes:
                            type: string
                          quality:
                            type: number
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          original_name:
                            type: string
                          number_of_views:
                            type: integer
                          last_viewed:
                            type: string
                            format: date-time
                          ok_for_export:
                            type: boolean
                          license:
                            type: string
                          content_type:
                            type: string
                          md5sum:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                          original_url:
                            type: string
                            format: uri
                          owner_id:
                            type: integer
    post:
      summary: Create image
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                observations:
                  type: string
                  description: comma-separated list of string values
                vote:
                  type: string
                upload_url:
                  type: string
                upload_file:
                  type: string
                upload:
                  type: string
                date:
                  type: string
                  format: date
                  description: when photo taken
                notes:
                  type: string
                copyright_holder:
                  type: string
                license:
                  type: string
                  description: id or name of a license
                original_name:
                  type: string
                  description: original file name or other private identifier
                md5sum:
                  type: string
                projects:
                  type: string
                  description: comma-separated list of string values
      responses:
        '200':
          description: Matching images
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          date:
                            type: string
                            format: date
                          copyright_holder:
                            type: string
                          notes:
                            type: string
                          quality:
                            type: number
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          original_name:
                            type: string
                          number_of_views:
                            type: integer
                          last_viewed:
                            type: string
                            format: date-time
                          ok_for_export:
                            type: boolean
                          license:
                            type: string
                          content_type:
                            type: string
                          md5sum:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                          original_url:
                            type: string
                            format: uri
                          owner_id:
                            type: integer
    patch:
      summary: Update images
      security:
      - api_key: []
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a image
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: date
        in: query
        required: false
        description: when photo taken
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: who uploaded the photo
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: location
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a location
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: project
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a project
          description: comma-separated list
        style: form
        explode: false
      - name: species_list
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a species_list
          description: comma-separated list
        style: form
        explode: false
      - name: has_observation
        in: query
        required: false
        description: is attached to an observation?
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: width or height at least 160 for thumbnail, 320 for small, 640
          for medium, 960 for large, 1280 for huge
        schema:
          type: string
      - name: content_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: has_notes
        in: query
        required: false
        schema:
          type: boolean
      - name: notes_has
        in: query
        required: false
        description: search within notes
        schema:
          type: string
      - name: copyright_holder_has
        in: query
        required: false
        description: search within copyright holder
        schema:
          type: string
      - name: license
        in: query
        required: false
        schema:
          type: string
          description: id or name of a license
      - name: has_votes
        in: query
        required: false
        schema:
          type: boolean
      - name: quality
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: confidence
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: ok_for_export
        in: query
        required: false
        schema:
          type: boolean
      - name: name
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a name
          description: comma-separated list
        style: form
        explode: false
      - name: include_synonyms
        in: query
        required: false
        schema:
          type: boolean
      - name: include_subtaxa
        in: query
        required: false
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                set_dhash:
                  type: integer
                set_date:
                  type: string
                  format: date
                  description: when photo taken
                set_notes:
                  type: string
                set_copyright_holder:
                  type: string
                set_license:
                  type: string
                  description: id or name of a license
                set_original_name:
                  type: string
                  description: original file name or other private identifier
      responses:
        '200':
          description: Matching images
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          date:
                            type: string
                            format: date
                          copyright_holder:
                            type: string
                          notes:
                            type: string
                          quality:
                            type: number
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                          original_name:
                            type: string
                          number_of_views:
                            type: integer
                          last_viewed:
                            type: string
                            format: date-time
                          ok_for_export:
                            type: boolean
                          license:
                            type: string
                          content_type:
                            type: string
                          md5sum:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                          original_url:
                            type: string
                            format: uri
                          owner_id:
                            type: integer
    delete:
      summary: Delete images
      security:
      - api_key: []
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a image
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: date
        in: query
        required: false
        description: when photo taken
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: who uploaded the photo
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      - name: location
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a location
          description: comma-separated list
        style: form
        explode: false
      - name: observation
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a observation
          description: comma-separated list
        style: form
        explode: false
      - name: project
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a project
          description: comma-separated list
        style: form
        explode: false
      - name: species_list
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a species_list
          description: comma-separated list
        style: form
        explode: false
      - name: has_observation
        in: query
        required: false
        description: is attached to an observation?
        schema:
          type: boolean
      - name: size
        in: query
        required: false
        description: width or height at least 160 for thumbnail, 320 for small, 640
          for medium, 960 for large, 1280 for huge
        schema:
          type: string
      - name: content_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: comma-separated list
        style: form
        explode: false
      - name: has_notes
        in: query
        required: false
        schema:
          type: boolean
      - name: notes_has
        in: query
        required: false
        description: search within notes
        schema:
          type: string
      - name: copyright_holder_has
        in: query
        required: false
        description: search within copyright holder
        schema:
          type: string
      - name: license
        in: query
        required: false
        schema:
          type: string
          description: id or name of a license
      - name: has_votes
        in: query
        required: false
        schema:
          type: boolean
      - name: quality
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: confidence
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: ok_for_export
        in: query
        required: false
        schema:
          type: boolean
      - name: name
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a name
          description: comma-separated list
        style: form
        explode: false
      - name: include_synonyms
        in: query
        required: false
        schema:
          type: boolean
      - name: include_subtaxa
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Deleted
  "/api2/locations":
    get:
      summary: Search / read locations
      parameters:
      - "$ref": "#/components/parameters/detail"
      - "$ref": "#/components/parameters/page"
      - name: north
        in: query
        required: false
        description: max latitude
        schema:
          type: number
          minimum: -90
          maximum: 90
      - name: south
        in: query
        required: false
        description: min latitude
        schema:
          type: number
          minimum: -90
          maximum: 90
      - name: east
        in: query
        required: false
        description: max longitude
        schema:
          type: number
          minimum: -180
          maximum: 180
      - name: west
        in: query
        required: false
        description: min longitude
        schema:
          type: number
          minimum: -180
          maximum: 180
      - name: id
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: id or name of a location
          description: comma-separated list
        style: form
        explode: false
      - name: created_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: updated_at
        in: query
        required: false
        schema:
          type: string
          description: range, submitted as `min-max`
      - name: user
        in: query
        required: false
        description: creator / first to use
        schema:
          type: array
          items:
            type: string
            description: id or name of a user
          description: comma-separated list
        style: form
        explode: false
      responses:
        '200':
          description: Matching locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  run_date:
                    type: string
                    format: date-time
                  user:
                    type: integer
                  query:
                    type: string
                  number_of_records:
                    type: integer
                  number_of_pages:
                    type: integer
                  page_number:
                    type: integer
                  run_time:
                    type: number
                  results:
                    description: matching ids at `detail=none` (the default); the
                      objects documented here at `low`, with nested detail at `high`
                    type: array
                    items:
                      oneOf:
                      - type: integer
                      - type: object
                        properties:
                          id:
                            type: integer
                          type:
                            type: string
                          name:
                            type: string
                          latitude_north:
                            type: number
                          latitude_south:
                            type: number
                          longitude_east:
                            type: number
                          longitude_west:
                            type: number
                          altitude_maximum:
                            type: number
                          altitude_minimum:
                            type: number
[...]
