From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: mary@collectivesource.com
Subject: [MO] Consensus Changed from Agaricus campestris L. to Coprinus comatus (O.F. Mull.) Pers.
<html>
<head>
<title>Mushroom Observer: Consensus Changed from Agaricus campestris L. to Coprinus comatus (O.F. Müll.) Pers.</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Consensus Change</strong></h2>
<p>Consensus has changed for observation #<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>:</p></div>
<div class="textile"><p><strong>Old name:</strong> <a href="https://mushroomobserver.org/names/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris) %>"><b><i>Agaricus campestris</i></b> L.</a><br />
<strong>New name:</strong> <a href="https://mushroomobserver.org/names/<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus) %>"><b><i>Coprinus comatus</i></b> (O.F. Müll.) Pers.</a><br />
<strong>Time:</strong> IGNORE IGNORE IGNORE<br />
<strong>By:</strong> Tricky Dick (dick)</p></div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="https://mushroomobserver.org/432936842">https://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %></a></li>
<li>Post a comment: <a href="https://mushroomobserver.org/comments/new?target=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation">https://mushroomobserver.org/comments/new?target=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation</a></li>
<li>I&#8217;m not interested in this observation: <a href="https://mushroomobserver.org/interests/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=-1">https://mushroomobserver.org/interests/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation&amp;user=365790011&amp;state=-1</a></li>
<li>Stop sending me email like this: <a href="https://mushroomobserver.org/account/no_email/<%= ActiveRecord::FixtureSet.identify(:mary) %>?type=observations_consensus">https://mushroomobserver.org/account/no_email/<%= ActiveRecord::FixtureSet.identify(:mary) %>?type=observations_consensus</a></li>
<li>Change your preferences: <a href="https://mushroomobserver.org/account/preferences/edit">https://mushroomobserver.org/account/preferences/edit</a></li>
<li>Latest changes at Mushroom Observer: <a href="https://mushroomobserver.org">https://mushroomobserver.org</a></li>
</ul>
<br/>
</body>
</html>
