<%
  add_project_banner(@project)
  container_class(:wide)
  project_id = @project.id
%>

<h1>Project Aliases</h1>

<%=
  make_table(headers: project_alias_headers,
             rows: project_alias_rows(@project_aliases),
             table_opts: { class: "table table-striped table-project-members mt-3",
             id: "index_project_alias_table"})
%>

<%= link_to(:project_alias_new.t, new_project_alias_path(project_id:)) %>
