<%
  add_project_banner(@project_alias.project)
  set_container(:text)
  project_id = @project_alias.project_id
%>

<h1><%= :project_alias_new.l %></h1>

<%= render("form", project_alias: @project_alias, local: true) %>

<%= link_to("Back", project_aliases_path(project_id: @project_alias.project_id)) %>
