<%
  add_project_banner(@project_alias.project)
  @container = :wide
  project_id = @project_alias.project_id
%>

<h1>New Project Alias</h1>

<%= render('form', project_alias: @project_alias) %>

<%= link_to('Back', project_aliases_path(project_id: @project_alias.project_id)) %>
