<%= link_to new_observation_path,
            class: "mx-2 btn btn-link border-0",
            id: "create_link" do %>
      <span class="text-nowrap"><span class="mr-2">Create</span><span class="fas fa-edit"></span></span>
<% end %>
