<%
# bs4
# TODO: replace with full width carousel - details, then columns
# The move is to make the whole top thing a card:
#    carousel header details footer
@owner_naming = owner_naming_line(@observation) # must before show_obs_title
add_page_title(show_obs_title(obs: @observation, owner_naming: @owner_naming))
add_owner_naming(@owner_naming)
add_pager_for(@observation)
add_interest_icons(@user, @observation)
add_tab_set(show_observation_tabs(obs: @observation, user: @user))

@container = :double

show_map   = @user ? @user.thumbnail_maps : !session[:hide_thumbnail_maps]
show_lists = @user && @observation.species_lists.any?
show_links = @user && (@observation.external_links.any? || @new_sites.any?)

bp = "lg" # breakpoint, for easier adjustment
obs_locals = { obs: @observation, bp: bp }
obs_changes = if check_permission(@observation)
                tag.div(class: "observation-change-links") do
                  obs_change_buttons(obs: @observation).safe_join
                end
              else
                ""
              end
%>

<div class="card card-combination mb-4">

  <div class="row no-gutters">
    <%= tag.div(class: "col-#{bp}-8 card-combination-left") do
      render(partial: "shared/images/carousel",
             locals: { object: @observation, images: @observation.images,
                       default_image: @observation&.thumb_image || nil })
    end %>

    <%= tag.div(class: "col-#{bp}-4 card-combination-right") do
          render(partial: "observations/show/observation_info",
                 locals: obs_locals.merge(obs_changes: obs_changes))
    end %>
  </div><!--.row-->

</div><!--.card-->

<div class="row">

  <%= tag.div(class: "col-#{bp}-8 col-xl-7") do
    if @user
      concat(render(partial: "observations/show/namings", locals: obs_locals))
    end
    concat(render(partial: "comments/comments_for_object",
               locals: { object: @observation, controls: true, limit: nil }))
    concat(@observation.source_credit.tpl) if @observation.source_noteworthy?
  end %>

  <%= tag.div(class: "col-#{bp}-4 col-xl-5 mt-4 mt-#{bp}-0") do
    if @user
      concat(render(partial: "observations/show/name_info",
                    locals: obs_locals))
    end
    if show_lists
      concat(
        render(partial: "observations/show/species_lists", locals: obs_locals)
      )
    end
    if show_links
      concat(render(partial: "observations/show/links", locals: obs_locals))
    end
    if show_map
      concat(render(partial: "observations/show/thumbnail_map",
                    locals: obs_locals))
    end
  end %>

</div><!--.row-->

