<%= fields_for(:project) do |f_p| %>
  <div class="form-group">
    <%= f.label(:project, "#{:PROJECTS.t}:") %>
    <%= content_tag(:span, :form_species_lists_project_help.t,
                    class: "help-note") %>
    <div class="form-group">
      <% @projects.each do |project| %>
        <%= check_box_with_label(form: f_p, field: :"id_#{project.id}",
                                 checked: @project_checks[project.id],
                                 disabled: @species_list.user_id != @user.id &&
                                   !project.is_member?(@user),
                                 text: link_to_object(project)) %>
      <% end %>
    </div>
  </div>
<% end %>
