# frozen_string_literal: true

class <%= class_name %>::Component < <%= parent_class %>
  with_collection_parameter :<%= singular_name %>
<%- if initialize_signature -%>
  <%= initialize_signature %>
<%- end -%>
end
