<%
container_class(:wide)
add_index_title(@query)
add_context_nav(Tab::Article::IndexActions.new(user: @user))
add_sorter(@query, controller.index_sort_options)
add_pagination(@pagination_data)

flash_error(@error) if @error && @objects.empty?
%>

<%= paginated_results do %>
  <div class="list-group">
    <%= render(partial: "articles/object", collection: @objects) %>
  </div>
<% end %>
