<% # Observation title for Sequence templates %>
<div class="row">
  <div class="col-xs-12 max-width-text">
    <span class="bold"><%= :OBSERVATION.t %></span>:
    <%= observation.name.display_name.t %> (<%= observation.id %>)
  </div>
</div>
