<%
  @title = :glossary_term_index_title.t

  tabs = [
    link_to(:create_glossary_term.t, action: :create_glossary_term)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= :glossary_term_index_intro.tp %>
  </div>
</div>

<table class="table table-striped">
  <% @glossary_terms.each do |glossary_term| %>
    <tr>
      <td class="max-width-text">
        <h4><%= link_to(glossary_term.name, action: :show_glossary_term,
                        id: glossary_term.id) %>:</h4>
        <%= glossary_term.description.tpl %>
      </td>
      <td>
        <%= if glossary_term.thumb_image_id && glossary_term.thumb_image_id != 0
          thumbnail(glossary_term.thumb_image, votes: true)
        end %>
      </td>
    </tr>
  <% end %>
</table>
