<%
   @title = :glossary_term_index_title.t
   @tabsets = {right: render(partial: "shared/tab_set",
                             locals: {
                                     links: [link_to(:create_glossary_term.t, {action: :create_glossary_term}, style: "font-size: 1.2em")]
                             }
   )}
%>

<%= :glossary_term_index_intro.tp %>

<table class="table table-striped">
  <% @glossary_terms.each do |glossary_term| %>
      <tr>
        <td>
          <%= link_to(content_tag(:b, glossary_term.name), :action => "show_glossary_term", :id => glossary_term.id) %>:
          <%= glossary_term.description.tpl %>
        </td>
        <td>
          <%= if glossary_term.thumb_image_id and glossary_term.thumb_image_id != 0
                thumbnail(glossary_term.thumb_image_id, votes: true)
              end %>
        </td>
      </tr>
  <% end %>
</table>
