<%
  @title = :comment_edit_title.t(name: @target.unique_format_name)

  tabs = [
    link_with_query(:cancel_and_show.t(type: :comment),
                    @comment.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 max-width-text">
    <%= render "form" locals: { button_name: :SAVE_EDITS.l } %>
  </div>
</div>

<div class="row">
  <div class="col-12 max-width-text">
    <%= render(partial: "object", object: @target) %>
  </div>
</div>
