<%
@container = :full
add_page_title(:comment_add_title.t(name: @target.unique_format_name))
add_tab_set(comment_form_new_tabs(target: @target))
%>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <%= render(partial: "form", locals: { action: :create, local: true }) %>
    <%= render(partial: "object", object: @target) %>
  </div>

  <% if @target.is_a?(Observation) %>
    <div class="col-xs-12 col-sm-4">
      <%= render(partial: "observations/show/images",
                 locals: { obs: @target, thumb_size_control: false }) %>
    </div>
  <% end %>
</div><!--.row-->
