<%
tabs = create_tabs(comment_form_new_links(target: @target))
@tabsets = { right: draw_tab_set(tabs) }
@container = :full
%>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <%= render(partial: "form", locals: { action: :create, local: true }) %>
    <%= render(partial: "object", object: @target) %>
  </div>

  <% if @target.is_a?(Observation) %>
    <div class="col-xs-12 col-sm-4">
      <%= render(partial: "observations/show/images",
                 locals: { observation: @target, thumb_size_control: false }) %>
    </div>
  <% end %>
</div><!--.row-->
