<%
  @title = :create_herbarium_title.l
  new_tab_set do
    add_tab(:herbarium_index.t, action: :index)
  end
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= form_tag(action: :create_herbarium) do %>
      <%= render(partial: "form", locals: {button: :create_herbarium_add}) %>
    <% end %>
  </div>
</div>
