<%
  @title = :edit_herbarium_title.l

  tabs = [
    link_to(:cancel_and_show.t(type: :herbarium), @herbarium.show_link_args),
    link_to(:herbarium_index.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(action: :edit_herbarium, id: @herbarium) do %>
    <%= render(partial: "form", locals: {button: :edit_herbarium_save}) %>
  <% end %>
</div>
