<%
  @title = :herbarium_index_title.t
   new_tab_set do
     add_tab(:create_herbarium.t, :action => 'create_herbarium')
  end
%>

<table>
<% for herbarium in @herbaria %>
  <tr>
    <td>
      <%= link_to(herbarium.name, :action => "show_herbarium", :id => herbarium.id) %>
    </td>
    <% if is_in_admin_mode? %>
      <td>
        <%= link_to(:edit_herbarium.t, :action => "edit_herbarium", :id => herbarium.id) %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
