<table cellpadding="10">
  <tr>
    <td align="center" valign="middle" width="160">
      <%= thumbnail(image_reuse, :border => 0, :link => link_args,
                    :votes => true, :original => true) %>
    </td>
  </tr>
</table>
