<div class="image_vote_container">
  <table class="vote_meter" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td>
        <small><a href="#" onclick="image_vote(501682,'1'); return false;" title="Okay but not so useful.">Okay</a>
        </small>
      </td>
      <td>
        <small>&nbsp;|&nbsp;<a href="#" onclick="image_vote(501682,'2'); return false;" title="Useful for identification.">Useful</a>
        </small>
      </td>
      <td>
        <small>&nbsp;|&nbsp;<a href="#" onclick="image_vote(501682,'3'); return false;" title="Good enough for a field guide.">Good</a>
        </small>
      </td>
      <td>
        <small>&nbsp;|&nbsp;<a href="#" onclick="image_vote(501682,'4'); return false;" title="Great! Beyond the work of mortals.">Great</a>
        </small>
      </td>
    </tr>
    </tbody>
  </table>
</div>