<div class="img-theater-btn">
  <button type="button" class="close" data-dismiss="theater" style="font-size: 50px; opacity: 1" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="img-theater-div">
</div>
