<% @title = :image_vote_anonymity_title.t %>

<%= form_tag do %>
  <%= :image_vote_anonymity_num_anonymous.t %>: <%= @num_anonymous %><br/>
  <%= :image_vote_anonymity_num_public.t %>: <%= @num_public %><br/>
  <br/>

  <%= submit_tag(:image_vote_anonymity_make_anonymous.l) %><br/>
  <%= submit_tag(:image_vote_anonymity_make_public.l) %><br/>
<% end %>
