<% @title = 'Images by Title' %>
<div id="Title"><%= @title %></div>
<%
  for image in @images %>
<%= link_to(sprintf("%s %s %s", textilize_without_paragraph(h(image.unique_format_name)), image.when,
                    h(image.user.unique_text_name)),
            :action => 'show_image', :id => image.id) %><br/>
<%
  end
%>
