<%
  new_tab_set(:sort_by_header.t, @sorts)
  new_tab_set(@links)
%>

<% paginate_block(@pages) do %>
  <% make_matrix(@objects, :width => '100%') do |image| %>
    <%= render(:partial => 'image', :object => image) %>
  <% end %>
<% end %>
