<%
  new_tab_set(:sort_by_header.t, @sorts)
  new_tab_set(@links)
  flash_error(@error) if @error and (!@objects or @objects.empty?)
%>

<div class="color-block">
<%= paginate_block(@pages) do %>
    <% @objects.each do |image| %>
        <div class="col-sm-4 color-block-item">
          <%= render(:partial => 'observer/rss_log', locals: {:object => image}) %>
        </div>
    <% end %>
<% end %>
</div>
