<%
  if @links.any?
    tabs = create_links(@links)
    @tabsets = { right: draw_tab_set(tabs) }
  end

  flash_error(@error) if @error && @objects.empty?
%>

<div class="mt-3 mb-3">
  <%= paginate_block(@pages) do %>
    <%= render(partial: "shared/matrix_box", layout: "shared/matrix_table",
               collection: @objects, as: :object)  %>
    <div class="clearfix"></div>
  <% end %>
</div>
