<%
  new_tab_set(@links) if @links && @links.any?
  flash_error(@error) if @error and (!@objects or @objects.empty?)
%>

<%= paginate_block(@pages) do %>
  <%= make_matrix(@objects) do |image| %>
    <div class="push-down push-up">
      <%= render(partial: "shared/matrix_box", locals: {object: image}) %>
    </div>
  <% end %>
<% end %>
