<%
  @title = 'Test Add Image Report'

  new_tab_set do
    add_tab('Test Again', :action => 'test_add_image')
  end
%>

<table cellpadding="5" cellspacing="5" border=1>
  <tr class="Data">
    <td>
      Id
    </td>
    <td>
      User
    </td>
    <td>
      Start
    </td>
    <td>
      End
    </td>
    <td>
      Elapsed
    </td>
    <td>
      Count
    </td>
    <td>
      Bytes
    </td>
  </tr>

  <% for entry in @log_entries %>
    <tr>
      <td>
        <%= entry.id %>
      </td>
      <td>
        <%= entry.user ? entry.user.login : '' %>
      </td>
      <td>
        <%= entry.created_at %>
      </td>
      <td>
        <%= entry.upload_end %>
      </td>
      <td>
        <% if entry.created_at and entry.upload_end %>
          <%= entry.upload_end - entry.created_at %>
        <% end %>
      </td>
      <td>
        <%= entry.image_count %>
      </td>
      <td>
        <%= entry.image_bytes %>
      </td>
    </tr>
  <% end %>
</table>
