<% if !@name.lifeform.blank? %>
  <div class="mb-2">
    <% @name.lifeform.strip.split(" ").each do |word| %>
      <p><%= :"lifeform_#{word}".t %></p>
    <% end %>
  </div>
<% end %>

<% if @first_child %>
  <p><%= link_to :show_name_propagate_lifeform.t,
                 names_propagate_lifeform_path(id: @name.id,
                   q: get_query_param) %></p>
<% end %>
