<% if !@name.lifeform.blank? %>
  <div class="mb-2">
    <% @name.lifeform.strip.split(" ").each do |word| %>
      <p><%= :"lifeform_#{word}".t %></p>
    <% end %>
  </div>
<% end %>

<% if @first_child %>
  <p><%= link_with_query(:show_name_propagate_lifeform.t,
                         controller: :names, action: :propagate_lifeform,
                         id: @name.id) %></p>
<% end %>
