<% @title = "MO Maintenance" %>

<p>Sorry, this action no longer seems to exist...</p>

<% if false %>
  <% for (key, value) in @users %>
    <%= "#{key}: #{value}"%><br/>
  <% end %>
  <br/>

  <% for datum in @data %>
    <%= link_to(datum[:name].t,
                name_path(id: datum[:id])) %>
    <%= datum[:login] %><br/>
  <% end %>
<% end %>
