<%
if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= @body.html_safe %>
<br/>
</body>
</html>
<% else %><%= @body.html_to_ascii %>
<% end %>
