<%# good image section of create_observation form %>

<div class="row my-4 form_image">

  <!-- GOOD_IMAGE -->
  <div class="col-1" style="max-width:30px">
    <div class="form-check">
      <%= f.radio_button(:thumb_image_id, image.id,
                         class: "form-check-input position-static",
                         aria: { label: "Make this the default thumbnail" }) %>
    </div><!--.form-check-->
  </div><!--.col-->

  <div class="col-11 col-md-3">
    <%= interactive_image(image, votes: false) %>
  </div><!--.col-->

  <div class="col-12 col-md-8">
    <% if check_permission(image) %>
      <%= render(partial: "observations/form/good_image_fields",
               locals: { f: f, image: image })
      %>
    <% end # if check_permission %>
  </div><!--.col-->
  <!-- GOOD_IMAGE -->

</div><!--.row.form_image-->
