<%# Images upload section of create_observation form %>

<div class="my-4" id="observation_images_upload">

  <%= tag.p(:form_observations_upload_images.t + ":",
            class: "font-weight-bold") %>

  <%= render(partial: "observations/form/images_upload/multi",
            locals: { f: f }) %>

</div><!--#observation_images_upload-->
