<%# When section of create_observation form %>

<!-- WHEN -->
<div class="container-text">
  <%= f.label(:when, :WHEN.t + ":") %>
  <div class="form-group form-inline">
    <%= f.date_select(:when, date_select_opts(@observation),
        { class: "form-control mb-2",
          data: { controller: "year-input" } }) %>
  </div>
</div><!--.container-text-->
<!-- /WHEN -->

