<%# When section of create_observation form %>

<!-- WHEN -->
<div class="container-text">
  <%= date_select_with_label(
    form: f, field: :when, object: @observation, label: :WHEN.t + ":",
    data: { action: "obs-form-images#updateObservationDateRadio" }
  ) %>
</div><!--.container-text-->
<!-- /WHEN -->

