<%
  @title = :edit_publication_title.l

  tabs = [
    link_to(:cancel_and_show.t(type: :publication), @publication),
    link_to(:publication_index.t, publications_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= render "form", locals: { button_name: :SAVE } %>
</div>
