<%
  @title = :create_publication_title.l

  tabs = [
    link_to(:cancel_and_show.t(type: :publication), @publication),
    link_to(:publication_index.t, publications_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_for(@publication, action: :create) do |form| %>
    <%= render(partial: "form", locals: {form: form}) %>
    <%= form.submit(:CREATE.t, class: "btn mx-auto mt-3") %>
  <% end %>
</div>
