<%
  @title = :create_publication_title.l
  new_tab_set do
    add_tab(:cancel_and_show.t(type: :publication), @publication)
    add_tab(:publication_index.t, publications_path)
  end
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= form_for(@publication, action: :create) do |form| %>
      <%= render(partial: "form", locals: {form: form}) %>
      <%= form.submit(:CREATE.t, class: "btn center-block push-down") %>
    <% end %>
  </div>
</div>
