<%
@container = :wide
# the no_hits_title.
@title ||= :ARTICLES.t
add_tab_set(articles_index_links(user: @user))
add_sorter(@query, articles_index_sorts)

flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <div class="list-group">
    <%= render(partial: "object", collection: @objects) %>
  </div>
<% end %>
