<%
  @title ||= :ARTICLES.t
  tabs = index_tabs + create_links(@links)
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
%>

<!-- list the projects -->
<%= paginate_block(@pages) do %>
  <div class="list-group")>
    <%= render(partial: "object", collection: @objects) %>
  </div>
<% end %>
