<%
  @title ||= :ARTICLES.t
  tabs = index_tabs_for_user(@user) + create_links(@links)
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <div class="list-group")>
    <%= render(partial: "object", collection: @objects) %>
  </div>
<% end %>
