<% @title = :create_article_title.l
   # tabs = [link_to(:index_article.t, articles_path)]
   # @tabsets = { right: draw_tab_set(tabs) }
   @navbar = {} # reset
   @navbar[:title] = { title: :ARTICLES.t, url: articles_path }
%>

<div class="form-max-width mt-4">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= render "articles/form" %>
</div>
