<%
  @title = :theme_black_on_white.tl

  tabs = [
    link_to(:theme_list.t,
            controller: "/themes",
            action: :color_themes),
    link_to(:app_preferences.t,
            controller: "/account",
            action: :prefs)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :theme_black_on_white_description.tp(link: "XXX").sub("XXX",
      link_to("**__Amanita__**".t,
              action: :Amanita)).html_safe %>

  <%= :theme_switch.tp(theme: :BlackOnWhite.t) %>
</div>
