<%
add_index_title(@query)
add_tab_set(name_description_index_links(query: @query))
add_sorter(@query, descriptions_index_sorts)
flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <table class="table table-striped">
      <% (@objects || []).each do |desc| %>
        <tr>
          <td><%= link_with_query(desc.format_name.t,
                                  name_description_path(desc.id)) %><td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
