<%
  if @links.any?
    tabs = create_links(@links)
    @tabsets = { right: draw_tab_set(tabs) }
  end

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <table class="table table-striped">
      <% (@objects || []).each do |desc| %>
        <tr>
          <td><%= link_with_query(
                    desc.format_name.t,
                    action: :show,
                    id: desc.id
                  ) %><td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
