<div id="status_buttons">
  <div class="visual_group_status_links_container mt-n2" id="visual_group_status_links_<%= image_id %>">
    <div class="text-center">
      <small>
	<%= [visual_group_status_link(visual_group, image_id, status, nil),
	     visual_group_status_link(visual_group, image_id, status, true),
	     visual_group_status_link(visual_group, image_id, status, false)].safe_join("|") %>
      </small>
    </div><!-- .text-center -->
    <span class="hidden data_container" data-id="<%= image_id %>"</span>
  </div>
</div>
