<h2>All Semantic Speices</h2>
<div>
	<ul>
		<% @all.each do |species| %>
		<li>
			<%= link_to(species["label"],
									:controller => "semantic_species",
									:action => "show",
									:uri => species["uri"]) %>
		</li>
		<% end %>
	</ul>
</div>