<!--CALLOUT_BANNERS-->
<div id="banners" class="hidden-print">

  <% if in_admin_mode? %>
    <div id="admin_banner" class="h3 text-center font-weight-bold p-2">
      DANGER: You are in administrator mode. Proceed with caution.
    </div>
  <% elsif session[:real_user_id].present? %>
    <div id="admin_banner" class="h3 text-center font-weight-bold p-2">
      DANGER: You are currently logged in as <%= User.current.login %>.
    </div>
  <% end %>

  <div data-controller="banner">
    <div id="banner" class="alert alert-success message-banner" data-banner-target="banner">
      <button
	class="close"
	id="dismiss-banner"
	data-banner-target="dismissButton"
	aria-label="Close"
	data-version="<%= Banner.current.version %>">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      </button>
      <p><%= Banner.current.message.t %></p>
    </div>

    <div class="show_banner_container position-relative d-block w-100 py-2 text-right" data-banner-target="container">
      <div data-banner-target="showButton" class="show_banner_icon text-green d-block">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>
<!--/CALLOUT_BANNERS-->
