<!--CALLOUT_BANNERS-->
<div id="banners" class="hidden-print">

  <% if in_admin_mode? %>
    <div id="admin_banner" class="h3 text-center font-weight-bold p-2">
      DANGER: You are in administrator mode. Proceed with caution.
    </div>
  <% elsif session[:real_user_id].present? %>
    <div id="admin_banner" class="h3 text-center font-weight-bold p-2">
      DANGER: You are currently logged in as <%= User.current.login %>.
    </div>
  <% end %>

  <% if (current_banner = Banner.current) && cookies[:dismissed_banner_version] != current_banner.version.to_s %>
    <div id="banner" class="alert alert-success message-banner" data-controller="banner" data-banner-target="banner">
      <button
	class="close"
	id="dismiss-banner"
	data-banner-target="dismissButton"
	aria-label="Close"
	data-version="<%= current_banner.version %>"><span aria-hidden="true">&times;</span></button>
      <p><%= current_banner.message.t %></p>
    </div>
  <% end %>
</div>
<!--/CALLOUT_BANNERS-->
