<%
@container = :full
add_page_title(:profile_title.t)
add_tab_set(account_profile_edit_links)
%>

<div class="row">
  <div class="col-sm-7">
    <%= render(partial: "account/profile/form") %>
  </div>

  <div class="col-sm-5 text-center">
    <% if @user.image %>
      <%= interactive_image(@user.image_id, votes: false) %>
      <%= put_button(name: :profile_image_remove.t,
                     path: account_profile_remove_image_path,
                     data: { confirm: :are_you_sure.l }) %>
    <% end %>
  </div>
</div><!--.row-->

