<%
  @title = :profile_title.t

  tabs = [
    link_to(:bulk_license_link.t, images_license_updater_path),
    link_to(:show_user_your_notifications.t, interests_path),
    link_to(:prefs_link.t, edit_account_preferences_path),
    link_to(:account_api_keys_link.t, account_api_keys_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
  @container = :full
%>

<div class="row">
  <div class="col-sm-7">
    <%= render(partial: "account/profile/form") %>
  </div>

  <div class="col-sm-5 text-center">
    <% if @user.image %>
      <%= thumbnail(@user.image_id, votes: false) %>
      <%= put_button(name: :profile_image_remove.t,
                     path: account_profile_remove_image_path,
                     data: { confirm: :are_you_sure.l }) %>
    <% end %>
  </div>
</div><!--.row-->

