<%
  @title = :profile_title.t

  tabs = create_tabs(account_profile_edit_links)
  @tabsets = { right: draw_tab_set(tabs) }
  @container = :full
%>

<div class="row">
  <div class="col-sm-7">
    <%= render(partial: "account/profile/form") %>
  </div>

  <div class="col-sm-5 text-center">
    <% if @user.image %>
      <%= thumbnail(@user.image_id, votes: false) %>
      <%= put_button(name: :profile_image_remove.t,
                     path: account_profile_remove_image_path,
                     data: { confirm: :are_you_sure.l }) %>
    <% end %>
  </div>
</div><!--.row-->

