<%
add_page_title(:email_new_password_title.t)
%>

<div class="help-note">
  <%= :email_new_password_help.tp + :email_spam_notice.tp %>
</div>

<%= form_with(scope: :new_user, url: account_new_password_request_path,
              id: "account_email_new_password_form") do |f| %>

  <%= text_field_with_label(form: f, field: :login,
                            label: :login_user.t + ":", class: "mt-3",
                            data: { autofocus: true }) %>

  <%= submit_button(form: f, button: :SEND.l, center: true) %>

<% end %>
