<%
add_page_title(:show_site_stats_title.t)

add_tab_set(info_site_stats_tabs)
@container = :full
%>

<div class="row mt-3">
  <div class="hidden-xs col-md-3">
    <% obs_length = @observations ? @observations.length : 0
    if obs_length > 0 %>
      <% @observations[0,3].each do |obs| %>
        <div class="pb-1">
          <%= interactive_image(
            obs.thumb_image, image_link: observation_path(obs.id), votes: true
          ) %><br/><br/>
        </div>
      <% end %>
    <% end %>
  </div><!--.row-->

  <div class="col-md-6 center-block">
    <table class="table">
      <% SiteData::SITE_WIDE_FIELDS.each do |field|
        label = "site_stats_#{field}".to_sym.t
        count = @site_data[field]
        if count && label.present? %>
          <tr>
            <td><%= "site_stats_#{field}".to_sym.t %></td>
            <td class="text-right"><%= count %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="hidden-xs col-md-3">
    <% if obs_length > 3 %>
      <% @observations[3,3].each do |obs| %>
        <%= interactive_image(
          obs.thumb_image, image_link: observation_path(obs.id), votes: true
        ) %><br/><br/>
      <% end %>
    <% end %>
  </div>
</div><!--.row-->
