<%
add_new_title(:search_object, :NAMES)
container_class(:wide)
%>

<div id="names_search_container">
  <%= render(Components::SearchForm.new(
        @search,
        search_controller: controller,
        local: @local != false
      )) %>
</div>
