<div class="col-sm-6">
  <div id="name_lifeform">
    <strong><%= :show_name_lifeform.t %>:</strong>
    <% if @user %>
      [<%= link_with_query(:EDIT.t,
                            edit_name_lifeform_path(@name.id)) %>]
    <% end %>
    <%= panel_block(inner_class: "name-section", id: "lifeform_section",
                    data: { name_panels_target: "lifeform" }) do
      render(partial: "names/show/lifeform")
    end %>
  </div>
</div><!--#name_lifeform-->
