body {
  background-color: #DD00DD;
  color: #000000;
}
.LeftSide {
  background-color: #FFFF00;
}

.faint { color: #770077 }

.Admin {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.input_image { color: #000000; }
img { border-color: #000000; }
a img:hover { border-color: #ff0000; }

li.selected { background-color: #ff0000 ! important }

.ListLine0                                 { background: #aa00aa; }
.ListLine0 div.textile table               { background: #220022; }
.ListLine0 div.textile table table.noborder { background: #aa00aa; }
.ListLine0 div.textile table table td      { background: #aa00aa; }

.ListLine1                                 { background: #aaaa00; }
.ListLine1 div.textile table               { background: #222200; }
.ListLine1 div.textile table table.noborder { background: #aaaa00; }
.ListLine1 div.textile table table td      { background: #aaaa00; }

table.vote_meter div.on { background: #000000 }

/* Pivotal page. */
div.pivotal { background: #B0B }
span.pivotal_name a, span.pivotal_name a:visited { color: #000 }
span.pivotal_name a:hover                        { color: #00F }
span.pivotal_unscheduled, a.pivotal_unscheduled, a.pivotal_unscheduled:visited { color: #CC3 }
span.pivotal_unstarted,   a.pivotal_unstarted,   a.pivotal_unstarted:visited   { color: #FF7 }
span.pivotal_started,     a.pivotal_started,     a.pivotal_started:visited     { color: #FFF }
a.pivotal_unscheduled:hover, a.pivotal_unstarted:hover, a.pivotal_started:hover { color: #000; background: #FFF }
a.pivotal_unscheduled, a.pivotal_unstarted, a.pivotal_started { border: 1px solid #606 }
a.pA, a.pX, a.p0, a.p1, a.p2, a.p3, a.p4 { border: 1px solid #606 }
a.pA:hover, a.pA:visited:hover { color: #000; background: #AF8 }
a.pX:hover, a.pX:visited:hover { color: #000; background: #FFF }
a.p0:hover, a.p0:visited:hover { color: #000; background: #AAF }
a.p1:hover, a.p1:visited:hover { color: #000; background: #F38 }
a.p2:hover, a.p2:visited:hover { color: #000; background: #F83 }
a.p3:hover, a.p3:visited:hover { color: #000; background: #FF0 }
a.p4:hover, a.p4:visited:hover { color: #000; background: #FF0 }
a.p_day,   a.p_day:visited   { color: #AAFF88 }
a.p_week,  a.p_week:visited  { color: #8ED672 }
a.p_month, a.p_month:visited { color: #78B460 }
a.p_none,  a.p_none:visited  { color: #669951 }
a.pX, a.pX:visited { color: #FFF }
a.p0, a.p0:visited { color: #AAF }
a.p1, a.p1:visited { color: #F38 }
a.p2, a.p2:visited { color: #F83 }
a.p3, a.p3:visited { color: #FF0 }
a.p4, a.p4:visited { color: #FF0 }

