body {
  background-color: #DD00DD;
  color: #000000;
}
.LeftSide {
  background-color: #FFFF00;
}

.Admin {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.input_image { color: #000000; }
img { border-color: #000000; }
a img:hover { border-color: #ff0000; }

li.selected { background-color: #ff0000 ! important }

.ListLine0                                 { background: #aa00aa; }
.ListLine0 div.textile table               { background: #220022; }
.ListLine0 div.textile table table.noborder { background: #aa00aa; }
.ListLine0 div.textile table table td      { background: #aa00aa; }

.ListLine1                                 { background: #aaaa00; }
.ListLine1 div.textile table               { background: #222200; }
.ListLine1 div.textile table table.noborder { background: #aaaa00; }
.ListLine1 div.textile table table td      { background: #aaaa00; }

table.vote_meter div.on { background: #000000 }
