body { background-color: #f6f0f2; color: #3b2821; }

a { color: #a06463; }
a:visited { color: #3b2821; }
a:hover { color: #743931; background-color:#f6f0f2; }

#banner {
    background-color: #bc9d89;
}

.LeftSide a {
    color: #a06463;
}

.LeftSide {
    background-color: #eccf95;
}

.ListLine0 {
      background-color: #d4a833;
}

.ListLine1 {
      background-color: #b4725f;
}
