/*
campestris { cap-color: #f6f0f2; }
cupreobrunneus { gill-color: #3b2821; }
brasiliensis { gill-color: #a06463; dark-gill: #743931; }
semotus { cap-color: #bc9d89; }
augustus { cap-color: #eccf95; }
xanthodermus { stain-color: #d4a833; }
lilaceps { stain-color: #b4725f; }
*/

/* Global default colors */
body {
    background-color: #f6f0f2; /* campestris */
    color: #3b2821; /* cupreobrunneus */
}
.faint { color: #988C89 }

div.textile table         { background: #3b2821; } /* cupreobrunneus */
div.textile table.noborder { background: #f6f0f2; } /* campestris */
div.textile table td      { background: #f6f0f2; } /* campestris */

a { color: #a06463; } /* brasiliensis */
a:visited { color: #3b2821; }  /* cupreobrunneus */
a:hover {
    color: #743931; /* brasiliensis */
    background-color: #f6f0f2;  /* campestris */
}

.input_image { color: #3b2821; } /* cupreobrunneus */
img { border-color: #3b2821; } /* cupreobrunneus */
a img:hover { border-color: #743931; } /* brasiliensis */

li.selected { background-color: #eccf95 ! important }

/* Banner colors */
#banner {
    background-color: #bc9d89; /* semotus */
}

#banner a {
    color: #3b2821; /* cupreobrunneus */
}

#banner a:visited {
    color: #3b2821; /* cupreobrunneus */
}


/* Hide the new separator line */
.MatrixLine TD, .MatrixLine TR {
  display: none;
}


/* Colors for the left hand panel */
.LeftSide {
    background-color: #eccf95; /* augustus */
}

.LeftSide a {
    color: #a06463; /* brasiliensis */
}


/* Colors for even lines */
.ListLine0 {
      background-color: #d4a833; /* xanthodermus */
}

.ListLine0 div.textile table         { background: #3b2821; } /* cupreobrunneus */
.ListLine0 div.textile table.noborder { background: #d4a833; } /* xanthodermus */
.ListLine0 div.textile table td      { background: #d4a833; } /* xanthodermus */

.ListLine0 a {
      color: #b4725f; /* lilaceps */
}

.ListLine0 a:visited {
      color: #3b2821; /* cupreobrunneus */
}


/* Colors for odd lines */
.ListLine1 {
      background-color: #b4725f; /* lilaceps */
}

.ListLine1 div.textile table         { background: #3b2821; } /* cupreobrunneus */
.ListLine1 div.textile table.noborder { background: #b4725f; } /* lilaceps */
.ListLine1 div.textile table td      { background: #b4725f; } /* lilaceps */

.ListLine1 a {
      color: #d4a833; /* xanthodermus */
}

.ListLine1 a:visited {
      color: #3b2821; /* cupreobrunneus */
}

table.vote_meter div.on { background: #3b2821; } /* cupreobrunneus */

/* Pivotal page. */
div.pivotal { background: #ddd8d9 }
span.pivotal_name a, span.pivotal_name a:visited { color: #3b2821 }
span.pivotal_name a:hover                        { color: #743931 }
span.pivotal_unscheduled, a.pivotal_unscheduled, a.pivotal_unscheduled:visited { color: #777 }
span.pivotal_unstarted,   a.pivotal_unstarted,   a.pivotal_unstarted:visited   { color: #222 }
span.pivotal_started,     a.pivotal_started,     a.pivotal_started:visited     { color: #000 }
a.pivotal_unscheduled:hover, a.pivotal_unstarted:hover, a.pivotal_started:hover { color: #777; background: #000 }
a.pivotal_unscheduled, a.pivotal_unstarted, a.pivotal_started { border: 1px solid #7f7471 }
a.pA, a.pX, a.p0, a.p1, a.p2, a.p3, a.p4 { border: 1px solid #7f7471 }
a.pA:hover, a.pA:visited:hover { color: #AF8; background: #000 }
a.pX:hover, a.pX:visited:hover { color: #FFF; background: #000 }
a.p0:hover, a.p0:visited:hover { color: #AAF; background: #000 }
a.p1:hover, a.p1:visited:hover { color: #F55; background: #000 }
a.p2:hover, a.p2:visited:hover { color: #F83; background: #000 }
a.p3:hover, a.p3:visited:hover { color: #FF0; background: #000 }
a.p4:hover, a.p4:visited:hover { color: #FF0; background: #000 }
a.p_day,   a.p_day:visited   { color: #3b2821; background: #AAFF88 }
a.p_week,  a.p_week:visited  { color: #3b2821; background: #8ED672 }
a.p_month, a.p_month:visited { color: #3b2821; background: #78B460 }
a.p_none,  a.p_none:visited  { color: #3b2821; background: #669951 }
a.pX, a.pX:visited { color: #3b2821; background: #FFF }
a.p0, a.p0:visited { color: #3b2821; background: #AAF }
a.p1, a.p1:visited { color: #3b2821; background: #F55 }
a.p2, a.p2:visited { color: #3b2821; background: #F83 }
a.p3, a.p3:visited { color: #3b2821; background: #FF0 }
a.p4, a.p4:visited { color: #3b2821; background: #FF0 }

