conica { stain: #37372f; cap-red: #a31404; cap-orange: #dd6226; cap-yellow: #ffbf01; gill-margin: #ffda84;} /* image 371 */
miniata { gill-margin: #ebc97f; cap-red: #a10200; cap-orange: #c83e00; cap-yellow: #f19c05; } /* image 369 */
psittacina { cap-green: #405536; cap-orange: #eb9020; cap-middle: #a38a3f; gill-color: #f2d686;  } /* image 368 */
punicea { cap-dark: #bb2900; cap-light: #cc382a; dark-stipe: #e7bc3c; light-stipe: #e9e3af; } /* image 366 */

/* Global default colors */
body { background-color: #e9e3af; /* punicea light-stipe */ color: #37372f; /* conica stain */ }

a { color: #405536; } /* psittacina cap-green */
a:visited { color: #eb9020; } /* psittacina cap-orange */
a:hover { background-color:#f2d686; } /* psittacina gill-color */

img { border-color: #37372f; } /* conica stain */

li.selected { background-color: #f19c05 ! important }


/* Banner colors */
#banner {
    background-color: #cc382a; /* punica cap-light */
}

#banner a {
    color: #37372f; /* conica stain */
}

#banner a:visited {
    color: #37372f; /* conica stain */
}


/* Colors for the left hand panel */
.LeftSide {
    background-color: #f19c05; /* miniata cap-yellow */
}

.LeftSide a {
    color: #a10200; /* miniata cap-red */
}

.LeftSide a:visited {
    color: #c83e00; /* miniata cap-orange */
}

.LeftSide a:hover {
    background-color: #ebc97f; /* miniata gill-margin */
}

/* Colors for even lines */
.ListLine0 {
      background-color: #cc382a; /* punicea cap-light */
}


.ListLine0 a {
      color: #e9e3af; /* punicea dark-stipe */
}

.ListLine0 a:visited {
      color: #e7bc3c; /* punicea light-stipe */
}

.ListLine0 a:hover {
      color: #37372f; /* conica stain */
}

/* Colors for odd lines */
.ListLine1 {
      background-color: #ffbf01; /* conica cap-yellow */
}


.ListLine1 a {
      color: #a31404; /* conica cap-red */
}

.ListLine1 a:visited {
      color: #dd6226; /* conica cap-orange */
}

.ListLine1 a:hover {
      color: #37372f; /* conica stain */
}
