body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   9px;
  line-height: 15px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  margin-bottom: 0px;
}

.break {
  page-break-before: always;
}

table {
  page-break-inside:avoid;
}
