<h2>All Semantic Vernacular Descriptions</h2>
<div>
	<%= build_vernacular_hierarchy(SemanticVernacularHelper::VERNACULAR_ROOT, @all_vernaculars) %>
</div>
<div>
	<%= link_to("Go to all species", 
							:controller => "semantic_vernacular",
							:action => "index_species") + " | " +
      link_to("Create a vernacular description", 
              :controller => "semantic_vernacular", 
              :action => "create") %>
</div>