/* Global default colors */
body {
    background-color: #F0F0F0;
    color: #000000;
}
.faint { color: #707070 }

div.textile table         { background: #FFFFFF; }
div.textile table.noborder { background: #FFFFFF; }
div.textile table td      { background: #FFFFFF; }

a { color: #205080; }

.input_image { color: #000000; }
img { border-color: #000000; }
a img:hover { border-color: #205080; }

li.selected { background-color: #FFFF00 ! important }

/* Banner colors */
#banner {
  background-color: #cc2616; color: #FAEBD4;
}

#banner a {
    color: #FAEBD4;
}

#banner a:visited {
    color: #FAEBD4;
}

/* Colors for the left hand panel */
.LeftSide {
    background-color: #E0E0E0;
}

.LeftSide a {
    color: #205080;
}

.TextContent {
  background-color: #FFFFFF;  
}

/* Hide the new separator line */
.MatrixLine TD, .MatrixLine TR {
  display: none;
}


/*New CSS for even rows */
table.lined-table tr:nth-child(even) {
    background-color: #F0F0F0;
}

table.lined-table tr:nth-child(even) div.textile table {
    background: #FFFFFF;
}

table.lined-table tr:nth-child(even) div.textile table.noborder,
table.lined-table tr:nth-child(even) div.textile table td {
    background: #FFFFFF;
}

table.lined-table tr:nth-child(even) a {
    color: #205080;
}

table.lined-table tr:nth-child(even) a:visited {
    color: #205080;
}

/* Colors for even lines */
.ListLine0 {
      background-color: #F0F0F0;
}

.ListLine0 div.textile table         { background: #FFFFFF; }
.ListLine0 div.textile table.noborder { background: #FFFFFF; }
.ListLine0 div.textile table td      { background: #FFFFFF; }

.ListLine0 a {
      color: #205080;
}

.ListLine0 a:visited {
      color: #205080;
}


/*New CSS for ODD Rows */
table.lined-table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

table.lined-table tr:nth-child(odd) div.textile table{
    background: #D0D0D0;
}

table.lined-table tr:nth-child(odd) div.textile table.noborder,
table.lined-table tr:nth-child(odd) div.textile table td{
    background: #D0D0D0;
}


table.lined-table tr:nth-child(odd) a {
    color: #205080;
}

table.lined-table tr:nth-child(odd) a:visited {
    color: #205080;
}



/* Colors for odd lines */
.ListLine1 {
      background-color: #FFFFFF;
}

.ListLine1 div.textile table         { background: #D0D0D0; }
.ListLine1 div.textile table.noborder { background: #D0D0D0; }
.ListLine1 div.textile table td      { background: #D0D0D0; }

.ListLine1 a {
      color: #205080;
}

.ListLine1 a:visited {
      color: #205080;
}

table.vote_meter div.on { background: #205080; }

/* Pivotal page. */
div.pivotal { background: #ddd8d9 }
span.pivotal_name a, span.pivotal_name a:visited { color: #3b2821 }
span.pivotal_name a:hover                        { color: #743931 }
span.pivotal_unscheduled, a.pivotal_unscheduled, a.pivotal_unscheduled:visited { color: #777 }
span.pivotal_unstarted,   a.pivotal_unstarted,   a.pivotal_unstarted:visited   { color: #222 }
span.pivotal_started,     a.pivotal_started,     a.pivotal_started:visited     { color: #000 }
a.pivotal_unscheduled:hover, a.pivotal_unstarted:hover, a.pivotal_started:hover { color: #777; background: #000 }
a.pivotal_unscheduled, a.pivotal_unstarted, a.pivotal_started { border: 1px solid #7f7471 }
a.pA, a.pX, a.p0, a.p1, a.p2, a.p3, a.p4 { border: 1px solid #7f7471 }
a.pA:hover, a.pA:visited:hover { color: #AF8; background: #000 }
a.pX:hover, a.pX:visited:hover { color: #FFF; background: #000 }
a.p0:hover, a.p0:visited:hover { color: #AAF; background: #000 }
a.p1:hover, a.p1:visited:hover { color: #F55; background: #000 }
a.p2:hover, a.p2:visited:hover { color: #F83; background: #000 }
a.p3:hover, a.p3:visited:hover { color: #FF0; background: #000 }
a.p4:hover, a.p4:visited:hover { color: #FF0; background: #000 }
a.p_day,   a.p_day:visited   { color: #3b2821; background: #AAFF88 }
a.p_week,  a.p_week:visited  { color: #3b2821; background: #8ED672 }
a.p_month, a.p_month:visited { color: #3b2821; background: #78B460 }
a.p_none,  a.p_none:visited  { color: #3b2821; background: #669951 }
a.pX, a.pX:visited { color: #3b2821; background: #FFF }
a.p0, a.p0:visited { color: #3b2821; background: #AAF }
a.p1, a.p1:visited { color: #3b2821; background: #F55 }
a.p2, a.p2:visited { color: #3b2821; background: #F83 }
a.p3, a.p3:visited { color: #3b2821; background: #FF0 }
a.p4, a.p4:visited { color: #3b2821; background: #FF0 }

