$body_fg:         black;
$body_bg:         white;
$link_fg:         blue;
$link_bg:         transparent;
$link_visited_fg: purple;
$link_visited_bg: transparent;
$link_hover_fg:   red;
$link_hover_bg:   transparent;
$banner_fg:       white;
$banner_bg:       red;
$banner_hover_fg: yellow;
$banner_hover_bg: red;
$nav_bar_fg:      black;
$nav_bar_bg:      lightgray;
$nav_bar_head_fg: black;
$nav_bar_head_bg: silver;
$search_bar_fg:   black;
$search_bar_bg:   lightgray;
$list_fg:         black;
$list_bg:         lightgray;
$img_border:      black;
$img_border_hover:red;
$vote_meter:      darkblue;
$pager_fg:        blue;
$pager_bg:        white;
$pager_hover_fg:  blue;
$pager_hover_bg:  lightgray;
$pager_active_fg: white;
$pager_active_bg: gray;
