<%
  @title = :create_collection_number_title.l

  tabs = [
    link_with_query(:cancel_and_show.t(type: :observation), @observation.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 col-sm-7 max-width-text">
    <%= form_tag(add_query_param(action: :create_collection_number, id: @observation.id)) do %>
      <%= render(partial: "form", locals: {button: :ADD}) %>
    <% end %>
  </div>

  <div class="col-12 col-sm-5 max-width-text">
    <%= render(partial: "shared/matrix_box", locals: { object: @observation.rss_log }) %>
  </div>
</div>
