<%
  @title = :edit_collection_number_title.l(name: @collection_number.format_name)

  tabs = []
  if @back == "index"
    tabs << link_with_query(:edit_collection_number_back_to_index.t,
                            action: :index_collection_number)
  else
    tabs << link_with_query(:cancel_and_show.t(type: @back_object.type_tag),
                            @back_object.show_link_args)
  end

  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 col-sm-7 max-width-text">
    <%= form_tag(add_query_param(action: :edit_collection_number, id: @collection_number.id, back: @back)) do %>
      <%= render(partial: "form", locals: {button: :SAVE}) %>
    <% end %>
  </div>

  <div class="col-12 col-sm-5 max-width-text">
    <% @collection_number.observations.each do |obs| %>
      <%= render(partial: "shared/matrix_box", locals: { object: obs.rss_log }) %>
    <% end %>
  </div>
</div>
