<%
add_page_title(tag.span(:rss_log_title.t, class: "text-nowrap"))
add_tab_set(rss_logs_index_tabs(user: @user, types: @types))
add_type_filters

@container = :full

flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <%= tag.ul(class: "row list-unstyled mt-3",
             data: { controller: "matrix-table",
                     action: "resize@window->matrix-table#rearrange" }) do %>
    <%= render(partial: "shared/matrix_box",
               collection: @objects, as: :object) %>
    <div style="clear:left"></div>
  <% end %>
<% end %>
