<%
  name_link = { controller: :observations,
                action: :observations_of_name }

  if @show_user
    @title = :checklist_for_user_title.t(user: @show_user.legal_name)
    tabs = [
      link_to(:show_object.t(type: :profile),
              controller: :users,
              action: :show,
              id: @show_user.id),
      link_to(:show_objects.t(type: :observation),
              controller: :observations,
              action: :observations_by_user,
              id: @show_user.id),
      link_to(:show_user_email_to.t(name: @show_user.legal_name),
              controller: :email,
              action: :ask_user_question,
              id: @show_user.id)
    ]
    # @tabsets = { right: draw_tab_set(tabs) }
    name_link[:user_id] = @show_user.id

  elsif @project
    @title = :checklist_for_project_title.t(project: @project.title)
    tabs = [
      link_to(:show_object.t(type: :project),
              controller: :projects,
              action: :show,
              id: @project.id),
      link_to(:list_objects.t(type: :project),
              controller: :projects,
              action: :index)
    ]
    # @tabsets = { right: draw_tab_set(tabs) }
    name_link[:project_id] = @project.id

  elsif @species_list
    @title = :checklist_for_species_list_title.t(list: @species_list.title)
    tabs = [
      link_to(:show_object.t(type: :project),
              controller: :species_lists,
              action: :show,
              id: @species_list.id)
    ]
    if check_permission(@species_list)
      tabs += [
        link_to(:edit_object.t(type: :species_list),
                controller: :species_lists,
                action: :edit,
                id: @species_list.id)
      ]
    end
    # @tabsets = { right: draw_tab_set(tabs) }
    name_link[:species_list_id] = @species_list.id

  else
    @title = :checklist_for_site_title.t
    tabs = [
      link_to(:app_contributors.t,
              controller: :users,
              action: :users_by_contribution),
      link_to(:app_site_stats.t,
              controller: :info,
              action: :show_site_stats)
    ]
    # @tabsets = { right: draw_tab_set(tabs) }
    @navbar[:title] = { title: :USERS.t, url: users_path }
    @navbar[:dropdowns] = [
      { title: "Actions", links: tabs }
    ]
  end
%>

<center>
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= :checklist_summary.t(species: @data.num_species, genera: @data.num_genera) %>
  <br/>
  <br/>

  <style>
    table.checklist td {
      padding: 0px 1em 0px 1em;
    }
  </style>

  <table class="checklist">
    <% num_cols = 5
    names = @data.species
    col_length = ((names.length + num_cols - 1).to_f / num_cols).truncate
    (1..col_length).each do |row| %>
      <tr>
        <% (1..num_cols).each do |col| %>
          <% i = (col - 1) * col_length + row - 1
          if i < names.length %>
            <td><i>
              <%= link_to(names[i], name_link.merge(name: names[i])) %>
            </i></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</center>
