<%
  activate_url = account_activate_api_key_url(@api_key,
                                              host: MO.http_domain)
  manager_url = account_api_keys_url(host: MO.http_domain)
  intro = :email_verify_api_key_intro.tp(
    user: @user.login,
    app_user: @app_user.login,
    app: @api_key.notes,
    activate_link: "xxx",
    manager_link: "yyy"
  )
  intro.gsub!(/xxx/, link_to(activate_url, activate_url))
  intro.gsub!(/yyy/, link_to(manager_url, manager_url))

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.html_safe %>
<br/>
</body>
</html>
<% else %><%= intro.html_to_ascii %>
<% end %>
