The request for account <%= @user.login %> was denied since the theme was set to ''.

Here are all the fields for the request user:

login: <%= @user.login %>
password: <%= @user.password %>
email: <%= @user.email %>
theme: <%= @user.theme %>
name: <%= @user.name %>
