The following new features have been released at the Mushroom Observer website (http://mushroomobserver.org):

<%= @features %>

To stop receiving these emails, either login to your Mushroom Observer account, or click the following URL:

<%= sprintf "%s/account/no_feature_email/%d", DOMAIN, @user.id %>
