<%
  url = "#{MO.http_domain}/conference/verify/#{@registration.id}"
  intro = :email_registration_intro.tp(
    :user => @registration.name,
    :how_many => @registration.how_many,
    :name => @registration.conference_event.name,
    :link => 'xxx'
  )
  intro.gsub!(/xxx/, link_to(url, url))

if not @user or @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.html_safe %>
<br/>
</body>
</html>
<% else %><%= intro.html_to_ascii %>
<% end %>
