<%= @notification.user.legal_name %> has requested the Mushroom Observer website
to send you the following message:

<%= @notification.calc_note(@user, @naming.observation) %>

If you believe this service has been misused, please contact webmaster@mushroomobserver.org.
