<%
  url = "#{HTTP_DOMAIN}/account/verify/#{@user.id}?auth_code=#{@user.auth_code}"
  intro = :email_verify_intro.l(:user => @user.login, :link => "<a href=\"#{url}\">#{url}</a>")

if @user.email_html %>
<html>
<head>
<title><%= "#{:app_title.t}: #{@title}" %></title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<%= intro.tp %>
<br/>
</body>
</html>
<% else %><%= intro.tp.html_to_ascii %>
<% end %>