<% javascript_include_auto_complete %>

<% @title = 'Create Species List' %>

<div id="Title"><%= @title %></div>

<%= link_to("Name List Generator", :action => 'name_lister') %>

<% form_tag(:action => 'create_species_list', :approved_names => @new_names,
    :approved_deprecated_names => @deprecated_names) do %>
<br/>
<center><%= submit_tag 'Save' %></center>

<table cellpadding="10">
	<tr>
	    <%= render :partial => 'form_species_lists' %>
	</tr>
</table>
<% end %>
