<%
  new_tab_set(:sort_by_header.t, @sorts)
  new_tab_set(@links)

  flash_error(@error) if @error and (!@objects or @objects.empty?)
%>

<%= paginate_block(@pages) do %>
  <table class="table table-striped">
    <% @objects.each do |species_list| %>
      <tr>
        <td>
          <%= link_to(content_tag(:span, species_list.when.to_s + ": ", class: "ListWhen") +
            content_tag(:span, species_list.unique_text_name.t, class: "ListWhat"),
            :action => 'show_species_list', :id => species_list.id)
          %>
          <br/>
          <span><%= species_list.place_name.t rescue :UNKNOWN.t %></span>
          <span><%= user_link(species_list.user) %></span>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
