<% #bs4
# called from observations/show/namings
# Bootstrap modal for proposing a name, has the form.
%>

<div class="modal" id="modal_naming" role="dialog"
     aria-labelledby="modal_header_naming">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= content_tag(:h4, title,
                        class:"modal-title",
                        id: "modal_header_naming") %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" id="modal_body_naming">
        <div id="modal_flash"></div>
        <%= render(partial: 'observations/namings/form',
                   locals: { action: action, show_reasons: true,
                             local: false }) %>
      </div>
    </div>
  </div>
</div>
