<%
# called from observations/show/namings
# Bootstrap modal for proposing a name, has the form.
%>

<div class="modal" id="modal_propose_naming" role="dialog"
     aria-labelledby="modal_header_propose_naming">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= content_tag(:h4, :create_naming_title.t(id: @observation.id),
                        class:"modal-title",
                        id: "modal_header_propose_naming") %>
      </div>
      <div class="modal-body" id="modal_propose_naming_body">
        <div id="modal_flash"></div>
        <%= render(partial: 'observations/namings/form',
                   locals: { action: :create, show_reasons: true,
                             local: false }) %>
      </div>
    </div>
  </div>
</div>
