<%
# called from observations/namings/table
header = observation_naming_header_row(observation, logged_in)
%>

<div class="card-header pb-2 namings-table-header">
  <div class="row">
    <div class="col-12 col-md-3"><%= header[:heading] %></div>
    <div class="col-12 col-md-3 d-none d-md-block">
      <%= header[:user_name] %>
    </div>
    <div class="col-12 col-md-2 d-none d-md-block">
      <%= header[:consensus_vote] %>
    </div>
    <div class="col-12 col-md-3 d-none d-md-block">
      <%= header[:your_vote] %>
    </div>
    <div class="col-12 col-md-1 d-none d-md-block"></div>
  </div>
</div>
