<% #bs4
# called from observations/show/namings
# Just the "table" of current namings, with headers
logged_in = @user&.verified
header = observation_naming_header_row(observation, logged_in)
namings = observation.namings.sort_by(&:created_at)
votes = gather_users_votes(observation, @user)
%>

<div class="namings-table card bg-light" id="namings_table">
  <%= render(partial: "observations/namings/table_header",
             locals: { header: header }) %>

  <div class="card-body">
    <% namings.each do |naming| %>
      <%= render(partial: "observations/namings/row",
                 locals: { logged_in: logged_in, observation: observation,
                           naming: naming, votes: votes }) %>
    <% end # each naming %>
  </div>

  <%= render(partial: "observations/namings/table_footer",
             locals: { logged_in: logged_in, observation: observation }) %>
</div>
