<%
  tabs = create_tabs(edit_naming_links(observation: @observation))
  @tabsets = { right: draw_tab_set(tabs) }
  @container = :double
%>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="mt-3">
      <%= render(partial: "observations/show/observation",
                 locals: { observation: @observation }) %>
    </div>

    <div class="mt-3">
      <%= render(partial: "observations/namings/form",
                 locals: { action: :update, show_reasons: true,
                           local: true }) %>
    </div>
  </div><!--.col-->

  <div class="col-xs-12 col-sm-4">
    <%= render(partial: "observations/show/images",
               locals: { observation: @observation,
                         thumb_size_control: false }) %>
  </div><!--.col-->
</div><!--.row-->
