$('body').append('<%= j render(partial: "observations/namings/modal") %>');

$('#modal_propose_naming').on('hidden.bs.modal', function () {
  $(this).remove();
});

// attach all the bindings on shown
$('#modal_propose_naming').on('shown.bs.modal', function() {
  const naming_input = $("#naming_name");
  const naming_form = $("#naming_form");
  const namings_table = $("#namings_table");
  const observation_namings = $("#observation_namings");
  const this_modal = $(this);

  new MOAutocompleter(jQuery.extend({
    input_elem: naming_input,
    ajax_url: "/ajax/auto_complete/name/@",
    collapse: 1
  }));

  $('#naming_name').focus();

  naming_form.on("ajax:success", (event) => {
    // const [_data, _status, xhr] = event.detail;
    // namings_table.remove();
    // observation_namings.prepend(xhr.responseText);
    this_modal.modal('hide');
  });

  naming_form.on("ajax:error", () => {
    naming_form.append($("<p>Error</p>"));
  });
});

$('#modal_propose_naming').modal('show');
