<div id="license">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/">
    <img alt="Creative Commons License" class="border-none"
         src="https://creativecommons.org/images/public/somerights20.png" /></a><br />
</div>
