<div class="modal fade"
     id="image_exif_modal" tabindex="-1" role="dialog"
     aria-labelledby="image_exif_title">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="image_exif_title">Exif Data</h4>
      </div>
      <div class="modal-body">
        <p>Loading EXIF header&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
