<%
  # DECOMMISSIONED: TO BE REMOVED. This was used pre-Bootstrap-4 to add row logic.
  #
  # passing in the objects as a collection with a partial is much faster,
  # but not always possible if we want to render a block
%>
<% unless defined? object_counter %>
<% objects.each_with_index do |object, idx| %>
  <li class="col mb-4">
    <%= yield(object) %>
  </li>
<% end %>
<%else%>
  <li class="col mb-4">
    <%= yield(object) %>
  </li>
<% end %>
