<%
# called from observations/show/namings
# Bootstrap modal for "saving vote" and "suggestions", blank modal for message.
message ||= ""
%>

<div class="modal" id="naming_ajax_progress" role="dialog"
     aria-labelledby="naming_ajax_progress_caption">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" id="naming_ajax_progress_caption">
        <%= safe_spinner(message) %>
      </div>
    </div>
  </div>
</div>
