<%# Accepts an object and renders prev/next/index buttons. %>
<% if object %>
  <% type = object.type_tag %>
  <div>
    <%= link_prev(object) %> |
    <%= link_with_query(:INDEX.t, controller: object.show_controller,
                        action: object.index_action, id: object.id) %> |
    <% if @mappable %>
      <%= link_with_query(:MAP.t, controller: :location,
                          action: :map_locations) %> |
    <% end %>
    <%= link_next(object) %>
  </div>
<% end %>
