<div id="textilize_note" class="form-text">
  <%=
    link = link_to(:shared_textile_link.t,
      info_textile_sandbox_path,
      {target: "_new"})
    str = :shared_textile_help.l % link
    str.html_safe
  %>
</div>
