<div id="textilize_note">
  <p class="help-block">
  <%=
    link = link_to(:shared_textile_link.t,
      { :controller => "observer", :action => "textile_sandbox" },
      { :target => "_new" })
    str = :shared_textile_help.l % link
    str.html_safe
  %>
  </p>
</div>
