<div id="textilize_note" class="help-block">
  <%=
    link = link_to(:shared_textile_link.t,
      {controller: :info, action: :textile_sandbox},
      {target: "_new"})
    str = :shared_textile_help.l % link
    str.html_safe
  %>
</div>
