<div id="textilize_note">
	Notes can be formated using the Textile markup system.<br/>
    __italic__ =&gt; <i>italic</i><br/>
    **bold** =&gt; <b>bold</b><br/>
	<a target="_new" href="http://hobix.com/textile/">More details</a>
</div>
<!--[eoform:observation]-->
