<%
@container = :full
add_page_title(:list_merge_options_title.t(where: @where))
# NOTE: the "forms" are patch buttons in the "row" partial
%>

<div class="row">

  <% if @matches.any? %>
    <div class="col-md-6">
      <div class="h4">
        <%= :list_merge_options_near_matches.t %>
      </div>
      <div class="list-group">
        <%= render(partial: "observations/locations/row",
                   collection: @matches, as: :location) %>
      </div>
    </div>
  <% end %>

  <% if @others.any? %>
    <div class="col-md-6">
      <div class="h4">
        <%= :list_merge_options_others.t %>
      </div>
      <div class="list-group">
        <%= render(partial: "observations/locations/row",
                   collection: @others, as: :location) %>
      </div>
    </div>
  <% end %>

</div><!--.row-->
