<%
container_class(:full)
add_index_title(@query)
add_pagination(@pagination_data)

flash_error(@error) if @error && @objects.empty?
%>

<div class="container-text content-block">
  <%= tag.p(:obs_needing_id_intro.tp) %>
  <%# render(partial: "observations/identify/form_identify_filter") %>
</div>

<%= paginated_results do %>
  <%= render MatrixTable.new(objects: @objects, locals: { identify: true }, cached: true) %>
<% end %>

<!--AJAX SAVING VOTE MESSAGE-->
<%= render(partial: "shared/modal_ajax_progress") %>
