<%
add_edit_title(@image)
add_context_nav(observation_images_edit_tabs(image: @image))
container_class(:wide)
%>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <%= render(Components::ImageEditForm.new(
                 @image,
                 user: @user,
                 licenses: @licenses,
                 projects: @projects || [],
                 submitted_project_ids: @submitted_project_ids
               )) %>
  </div>
  <!--.col-->

  <div class="col-xs-12 col-sm-4 col-md-6 col-lg-8">
    <%= render(Components::InteractiveImage.new(
                 user: @user,
                 image: @image,
                 size: :medium,
                 votes: true
               )) %>
  </div>
  <!--.col-->
</div>
<!--.row-->
