<%
add_tab_set(location_map_links(query: @query))
@container = :text_image
%>

<div class="text-center">
  <%=
    if @locations.any?
      gmap = make_map(@locations)
      finish_map(gmap)
      gmap.div(width: 800, height: 550).html_safe
    else
      :runtime_map_nothing_to_map.t
    end
  %>
</div><!-- .text-center -->
