<%# locals: (data:, user: nil, project: nil, show_user: nil, location: nil, species_list: nil) %>
<div id="checklist_panel">
  <%= render(Components::Panel.new(panel_class: "checklist")) do |panel| %>
    <%= panel.with_body do %>
      <ul class="list-unstyled">
        <% data.taxa.each do |taxon| %>
          <%= checklist_name_link(
                taxon:, data: data, project: project, user: user,
                params: [show_user, project, location, species_list]
              ) %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
