<p>
  <%= :field_slip_qr_intro.t %>
</p>

<%= render(Components::QRReaderForm.new(
      FieldSlip.new,
      action: field_slips_qr_reader_path,
      data: { controller: "qr-reader" },
      id: "qr_reader_form"
    )) %>
