<%
  @title = show_article_title(@article)
  @tabsets = { right: draw_tab_set(show_article_tabs) }
%>

<div class="row push-down">
  <div class="col-sm-12 max-width-text">
      <%= @article.body.tpl %>
      <%= "#{:AUTHOR.t}: #{@article.author}" %>
      <p class="Date">
        <%= :footer_created_at.t(date: @article.created_at.web_time) %><br/>
        <%= :footer_last_updated_at.t(date: @article.updated_at.web_time) %>
      </p>
  </div>
</div>
