<%
  @title = show_article_title(@article)

  tabs = [
    link_to(:article_index.t, action: :index),
    link_to(:create_article.t, action: :create_article),
    link_to(:edit_article.t, action: :edit_article, id: @article.id)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row push-down">
  <div class="col-sm-12 max-width-text">
      <%= @article.body.tpl %>
      <%= "#{:AUTHOR.t}: #{@article.author}" %>
      <p class="Date">
        <%= :footer_created_at.t(date: @article.created_at.web_time) %><br/>
        <%= :footer_last_updated_at.t(date: @article.updated_at.web_time) %>
      </p>
  </div>
</div>
