<%
  @title = :create_event_title.l
  new_tab_set do
    add_tab(:event_index.t, action: :index)
  end
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= form_tag(action: :create_event) do %>
      <%= render(partial: "form", locals: {button: :create_event_add}) %>
    <% end %>
  </div>
</div>
