<%
  @title = :create_event_title.l

  tabs = [
    link_to(:event_index.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(action: :create_event) do %>
    <%= render(partial: "form", locals: {button: :create_event_add}) %>
  <% end %>
</div>
