<%
  @title = :edit_event_title.l
  new_tab_set do
    add_tab(:cancel_and_show.t(type: "Conference Event"), action: :show_event, id: @event.id)
    add_tab(:event_index.t, action: :index)
  end
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= form_tag(action: :edit_event, id: @event.id) do %>
      <%= render(partial: "form", locals: {button: :edit_event_save}) %>
    <% end %>
  </div>
</div>
