<%
  @title = :edit_event_title.l

  tabs = [
    link_to(:cancel_and_show.t(type: :conference_event), action: :show_event,
            id: @event.id),
    link_to(:event_index.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(action: :edit_event, id: @event.id) do %>
    <%= render(partial: "form", locals: {button: :edit_event_save}) %>
  <% end %>
</div>
