<%
  @title = :event_index_title.t

  if is_in_admin_mode?
    tabs = [
      link_to(:create_event.t, action: :create_event)
    ]
    @tabsets = { right: draw_tab_set(tabs) }
  end
%>

<table class="table table-striped slight-pad">
  <% for event in @events %>
    <tr>
      <td>
        <%= link_to(event.name, action: :show_event, id: event.id) %>
        <% if is_in_admin_mode? %>
          [<%= link_to(:edit_event.t, action: :edit_event, id: event.id) %>]
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
