<%
container_class(:full)
add_new_title(:add_object, :COLLECTION_NUMBER)
add_context_nav(Tab::CollectionNumber::FormNew.new(observation: @observation))
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <%= render(Views::Controllers::CollectionNumbers::Form.new(
          @collection_number, observation: @observation
        )) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <%= render(::Components::MatrixBox.new(
                   user: @user,
                   object: @observation.rss_log || @observation,
                   columns: "col-xs-12")) %>
    </ul>
  </div>
</div>
<!--.row-->
