<!--HAMBURGER_BUTTONS-->
<div id="hamburger" class="row visible-xs hidden-print">
  <div class="col-xs-6 px-0">
    <button
      type="button"
      class="btn btn-default btn-lg hamburger rounded-0"
      style="z-index: 1000"
      data-nav-target="hamburger"
      data-action="nav#toggleOffcanvas"
      data-toggle="offcanvas">
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
  </div>
  <div class="col-xs-6 px-0 text-right">
    <button
      type="button"
      class="btn btn-default btn-lg hamburger rounded-0"
      style="z-index: 1001"
      data-nav-target="search"
      data-action="nav#toggleTopNav"
      data-toggle="search">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</div>
<!--/HAMBURGER_BUTTONS-->
