<a href="<%= orig_url %>"
   target="_blank"
   class="lightbox_link"><%= :image_show_original.t %></a> | <button
    type="button" class="btn btn-link lightbox_link"
    data-toggle="modal" data-target="#image_exif_modal"
    data-image="<%= image_id %>"><%= :image_show_exif.t %></button>
