<%
add_page_title(:email_new_password_title.t)
%>

<div class="help-note">
  <%= :email_new_password_help.tp + :email_spam_notice.tp %>
</div>

<%= render(Components::EmailNewPasswordForm.new(
      @new_user || User.new,
      action: account_new_password_request_path,
      id: "account_email_new_password_form"
    )) %>
