<%
  @title ||= :add_project_title.t

  tabs = [
    link_to(:app_list_projects.t, action: :list_projects)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(add_query_param(action: :add_project)) do %>
    <%= submit_tag(:CREATE.l, class: "btn mx-auto mt-3") %>
    <%= render(partial: "form_projects") %>
  <% end %>
</div>
