<%
  @title ||= :add_project_title.t

  tabs = [
    link_to(:app_list_projects.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= render "form", button_name: :CREATE %>
</div>
