development:
  local_image_files: "%{root}/public/images"
  image_sources:
    :local:
      :test: file://%{root}/public/images
      :read: "/images"
    :mycolab:
      :test: :transferred_flag
      :read: http://images.mushroomobserver.org
  keep_these_image_sizes_local: []

production:
  local_image_files: /var/web/mo/public/images
  image_sources:
    :local:
      :test: file:///var/web/mo/public/images
      :read: https://mushroomobserver.org/local_images
    :mycolab:
      :test: :transferred_flag
      :read: https://mushroomobserver.org/images
      :write: ssh://mo@204.93.192.148:/data/images/mo
    :cdmr:
      :test: :transferred_flag
      :read: https://mushroomobserver.org/images
      :write: ssh://mo@50.31.154.67:/images/mo
  keep_these_image_sizes_local: []

test:
  local_image_files: "%{root}/public/test_images"
  image_sources:
    :local:
      :test: file://%{root}/public/test_images
      :read: "/test_images"
    :remote1:
      :test: :transferred_flag
      :read: "/remote_images"
      :write: file://%{root}/public/test_server1
    :remote2:
      :write: file://%{root}/public/test_server2
      :sizes:
      - :thumbnail
      - :small
      - :medium
  keep_these_image_sizes_local:
  - :thumbnail
  - :small

