<%
  @title ||= :list_merge_options_title.t(where: @where)
  @container = :wide
%>

<div class="row">
  <% if @matches.any? %>
    <div class="col-md-6">
      <div class="h4">
        <%= :list_merge_options_near_matches.t %>
      </div>
      <table class="table table-striped table-location-merge-options">
        <% @matches.each do |location| %>
          <tr>
            <td>
              <%= patch_button(name: location.display_name.t,
                              path: add_observation_to_location_path(
                                where: @where, location: location
                              ),
                              data: { confirm: :list_merge_are_you_sure.l }) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <% if @others.any? %>
    <div class="col-md-6">
      <div class="h4">
        <%= :list_merge_options_others.t %>
      </div>
      <table class="table table-striped table-location-merge-options">
        <% @others.each do |location| %>
          <tr>
            <td>
              <%= patch_button(name: location.display_name.t,
                              path: add_observation_to_location_path(
                                where: @where, location: location
                              ),
                              data: { confirm: :list_merge_are_you_sure.l }) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div><!--.row-->
