<!-- ERB Template -->
<div class="status-light-container">
  <div class="status-indicator" data-status-light-target="light"></div>
  <span class="status-text"><%= :show_project_has_name.l %></span>
</div>
