<%
add_index_title(@query)
add_context_nav(projects_index_tabs)
add_sorter(@query, projects_index_sorts)
add_pagination(@pagination_data)

flash_error(@error) if @error && @objects.empty?
%>

<!-- list the projects -->
<%= paginated_results do %>
  <div class="list-group">
    <%= render(partial: "projects/object", collection: @objects) %>
  </div>
<% end %>
