<%
add_index_title(@query)
add_context_nav(projects_index_tabs)
add_sorter(@query, projects_index_sorts)

flash_error(@error) if @error && @objects.empty?
%>

<!-- list the projects -->
<%= pagination_nav_block(@pagination_data) do %>

  <div class="list-group">
    <%= render(partial: "projects/object", collection: @objects) %>
  </div>
<% end %>
