<%= fields_for(:project) do |f_p| %>
  <div class="form-group">
    <%= label_tag(:project, :PROJECTS.t + ":") %>
    <%= help_note(:div, :form_species_lists_project_help.t) %>
    <div class="form-group">
      <% @projects.each do |project| %>
        <%= check_box_with_label(form: f_p, field: :"id_#{project.id}",
                                 checked: @project_checks[project.id],
                                 disabled: @species_list.user_id != @user.id &&
                                   !project.member?(@user),
                                 label: project.title) %>
      <% end %>
    </div>
  </div>
<% end %>
