<%
  # if @links.any?
  #   tabs = create_links(@links)
  #   @tabsets = { right: draw_tab_set(tabs) }
  # end

  @navbar = {} # reset
  @navbar[:title] = { title: :SPECIES_LISTS.t, url: species_lists_path }
  @navbar[:links] = [
    { title: :CREATE.t, url: new_species_list_path, icon: "fa-plus" }
  ]
  @navbar[:dropdowns] = [
    { title: "Actions", links: create_links(@links) }
  ]

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <div class="card">
      <% @objects.each do |species_list|%>
        <div class="card-body">
          <big>
            <%=
              when_span = content_tag(:span, species_list.when.to_s, class: "ListWhen")
              what_span = content_tag(:span, species_list.unique_text_name.t, class: "ListWhat")
              link_to(when_span + ": " + what_span, species_list_path(species_list))
            %>
          </big><br/>
          <span><%= species_list.place_name.t rescue :UNKNOWN.t %></span> |
          <span><%= user_link(species_list.user) %></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
