<%
  if @links.any?
    tabs = create_links(@links)
    @tabsets = { right: draw_tab_set(tabs) }
  end

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <div class="card">
      <% for species_list in @objects.each %>
        <div class="card-body">
          <big>
            <%=
              when_span = content_tag(:span, species_list.when.to_s, class: "ListWhen")
              what_span = content_tag(:span, species_list.unique_text_name.t, class: "ListWhat")
              link_to(when_span + ": " + what_span, species_list.show_link_args)
            %>
          </big><br/>
          <span><%= species_list.place_name.t rescue :UNKNOWN.t %></span> |
          <span><%= user_link(species_list.user) %></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
