<div class="col-sm-6">
  <div id="name_classification">
    <strong><%= :show_name_classification.t %>:</strong>
    <% if @user %>
      [<%= link_with_query(:EDIT.t,
                            edit_name_classification_path(@name.id)) %>]
    <% end %>
    <%= card_block(id: "classification_section", class: "mb-3",
                    inner_class: "list-indented") do
      render(partial: "names/show/classification")
    end %>
  </div><!--#name_classification-->
</div>
