<div class="col-sm-6">
  <div id="name_classification">
    <strong><%= :show_name_classification.t %>:</strong>
    <% if @user %>
      [<%= link_with_query(:EDIT.t,
                            edit_name_classification_path(@name.id)) %>]
    <% end %>
    <%= panel_block(inner_class: "name-section", id: "classification_section",
                    data: { name_panels_target: "classification" }) do
      render(partial: "names/show/classification")
    end %>
  </div><!--#name_classification-->
</div>
