<div class="col-sm-6">
  <div id="name_lifeform">
    <strong><%= :show_name_lifeform.t %>:</strong>
    <% if @user %>
      [<%= link_with_query(:EDIT.t,
                            edit_name_lifeform_path(@name.id)) %>]
    <% end %>
    <%= panel_block(id: "lifeform_section", class: "mb-3",
                    inner_class: "list-indented") do
      render(partial: "names/show/lifeform")
    end %>
  </div>
</div><!--#name_lifeform-->
