<div id="target_locations_widget">
  <%= form_with(
        url: project_target_locations_path(project_id: project.id),
        method: :post,
        class: "form-inline mb-3",
        data: { turbo: true }
      ) do |f| %>
    <%= autocompleter_field(form: f, field: :locations,
                            type: :location,
                            textarea: true,
                            separator: "\n",
                            label: "#{:LOCATIONS.t}:") %>
    <%= f.submit(:project_target_location_add.t,
                 class: "btn btn-default ml-2 mt-2") %>
  <% end %>
</div>
