<%
add_new_title(:search_object, :SPECIES_LISTS)
container_class(:wide)
%>

<div id="species_lists_search_container">
  <%= render(Components::SearchForm.new(
        @search,
        search_controller: controller,
        local: @local.nil? ? true : @local
      )) %>
</div>
