<%
  @title ||= :add_project_title.t

  new_tab_set do
    add_tab(:app_list_projects.t, action: :list_projects)
  end
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= form_tag(add_query_param(action: :add_project)) do %>
      <%= submit_tag(:CREATE.l, class: "btn center-block push-down") %>
      <%= render(partial: "form_projects") %>
    <% end %>
  </div>
</div>
