<%
  @title ||= :edit_project_title.t(title: @project.title)

  tabs = [
    link_to(:app_list_projects.t, action: :list_projects),
    link_with_query(:cancel_and_show.t(type: :project), @project.show_link_args)
  ]
  if check_permission(@project)
    tabs << link_with_query(:edit_project_destroy.t, {action: :destroy_project,
                            id: @project.id}, {data: {confirm: :are_you_sure.l}})
  end
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(add_query_param(action: :edit_project, id: @project.id)) do %>
    <%= submit_tag(:SAVE_EDITS.l, class: "btn mx-auto mt-3") %>
    <%= render(partial: "form_projects") %>
  <% end %>
</div>
