<%
  @title ||= :list_projects_title.t

  new_tab_set do
    add_tab_with_query(:list_projects_add_project.t, action: :add_project)
    add_tabs(@links) if @links
  end

  flash_error(@error) if @error && (!@objects || @objects.empty?)
%>

<div class="row">
  <div class="col-xs-12">
    <%= paginate_block(@pages) do %>
      <div class="list-group">
        <% @objects.each do |project| %>
          <div class="list-group-item">
            <big>
              <%= link_with_query(project.title.t, project.show_link_args) %>
            </big><br/>
            <small>
              <%= project.created_at.web_time %>: <%= user_link(project.user) %>
            </small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
