<%
   @title ||= :list_projects_title.t
   #add_tabs(@links)  links are always empty here? RJS
   @tabsets = {right: render(partial: "shared/tab_set", locals: {links: [content_tag(:h5, link_with_query(:list_projects_add_project.t, action: :add_project).html_safe)]})}
   flash_error(@error) if @error and (!@objects or @objects.empty?)
%>
<%= paginate_block(@pages) do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="list-group">
      <% @objects.each do |project| %>
            <div class="list-group-item">
                <span style="font-size:1.1em">
                <%= link_with_query(project.title.t,
                            :action => 'show_project', :id => project.id) %>
                </span>                <br/>
                <small><%= project.created_at.web_time %></small>: <span><%= user_link(project.user) %></span>
            </div>
      <% end %>
        </div>
      </div>
    </div>
<% end %>