//
// autocompletion
// --------------------------------------------------

div.auto_complete {
  position: absolute;
  color: $dropdown-link-color;
  background-color: $dropdown-bg;
  margin: 0px;
  border: 1px solid $dropdown-border;
  padding: 0px;
  overflow-x: hidden;
  display: none;
  text-align: left;
  z-index: 100;

  ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style: none;
    overflow-x: hidden;

    li {
      margin: 0px;
      border: 0px;
      padding: 2px 4px 2px 4px;
      white-space: nowrap;
      cursor: pointer;
    }

    li.selected {
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
  }
}
