//
// autocompletion
// --------------------------------------------------

// autocompleter state - do we have a match?
.has-id-indicator {
  display: none;
}
.has-id {
  .has-id-indicator {
    display: inline-block;
  }
}

.keep-btn {
  display: none;
}
.create {
  .keep-btn {
    display: inline-block;
  }
}

// initially we may not have id, but we also don't offer create
// until they've typed something
.create-button {
  display: none;
}
.offer-create {
  .create-button {
    display: inline-block;
  }
}

.dropdown-menu.auto_complete {
  // position: absolute;
  // color: $dropdown-link-color;
  // background-color: $dropdown-bg;
  margin: 0px;
  // border: 1px solid $dropdown-border;
  border-radius: 0;
  padding: 0px;
  overflow-x: hidden;
  // display: none;
  // text-align: left;
  // z-index: 100;
}

ul.virtual_list {
  margin: 0px;
  border: 0px;
  padding: 0px;
  list-style: none;
  overflow-x: hidden;
}

li.dropdown-item {
  margin: 0px;
  border: 0px;
  white-space: nowrap;
  cursor: pointer;

  a {
    display: block;
    padding: 2px 4px;
    color: $dropdown-link-color;
    text-decoration: none;

    // &[data-deprecated="true"] {
    //   opacity: 0.81;
    //   font-style: italic;
    // }

    &:hover {
      color: $dropdown-link-color;
      background-color: $dropdown-link-hover-bg !important;
      text-decoration: none;
    }
  }

  &.active {
    a {
      color: $dropdown-link-color;
      background-color: $dropdown-link-hover-bg !important;
    }
  }
}
