//
// message banner at top
// --------------------------------------------------

.alert.message-banner {
  margin: 0.5em 1.0em;
  border-width: $BANNER_BORDER_WIDTH;
  border-style: $BANNER_BORDER_STYLE;
  border-radius: $BANNER_BORDER_RADIUS;
  padding: 0.5em 1.0em;
  font-size: 150%;
  text-align: center;
}
