//
// Mushroom Observer carousels
// --------------------------------------------------

.carousel-item {
  padding-bottom: 75%;
  position: relative;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .carousel-caption {
    @extend .bg-legible, .py-2;
    // position: absolute;
    bottom: 0;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 0.2s ease;

    .vote-section {
      background: transparent;
    }
    .image-info {
      @extend .smaller, .px-3, .pb-2;
    }
  }

  &:hover,
  &:focus {
    .carousel-caption {
      opacity: 1;
    }
  }

  // .carousel-caption-and-votes {
  //   position: absolute;
  //   bottom: 0;
  //   top: auto;
  // }

  .vote-section {
    @extend .text-center, .px-3, .py-2;
    width: auto;
    height: auto;
  }
}



.carousel-control-prev,
.carousel-control-next {
  padding: 2rem 6rem;
  bottom: 6vw;
  z-index: 3;

  div.btn {
    @extend .bg-visible;
    color: $white;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
  }
  &:hover {
    div.btn {
      background: rgba($black, 1);
    }
  }
}

.carousel-control-prev {
  justify-content: flex-start;
  padding-left: 1rem;
}

.carousel-control-next {
  justify-content: flex-end;
  padding-right: 1rem;
}

.carousel-indicators {
  position: static;
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  li {
    background-color: transparent;
    width: 6vw;
    height: 6vw;
    position: relative;
    display: flex;
    overflow: hidden;
  }
}
