//
// Mushroom Observer carousels
// --------------------------------------------------

.carousel-inner {
  white-space: nowrap;
  position: relative;
  width: 100%;
  overflow: hidden;

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  .item {
    padding-bottom: 75%;
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;

    .carousel-caption {
      @extend .bg-legible, .py-2;
      position: absolute;
      bottom: 0;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      width: auto;
      height: auto;
      opacity: 0;
      transition: opacity 0.2s ease;

      .vote-section {
        background: transparent;
        position: static;
      }

      .image-info {
        @extend .smaller, .px-3, .pb-2;
      }
    }

    &:hover,
    &:focus {
      .carousel-caption,
      .theater-btn,
      .vote-section {
        opacity: 1;
      }
    }

    // &.right,
    // &.left {
    //   display: inline-block;
    // }
  }

  // .carousel-caption-and-votes {
  //   position: absolute;
  //   bottom: 0;
  //   top: auto;
  // }

  .vote-section {
    @extend .text-center, .px-3, .py-2;
    width: auto;
    height: auto;
  }
}

.carousel-control {
  margin-top: 5rem; // to let overlays through
  margin-bottom: 5rem; // fullscreen and caption/voting
  background: none !important;
  font-size: 2rem;
  color: $white;
  opacity: 0.75;

  .btn {
    font-size: inherit;
    &:hover,
    &:focus {
      color: inherit;
      text-shadow: 3px 3px 3px rgba($black, 0.5);
    }
  }

  &:hover,
  &:focus {
    // color: rgba($white, 1);
    opacity: 1;
  }
}

.carousel-heading {
  // border-top: 1px solid $panel-inner-border;
  border-bottom: 1px solid $panel-inner-border;
  background-color: $panel-default-heading-bg;
}

.carousel-indicators {
  position: static;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  // bottom: -7.5vw;
  // height: 6vw;
  overflow-x: auto;
  white-space: nowrap;
  line-height: 0;

  li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 6vw;
    height: 6vw;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;

    &.active {
      width: 6vw;
      height: 6vw;
      opacity: 0.66;
    }
  }
}


.edit-carousel {
  // padding-bottom: 100%;

  // @media screen and (min-width: 768px) {
  //   padding-bottom: 50%;
  // }

  .carousel-inner {
    .item {
      padding-bottom: 0;
    }

    :not(:has(.item)) {
      display: none;

      .carousel-control-wrap {
        display: none;
      }
    }
  }

  .image-position {
    position: relative;
    padding-bottom: 100%;
    border-bottom: 1px solid $panel-inner-border;

    @media screen and (min-width: 992px) {
      padding-bottom: 50%;
      border-bottom: none;
      border-right: 1px solid $panel-inner-border;
    }
  }

  .form-panel {
    padding: 1rem 1.5rem;

    @media screen and (min-width: 992px) {
      padding-top: 4.5rem;
      padding-right: 1.5rem;
    }
  }

  // This keeps the carousel controls on top of the image, not the form
  .carousel-control-wrap {
    position: absolute;
    top: 6rem;
    bottom: 6rem;
    left: 0;
    width: 100%;
    padding-bottom: calc(50% - 12rem);

    @media screen and (min-width: 992px) {
      width: 50%;
    }
  }

  .carousel-indicators {
    :not(:has(.carousel-indicator)) {
      display: none;
    }
  }
  //   position: absolute;
  //   bottom: 10px;
  //   left: 50%;
  //   z-index: 15;
  //   width: 60%;
  //   padding-left: 0;
  //   margin-left: -30%;
  //   text-align: center;
  //   list-style: none;

  //   li {
  //     display: inline-block;
  //     width: 1.25rem;
  //     height: 1.25rem;
  //     margin: 0.5rem;
  //     text-indent: -999px;
  //     cursor: pointer;
  //     background-color: rgba($white, 1);
  //     border: 1px solid rgba($black, 0.75);
  //     border-radius: 50%;
  //     opacity: 0.9;

  //     &.active {
  //       background-color: rgba($white, 0.45);
  //       border: 1px solid rgba($white, 0.75);
  //     }
  //   }
  // }
}

.obs_thumb_img_btn {
  .set_thumb_img_text {
    display: inline;
  }
  .is_thumb_img_text {
    display: none;
  }

  &.active {
    .set_thumb_img_text {
      display: none;
    }
    .is_thumb_img_text {
      display: inline;
    }
  }
}
