// Cached content display/hide
// location format, when both are printed

.location-format-postal {
  .location-scientific {
    display: none;
  }
}

.location-format-scientific {
  .location-postal {
    display: none;
  }
}

// content that requires a user, or for not-logged-in users
.no-user {
  .require-user {
    display: none;
  }
}

.logged-in-user {
  .not-logged-in {
    display: none;
  }
}

//
// interest eyes
// --------------------------------------------------

.interest_big {
  height: 50px;
  width: 50px;
}

.interest_small {
  height: 23px;
  width: 23px;
}

//
// style tweaks
// --------------------------------------------------

.name-section p {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.obs-notes {
  .textile p {
    margin: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
}

ul.tight-list {
  list-style: none;
  margin-bottom: 0.5em;
  padding-left: 1em;
}

.textile {
  img {
    max-width: 100%;
    max-height: auto;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.panel {
  color: $panel-default-text;

  .table-responsive {
    border-color: transparent;
  }
  .border-top {
    border-top: 1px solid $panel-inner-border;
  }
  .border-bottom {
    border-bottom: 1px solid $panel-inner-border;
  }
}

.panel-footer {
  color: $panel-footer-text;
}

.panel-title {
  font-size: 13px;
  font-weight: bold;
}

.content-block {
  @extend .p-3;
}

.h3.page-title {
  font-size: 22px;

  .badge-id {
    font-size: 66% !important
  }

  small {
    @extend .ml-3;
    color: $text-color;
  }
}
