// text

.lh-1-2 {
  line-height: 1.2;
}

.smaller {
  font-size: 81%;
  line-height: 1;
}

// For the log-item id
.micro {
  font-size: 0.78rem;
  line-height: 0.7;
}

.square-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  > img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.small-caps {
  font-size: 66%;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.badge-outline {
  border: 1px solid $gray-500;
}

//
// interest eyes
// --------------------------------------------------

.interest_big {
  height: 50px;
  width: 50px;
}

.interest_small {
  height: 23px;
  width: 23px;
}

@include media-breakpoint-up(md) {
  .interest-eyes {
    position: absolute;
    bottom: 0;
    right: calc($grid-gutter-width * .5);
  }
}

//
// style tweaks
// --------------------------------------------------

.form-text, .help-note {
  font-size: $small-font-size;

  p:last-of-type {
    margin: 0;
  }
}

.list-indented {
  p {
    margin: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
}

.obs-notes {
  .textile {
    @extend .list-indented;
  }
}

ul.tight-list {
  list-style: none;
  margin-bottom: 0.5em;
  padding-left: 1em;
}

div.textile img {
  max-width: 100%;
  max-height: auto;
}
