// form elements and inputs

.checkbox,
.radio {
  label {
    font-weight: $btn-font-weight;
  }
}

// rss-log filter buttons with checkboxes
.filter-form {
  input[type=checkbox] {
    vertical-align: text-top;
  }
}

input.has-error,
textarea.has-error,
select.has-error {
  border-color: $alert-danger-border !important;
}

// got this trick from:
// http://www.abeautifulsite.net/posts/whipping-file-inputs-into-shape-with-bootstrap-3/
.file-field {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }

  + span {
    margin-left: 0.5em;
  }
}

// Specific text elements

form.button_to {
  display: inline;
  margin: 0;
  padding: 0;

  div {
    display: inline;
  }

  input[type=submit]:not(.btn),
  button[type=submit]:not(.btn) {
    margin: 0;
    padding: 0;
    // -webkit-appearance: caret;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    cursor: pointer;
    // Note: Use a text-info type utility class to color the button text

    &:not(.text-danger) {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  input[type=submit]:hover {
    text-decoration: underline;
  }
}

// activity log filters inside btn-group
a.filter-only {
  color: darken($link-color, 25%) !important;

  &:hover {
    background-color: transparent;
  }
}

.vote-select-container {
  max-width: 21rem;
  display: inline-block;
}

.btn.text-danger {
  color: $brand-danger !important;
}

.name-radio {
  label {
    font-weight: normal;
  }
}

form {
  .carousel-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .panel-title {
      padding-bottom: 1.5rem;
    }
  }
}
