// form elements and inputs

.checkbox,
.radio {
  label {
    font-weight: $btn-font-weight;

    // Because it's within the label, it doesn't get the label's margin.
    .form-between {
      margin-left: 1rem;
    }
    .badge-id {
      font-size: 90% !important
    }
  }
}

// rss-log filter buttons with checkboxes
.filter-form {
  input[type=checkbox] {
    vertical-align: text-top;
  }
}

// Remove browser default gradients on select elements
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23666' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 10px;
  padding-right: 1.75rem;
}

input.has-error,
textarea.has-error,
select.has-error {
  border-color: $alert-danger-border !important;
}

// got this trick from:
// http://www.abeautifulsite.net/posts/whipping-file-inputs-into-shape-with-bootstrap-3/
.file-field {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }

  + span {
    margin-left: 0.5em;
  }
}

// Specific text elements

form.button_to {
  display: inline;
  margin: 0;
  padding: 0;

  div {
    display: inline;
  }

  input[type=submit]:not(.btn),
  button[type=submit]:not(.btn) {
    margin: 0;
    padding: 0;
    // -webkit-appearance: caret;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    cursor: pointer;
    // Note: Use a text-info type utility class to color the button text

    &:not(.text-danger) {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  input[type=submit]:hover {
    text-decoration: underline;
  }
}

// activity log filters inside btn-group
a.filter-only {
  color: darken($link-color, 25%) !important;

  &:hover {
    background-color: transparent;
  }
}

.vote-select-container {
  max-width: 21rem;
  display: inline-block;
}

.btn.text-danger {
  color: $brand-danger !important;
}

.name-radio {
  label {
    font-weight: normal;
  }
}

form {
  .carousel-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .panel-title {
      padding-bottom: 1.5rem;
    }
  }
}

// date selects: individual fields not full-width even on mobile
.form-inline.date-selects {
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.constrained-label {
  display: none;
}

.create-label {
  display: none;
}

.constrained {
  .unconstrained-label {
    display: none;
  }
  .constrained-label {
    display: inline-block;
  }
  .create-label {
    display: none;
  }
}

.create {
  .create-label {
    display: inline-block;
  }
  .unconstrained-label {
    display: none;
  }
  .constrained-label {
    display: none;
  }
}

.map-point,
.map-location,
.map-hide {
  display: none;
}

.map-open {
  .map-show {
    display: none;
  }
  .map-point,
  .map-location,
  .map-hide {
    display: inline-block;
  }
}

.overflow-scroll-checklist {
  max-height: 30rem;
  overflow-y: auto;
}

.panel-body {
  .row:last-child .form-group,
  > .autocompleter:last-child .form-group.dropdown:last-child,
  > .form-group:last-child
  {
    margin-bottom: 0.25rem;
  }

  + .panel-collapse {
    .panel-body {
      padding-top: 0 !important;
    }
  }
}
