.thumbnail-container {
  background-color: rgba(0,0,0, 0.33);
  // background-color: rgba(0,0,0, 0.12); // for matrix_box_carousels
}

//
// image interactions - theater and votes
// --------------------------------------------------

svg.placeholder {
  rect {
    fill: rgba($card-bg, 0.3) !important;
  }
}

.image-sizer {
  max-width: 100%;
}

//
// user thumbnails for comments, etc
// --------------------------------------------------

.user-image-sizer {
  max-width: 160px;
  max-height: 160px;
  position: relative;
}

//
// lightbox activator and vote links
// --------------------------------------------------

.vote-section,
.theater-btn {
  @extend .bg-legible;
  z-index: 4;
  opacity: 0;
  // border-radius: $border-radius-sm;
  color: white;
  transition: opacity 0.3s ease-out;

  form.button_to input {
    color: white;
  }
}

.theater-btn {
  @extend .top-right, .text-center, .mr-2, .mt-2;
  padding: 0.125em;

  &:hover {
    color: $link-color;
  }

  i {
    height: 1.65rem;
    width: 1.65rem;
    font-size: 1.5rem;
    vertical-align: bottom;
  }
}

.vote-section {
  a {
    color: white;

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: none;
    }
  }
}

.image-sizer {
  .vote-section {
    @extend .ab-bottom, .text-center;
    padding: 0.5em 0.25em;
  }
}

.image-vote,
.image-vote-link {
  color: white;
  background-color: transparent !important;
  padding: 0.125rem 0.25rem !important;
  border-radius: 0;
}

.image-vote-link {
  &:hover,
  &:focus {
    color: white;
    background-color: $link-color !important;
    text-decoration: none !important;
  }
}

.image-sizer:hover,
.image-sizer:focus,
.carousel-item:hover,
.carousel-item:focus {
  .vote-section,
  .theater-btn {
    opacity: 1;
    text-decoration: none;
  }
}


//
// image vote meter bar
// --------------------------------------------------

.progress.vote-meter {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px;
  height: 7px;
  margin-bottom: 0;

  .progress-bar {
    font-size: 12px;
    line-height: 5px;
    color: #FFF;
  }
}


//
// project title image
//

.image-title {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.image-title-text {
  background: $body_bg;
  color: $text_color;
  padding: 0.5em;
  margin-left: 18px;
}
