//
// image interactions - theater and votes
// --------------------------------------------------

//
// theater view & vote section
// --------------------------------------------------

// .theater-btn {
//   position: absolute;
//   background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.59);
//   color: black;
//   padding: 5px;
//   top: 0px;
//   border: 1px solid;
//   text-decoration: none;
//   display: none;
//   font-size: 18px;

//   &:hover,
//   &:focus {
//     background: black;
//     color: white;
//     padding: 5px;
//     top: 0px;
//     border: 1px solid;
//     text-decoration: none;
//   }
// }

.vote-section,
.theater-btn {
  @extend .top-right, .mr-2, .mt-2;
  z-index: 2;
  opacity: 0;
  background: rgba(0,0,0, 0.8);
  // border-radius: $border-radius-sm;
  padding: 0.25em;
  color: white;
  transition: opacity 0.3s ease-out;
}

.vote-section {
  @extend .ab-bottom, .text-center;
  z-index: 2;

  a {
    color: white;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.image-sizer:hover,
.image-sizer:focus {
  .vote-section,
  .theater-btn {
    opacity: 1;
    text-decoration: none;
  }
}

//
// image vote meter bar
// --------------------------------------------------

.vote-meter {
  @extend .mx-auto, .w-100;
  max-width: 200px;
  height: 7px;
  margin-bottom: 4px;
  overflow: hidden;
  background-color: $VOTE_METER_BG_COLOR;
  border-radius: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
  border: $VOTE_METER_BORDER_COLOR;
}

.vote-meter-bar {
  float: left;
  width: 0px;
  height: 100%;
  font-size: 12px;
  line-height: 5px;
  color: #FFF;
  text-align: center;
  background-color: $VOTE_METER_FG_COLOR;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
  transition: width 0.6s ease 0s;
}

//
// image vote meter bar
// --------------------------------------------------

// .vote-meter {
//   margin-left: auto;
//   margin-right: auto;
//   width: 100%;
//   max-width: 200px;
//   height: 7px;
//   margin-bottom: 4px;
//   overflow: hidden;
//   // background-color: $VOTE_METER_BG_COLOR;
//   background-color: rgba($secondary, 0.3);
//   border-radius: 0px;
//   // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
//   // border: $VOTE_METER_BORDER_COLOR;
//   border: 1px solid rgba($secondary, 0.5);

// }

// .vote-meter-bar {
//   float: left;
//   width: 0px;
//   height: 100%;
//   font-size: 12px;
//   line-height: 5px;
//   color: #FFF;
//   text-align: center;
//   // background-color: $VOTE_METER_FG_COLOR;
//   background-color: rgba($primary-text, 0.6);
//   // box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
//   transition: width 0.6s ease 0s;
// }
