//
// theater view
// --------------------------------------------------

.theater-btn,
.vote-section {
  opacity: 0;
  background: $black;
  border-radius: $border-radius-sm;
  padding: 0.25em;
  color: white;
  transition: opacity 0.3s ease-out;
}

.vote-section {

  a {
    color: white;

    &:hover,
    &:focus {
      color: $primary-text;
      text-decoration: none;
    }
  }
}

.image-sizer:hover,
.image-sizer:focus {
  .theater-btn,
  .vote-section {
    opacity: 1;
    text-decoration: none;
  }
}

// .theater-btn {
//     position: absolute;
//     background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.59);
//     color: black;
//     padding: 5px;
//     top: 0px;
//     border: 1px solid;
//     text-decoration: none;
//     display: none;
//     font-size: 18px;
// }
//
// .theater-btn:hover,
// .theater-btn:focus {
//   background: $black;
//   color: white;
//   border: 1px solid $black;
//   text-decoration: none;
// }


//
// image vote meter bar
// --------------------------------------------------

.vote-meter {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px;
  height: 7px;
  margin-bottom: 4px;
  overflow: hidden;
  // background-color: $VOTE_METER_BG_COLOR;
  background-color: rgba($secondary, 0.3);
  border-radius: 0px;
  // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
  // border: $VOTE_METER_BORDER_COLOR;
  border: 1px solid rgba($secondary, 0.5);

}

.vote-meter-bar {
  float: left;
  width: 0px;
  height: 100%;
  font-size: 12px;
  line-height: 5px;
  color: #FFF;
  text-align: center;
  // background-color: $VOTE_METER_FG_COLOR;
  background-color: rgba($primary-text, 0.6);
  // box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
  transition: width 0.6s ease 0s;
}


//
// exif popup
// --------------------------------------------------

.exif_cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(128,128,128,0.25);
  z-index: 99999;
  table {
    height: 100%;
    margin: auto;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    background: none;
    td {
      margin: 0;
      padding: 0;
    }
  }
  .exif_popup {
    overflow: auto;
    margin: 0;
    border: 1px solid black;
    padding: 5px 14px 5px 8px;
    background: white;
    color: black;
    table {
      tr:nth-child(odd) {
        background: #DDD;
      }
      tr:nth-child(even) {
        background: #EEE;
      }
      td {
        padding: 0 0 0 1em;
      }
      td:first-child {
        padding-left: 0;
        width: auto;
        min-width: 20em;
        max-width: 40em;
      }
    }
  }
}

.carousel-item {
  padding-bottom: 75%;
  position: relative;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.carousel-control-prev,
.carousel-control-next {
  padding: 2rem;
  bottom: 6vw;

  div.btn {
    background: rgba($black, 0.3);
    color: $white;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
  }
  &:hover {
    div.btn {
      background: rgba($black, 1);
    }
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-indicators {
  position: static;
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  li {
    background-color: transparent;
    width: 6vw;
    height: 6vw;
    position: relative;
    display: flex;
    overflow: hidden;
  }
}
