// root: smooth scrolling for on-page links
html {
  scroll-behavior: smooth;
}

// layout: sidebar offcanvas and right_side
// --------------------------------------------------
$sidebar-max-width: 12rem;

.sidebar-offcanvas {
  max-width: $sidebar-max-width;
}

// https://stackoverflow.com/questions/17982111/sass-variable-in-css-calc-function
@include media-breakpoint-up(xl) {
  .sidebar-offcanvas {
    width: $sidebar-max-width;
  }

  #right_side {
    flex: 0 0 calc(100% - #{$sidebar-max-width});
    max-width: calc(100% - #{$sidebar-max-width});
  }
}

.form-max-width {
  max-width: map-get($container-max-widths, md);
  margin-left: auto;
  margin-right: auto;
}

//
// specialized stuff for print view
// --------------------------------------------------

@media print {
  #right_side {
    width: 100% !important;
  }
}

//
// small devices, tablets
// --------------------------------------------------

@include media-breakpoint-down(lg) {

  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out;
    transform: translate3d(0,0,0);
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -$sidebar-max-width;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -$sidebar-max-width;
  }

  .row-offcanvas-right.active {
    right: $sidebar-max-width;
  }

  .row-offcanvas-left.active {
    left: $sidebar-max-width;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: $sidebar-max-width;
  }

  .overflow-x-hidden {
    overflow-x: hidden !important;
  }
}

//
// content
// --------------------------------------------------

#content {
  // margin-left: 2em; // NO! This pushes content off screen
  padding-bottom: 5em;
}

// Most browsers allow you to zoom in or out: let the user decide what
// an optimal width for a line of text should be.  There is no way for us
// to decide for them intelligently, since browsers differ so much in how
// they deal with print views.
@media screen {
  .container-text {
    max-width: 600px;
  }

  // .max-width-text-plus-padding {
  //   max-width: 650px;
  // }

  .container-text-image {
    max-width: 850px; // 600px text column + 160pm max thumbnail
  }

  .container-wide {
    max-width: 1200px;
  }
}
