//
// left nav bar styles. layout is in layout.scss
// --------------------------------------------------

.sidebar-nav {
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 2px;

  a {
    font-weight: normal;
  }

  .list-group-item {
    margin-top: 0px;
    border-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;

    &.active,
    &:hover,
    &:focus,
    &:hover a.dropdown-toggle,
    &:focus a.dropdown-toggle,
    a.dropdown-toggle:hover {
      color: $navbar-inverse-link-hover-color;
      background-color: $navbar-inverse-link-hover-bg;
    }

    // These are the headers
    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      color: $navbar-inverse-link-disabled-color;
      background-color: $navbar-inverse-link-disabled-bg;
      cursor: default;
      padding-left: 5px;
    }

    &#nav_bug_report_link {
      color: $navbar-inverse-link-disabled-color;
      &:hover,
      &:focus {
        color: $navbar-inverse-link-color;
      }
    }
  }

  .list-group-item,
  a.dropdown-toggle {
    color: $navbar-inverse-link-color;
    background-color: $navbar-inverse-bg;
  }
}


.theme-black-on-white {
  .sidebar-nav {
    .list-group-item#nav_bug_report_link {
      @extend .text-danger;
    }
  }
}
