//
// link, button, alert themed styles
// --------------------------------------------------

.btn-link {
  font-weight: normal !important;
}

//
// alerts
// --------------------------------------------------

.alert {
  margin: 0.5em 0;
  border-width: 2px;
  padding: 0.5em 1.0em;
  text-align: left;

  // message banner at top
  // --------------------------------------------------
  &.message-banner {
    font-size: 150%;
    text-align: center;
  }
}
