//
// link, button, alert themed styles
// --------------------------------------------------

// a:not(.btn):not(.list-group-item):not(.theater-btn):visited {
//   color: $LINK_VISITED_FG_COLOR;
// }

// .navbar-default {
//   a,
//   a:visited {
//     color: $LINK_FG_COLOR !important;
//   }
// }

.btn-link {
  font-weight: normal !important;
}

//
// alerts
// --------------------------------------------------

.alert {
  margin: 0.5em 0;
  border-width: 2px;
  padding: 0.5em 1.0em;
  text-align: left;

  // message banner at top
  // --------------------------------------------------
  &.message-banner {
    font-size: 150%;
    text-align: center;
  }
}

button:not(:disabled) {
  .when-disabled {
    display: none;
  }
  .when-enabled {
    display: inline-block;
  }
}

button:disabled {
  .when-disabled {
    display: inline-block;
  }
  .when-enabled {
    display: none;
  }
}

