//
// link, button, alert themed styles
// --------------------------------------------------

// a:not(.btn):not(.list-group-item):not(.theater-btn):visited {
//   color: $LINK_VISITED_FG_COLOR;
// }

// .navbar-default {
//   a,
//   a:visited {
//     color: $LINK_FG_COLOR !important;
//   }
// }

.btn-link {
  font-weight: normal !important;
}

//
// alerts
// --------------------------------------------------

.alert {
  margin: 0.5em 0;
  border-width: 2px;
  padding: 0.5em 1.0em;
  text-align: left;

  // message banner at top
  // --------------------------------------------------
  &.message-banner {
    font-size: 150%;
    text-align: center;
  }
}


/* Container for the chevron icon */
#show-banner-container {
  width: 100%;          /* Full width */
  position: relative;   /* Keep it in document flow */
  background-color: #f8f9fa; /* Optional background for visibility */
  padding: 5px 0;      /* Add padding to give space */
  text-align: right;   /* Center the chevron horizontally */
  z-index: 1;           /* Ensure it's above content if needed */
  display: none;        /* Initially hidden */
}

/* Chevron icon */
#show-banner-icon {
  font-size: 1em;        /* Size of the chevron icon */
  color: green;          /* Default color of the chevron */
  cursor: pointer;
  display: block;

  &:hover {
    color: darkgreen;      /* Change color on hover */
  }

  .glyphicon-chevron-down {
     display: block;
   }
}

#show-banner-icon.bottom {
  top: auto;    /* Reset top position */
  bottom: 20px; /* Place the chevron back at the bottom */
}

button:not(:disabled) {
  .when-disabled {
    display: none;
  }
  .when-enabled {
    display: inline-block;
  }
}

button:disabled {
  .when-disabled {
    display: inline-block;
  }
  .when-enabled {
    display: none;
  }
}

