//
// Mushroom Observer logo
// --------------------------------------------------

.logo-trim {
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo_link:hover {
  background-color: transparent;
}
