//
// Mushroom Observer logo
// --------------------------------------------------

.logo-trim {
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo_link:hover {
  background-color: transparent;
}

#navigation {
  .logo {
    background-color: $LOGO_BG_COLOR;
    border-width: 0px;
    border-bottom-width: $LOGO_BORDER_WIDTH;
    border-color: $LOGO_BORDER_COLOR;
    border-style: $LOGO_BORDER_STYLE;
    border-radius: 0px;
    @if $LEFT_BAR_ITEM_BORDER_WIDTH == 0px {
      margin-bottom: 5px;
    }

    padding-top: 5px;
    padding-bottom: 5px;
    font: small-caps 25px/25px "Times New Roman", serif;
    text-align: center;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
  }

  .logo .logo-text,
  .logo:visited .logo-text {
    color: $LOGO_FG_COLOR;
    background-color: transparent;
    text-decoration: none;
  }

  .logo:hover,
  .logo:hover div,
  .logo:hover .logo-text {
    color: $LOGO_HOVER_FG_COLOR;
    background-color: $LOGO_HOVER_BG_COLOR;
    text-decoration: none;
  }

  @if $LOGO_BORDER_STYLE == outset {
    .logo:active div {
      border-style: inset;
    }
  }
}
