//
// thumbnail & google map styles
//

.observation-form-map {
  height: 400px;
  width: 100%;
  background-position: center center;
  background-repeat: none;
}

.thumbnail-map-container {
  position:    relative;
  padding-bottom: 50%;
}

.thumbnail-map {
  position:    relative;
}

.thumbnail-map-box {
  position:    absolute;
  margin-top:  -2px;
  margin-left: -2px;
  border:      2px solid rgb(0, 255, 192);
}

.pin-offset {
  position:    absolute;
  width:       100%;
  height:      100%;
  margin-top:  2px;
  margin-left: -11px;
}

.red-pin {
  position:    absolute;
  width:       40px;
  height:      40px;
  background:  image-url("red_pin.png");
}

.thumbnail-buttons {
  z-index:     2;
  position:    absolute;
  padding:     10px;
  left:        0px;
  bottom:      0px;
}

.plus-button,
.minus-button {
  width:       16px;
  height:      16px;
  background:  image-url("thumbnail-map-buttons.png");
}

.minus-button {
  height:      15px;
  background-position: 0px 15px;
}
