//
// rss log
// --------------------------------------------------

.matrix-box {

  .panel {
    // min-height: 200px;
    margin-bottom: $grid-gutter-width;

    .thumbnail-container {
      min-height: 30px;
    }
  }

  .panel-sizing {
    min-height: 180px;
  }

  // for when the whole panel section is a link, or has a stretched link
  // rule necessary when the "link" is a checkbox <label>, not an <a>.
  // e.g. "Mark as reviewed"
  .panel-active {
    &:hover,
    &:focus,
    .stretched-link:hover,
    .stretched-link:focus {
      cursor: pointer;
      background-color: darken($panel-bg, 6.5%)
    }
  }
}

.rss-box-details {

  a {
    color: inherit !important;

    &:hover,
    &:active,
    &:focus {
      color: $link-color !important;
    }
  }
}

// To make way for floating ID
.rss-heading {

  .rss-name {
    margin-right: 7.5rem;
  }

  // Standardize the size of the ID
  small.rss-id {
    font-size: 1.05rem !important;
  }
  // small {
  //   font-size: 81%;
  // }
}

h5.rss-heading {
  font-size: 14px;
}

.rss-detail {
  margin-top: 5px;
  margin-bottom: 5px;
  // text-align: center;
}

// .rss-where,
// .rss-what,
// .rss-when,
// .rss-fancy-time {
  // text-align: center;
// }

.rss-what,
.rss-when,
.rss-fancy-time {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .rss-box-details {
    height: auto !important;
  }
}

.theme-amanita {

  .panel,
  .table,
  .list-group:not(.sidebar-nav) .list-group-item {
    background: rgba($panel-bg, 0.45);
  }

  // .panel-footer {
  //   background: none;
  // }

  .rss-box-details,
  .panel {

    h5 small,
    a {
      color: lighten($link-color, 12%) !important;

      &:hover,
      &:active,
      &:focus {
        color: lighten($link-color, 21%) !important;
      }
    }
  }

  .help-block {
    color: $text-color;
  }
}
