//
// rss log
// --------------------------------------------------

.matrix-box {

  .panel {
    min-height: 200px;

    .thumbnail-container {
      min-height: 30px;
    }
  }
}

.rss-detail {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.rss-where,
.rss-what,
.rss-when,
.rss-fancy-time {
  text-align: center;
}

.rss-what,
.rss-when,
.rss-fancy-time {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .rss-box-details {
    height: auto !important;
  }
}
