//
// rss log
// --------------------------------------------------

.matrix-box {

  .panel {
    min-height: 200px;

    .thumbnail-container {
      min-height: 30px;
    }
  }

  // for when the whole panel section is a link, or has a stretched link
  // rule necessary when the "link" is a checkbox <label>, not an <a>.
  // e.g. "Mark as reviewed"
  .panel-active {
    &:hover,
    &:focus,
    .stretched-link:hover,
    .stretched-link:focus {
      cursor: pointer;
      background-color: darken($panel-bg, 6.5%)
    }
  }
}

.rss-detail {
  margin-top: 5px;
  margin-bottom: 5px;
  // text-align: center;
}

.rss-where,
.rss-what,
.rss-when,
.rss-fancy-time {
  // text-align: center;
}

.rss-what,
.rss-when,
.rss-fancy-time {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .rss-box-details {
    height: auto !important;
  }
}
