// Namings is not a <table>, but has table-like layout properties
section.table-namings {
  width: 100%;

  .table-cell {
    padding: $panel-body-padding;
    vertical-align: middle;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  header .table-cell {
    vertical-align: bottom;
    padding-bottom: 0.25rem;

    &:first-child {
      padding-bottom: 0.5rem;
    }
  }

  // NOTE: not header.table-row
  div.table-row {
    background-color: $panel-bg;

    // reasons row - reason table-cell, then 4 dummy table-cells
    &:nth-of-type(even) {
      .table-cell {

        // the reasons
        &:first-child {
          padding: $panel-body-padding;
          padding-top: 0;
        }
      }
    }
  }

  // mobile layout
  @media screen and (max-width: ($grid-float-breakpoint - 1)) {

    header.table-row {
      .table-cell {
        display: none;
      }

      .table-cell:first-child {
        display: block;
      }
    }

    div.table-row {
      .table-cell {
        width: 100%;

        // name column
        &:first-child {
          padding-bottom: 0;
        }

        // user column
        &:nth-child(2) {
          padding-top: 0;
          padding-bottom: 0;
        }

        // community vote column
        &:nth-child(3) {
          padding-bottom: 0;

          span {
            float: right;
          }
        }

        // voting form column
        // &:nth-child(4) {
        // }

        // "eyes" column
        &:nth-child(5) {
          display: none;
        }
      }

      // reasons row - reason table-cell, then 4 dummy table-cells
      &:last-child {
        .table-cell {
          padding: 0;

          // the reasons
          &:first-child {
            padding: $panel-body-padding;
            padding-top: 0;
          }
        }
      }
    }
  }

  // desktop layout
  @media screen and (min-width: $grid-float-breakpoint) {
    .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;

      &:first-child {
        padding-left: 1em;
        width: 31%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 18%;
      }

      &:nth-child(4) {
        width: 22%;
      }

      &:nth-child(5) {
        width: 7%;
      }

      &:last-child {
        padding-right: 1rem;
        padding-left: 0.25rem;
      }
    }

    .colspan {
      max-width: 1px;
      overflow: visible;
    }
  }
}
