//
// name_lister
// --------------------------------------------------

table.scroller th {
  font-size: 120%;
  padding-bottom: 5px;
}

div.scroller {
  color: $dropdown-link-color;
  background-color: $dropdown-bg;
  height: 450px;
  overflow: auto;
  margin: 0;
  border: 1px solid $dropdown-border-color;
  padding: 0;
  font-style: italic;

  ul {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding: 0px 5px 0px 5px;
  }

  span.normal {
    font-style: normal;
  }

  li.hot {
    color: $dropdown-link-active-color;
    background-color: $dropdown-link-active-bg;
  }

  li.warm {
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}

.checklist {
  columns: 24rem auto;
}
