// Namings is not a <table>, but has table-like layout properties
.namings-table {
  .row {
    border-radius: $card-border-radius;
  }

  div.row {
    // background-color: $card-bg;

    .col {
      padding: $card-spacer-x;
      vertical-align: middle;

      // xs-sm only
      &.naming-reasons {
        padding-top: 0;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.namings-table-header {
  line-height: $headings-line-height;
}

.vote-icon-width {
  display: inline-block;
  position: relative;
  width: 60px;
  max-width: 100%;
}

.vote-icon-sizer {
  width: 100%;
  padding-bottom: 70%;

  > div {
    @extend .ab-fab;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

// Slick - this encodes the image in css, no loading
.vote-icon-yours {
  background-image: asset-data-url('eye3.png');
}

.vote-icon-consensus {
  background-image: asset-data-url('eyes3.png');
}
