//
// layout
// --------------------------------------------------

.left-side-navbar {
  flex: 0 1 210px;

  @include media-breakpoint-up(xl) {
    flex: 0 1 240px;
  }
}


.right-side-content {
  @include media-breakpoint-up(md) {
    padding-left: 3rem;
  }
}

.minh-100 {
  min-height: 100%;
}

.navbar {
  height: $navbar-height;
}

#content {
  padding-bottom: 10rem;
}

//
// top nav bar
// --------------------------------------------------

#header {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

#top_nav {

  .nav-link, .btn {
    font-weight: $font-weight-bold;
    font-size: 1.125rem;
    color: $primary-text;
  }

  .form-control {
    font-weight: $font-weight-semibold;
    font-size: 1.125rem;
    // background-color: $primary-text;
  }

  input.form-control {
    background-color: $accent;
    border-color: $accent;
    color: $primary-text;

    &::placeholder {
      color: rgba($primary-text, 0.63);
    }
  }
}

.site-logo {
  z-index: $zindex-tooltip;
  max-width: 100%;

  svg path {
    fill: $primary-text;
  }
}

.navbar-dark .navbar-brand,
.navbar-light .navbar-brand {
  font-weight: $font-weight-semibold;
  color: $primary-text;
}

.logo-wrap {
  padding-top: 0;
  padding-bottom: 34%;

  svg, img {
    object-fit: contain;
    object-position: left center;
  }
}


//
// left nav bar
// --------------------------------------------------

#sidebar {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
    height: 100vh; //calc(100vh - 4rem)
    margin-top: -$navbar-height;
    // overflow-y: auto;
  }
}

#left_nav {
  @include media-breakpoint-up(md) {
    // position: sticky;
    // top: 4rem;
    // height: calc(100vh - $navbar-height);
  }

  .mo-sidenav {
    display: block;
  }

  ul.nav > li > a {
    display: block;
    padding: .25rem 1.5rem .25rem 1.5rem;
    color: rgba( $secondary-text, .72 );

    &:visited {
      color: rgba( $secondary-text, .72 );
    }
  }
}

.mo-toc-item {

  &:not(:first-of-type){
    margin-top: 0.5rem;
  }
}

.mo-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  color: rgba( $secondary-text, .9 );

  &:visited {
    color: rgba( $secondary-text, .9 );
  }
}

//
// offcanvas
// --------------------------------------------------

.sidebar-offcanvas {
  max-width: $sidebar-max-width;
}

@include media-breakpoint-down(md) {
  // #navigation {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }

  // .rss-box-details {
  //     height: auto !important;
  // }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transform: translate3d(0,0,0);
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -$sidebar-max-width;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -$sidebar-max-width;
  }

  .row-offcanvas-right.active {
    right: $sidebar-max-width;
  }

  .row-offcanvas-left.active {
    left: $sidebar-max-width;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: $sidebar-max-width;
  }

  .hidden-overflow-x {
    overflow-x: hidden !important;
  }

  .navbar-default {
    margin: 0;
  }

  .navbar-form {
    margin: 0;
    border: 0;
  }
}
