//
// naming vote popup
// --------------------------------------------------

.popup {
    z-index: 1000;
    border: 1px solid $MENU_BORDER_COLOR;
    color: $MENU_FG_COLOR !important;
    background-color: $MENU_BG_COLOR !important;
    display: none;
}

//
// popup dialogs
// --------------------------------------------------

.hidden-links {
    display: none;
}
.cover {
    z-index: 999;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128,128,128,0.50);
}
.popup-dialog {
    z-index: 1000;
    position: absolute;
    border: 1px solid $MENU_BORDER_COLOR;
    padding: 0em 1em;
    color: $MENU_FG_COLOR !important;
    background-color: $MENU_BG_COLOR !important;
    div {
        margin: 1em 0em;
        text-align: center;
        input {
            margin: 0em 1em;
        }
    }
}
