//
// rss log
// --------------------------------------------------

// .rss-log-item {
//   padding: 5px;
//   text-align: center;
//   height: 350px;
// }

// .rss-fancy-time {
//   position: absolute;
//   top: -10px;
//   right: 2px;
//   color: mix($LIST_FG_COLOR, $LIST_BG_COLOR);
// }

.matrix-box {
  .panel {
    .thumbnail-container {
      min-height: 30px;
    }
  }
  .panel-body {
    min-height: 200px;
    height: 515px;
  }
}

.rss-detail {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.rss-where,
.rss-what,
.rss-when,
.rss-fancy-time {
  text-align: center;
}

.rss-what,
.rss-when,
.rss-fancy-time {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .rss-box-details {
    height: auto !important;
  }
}
