//
// tables
// --------------------------------------------------

thead tr {
  color: $LIST_HEADER_FG_COLOR;
  background-color: $LIST_HEADER_BG_COLOR;
}

.table-striped {
  tbody > tr:nth-child(odd) {
    background-color: $LIST_ODD_BG_COLOR;
  }

  tbody > tr:nth-child(even) {
    background-color: $LIST_EVEN_BG_COLOR;
  }
}

.table-curators,
.table-description-permissions,
.table-herbarium,
.table-license-updater,
.table-location-help,
.table-manage-species-lists,
.table-project-members,
.table-review-donations,
.table-upload-report,
.table-visual-model {
  th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.table-description-permissions {
  th, td {
    padding: 0.1em 0;
    text-align: center;
  }

  th:first-child,
  td:first-child {
    padding: 0.1em 0.5em;
    text-align: left;
  }
}

.table-donors {
  text-align: center;

  td {
    padding: 0.1em 1em;
  }
}

.table-herbarium {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: center;
  }

  td:nth-child(2),
  td:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
  }
}

.table-manage-species-lists {
  td {
    padding: 0.2em 1em;
  }

  tr {
    border-top: 1px solid $LIST_BORDER_COLOR;
  }

  tr:first-child {
    border-top: none;
  }
}

.table-publications {
  th, td {
    padding: 0.5em 0.5em;
  }

  td {
    border-top: 1px solid $LIST_BORDER_COLOR;
  }

  th:first-child,
  td:first-child {
    padding-left: 1em;
  }

  th:last-child,
  td:last-child {
    padding-right: 1em;
  }

  td:nth-child(2) {
    width: 20em;
    font-size: 85%;
    word-break: break-all;
  }

  td:nth-child(3),
  td:nth-child(4) {
    text-align: center;
    font-weight: bold;
  }

  td:last-child {
    text-align: center;
  }
}

.table-review-donations {
  th, td {
    border-right: 1px solid $LIST_BORDER_COLOR;
  }

  th:last-child,
  td:last-child {
    border: 0;
  }
}

.table-observation-form {
  background: none;
  width: 100%;

  td:first-child {
    padding-right: 10px;
  }

  td {
    padding-bottom: 5px;
  }
}

table.table-namings {
  width: 100%;

  tbody {
    border: 1px solid $LIST_BORDER_COLOR;
    border-radius: $INPUT_BORDER_RADIUS !important;
  }

  th {
    color: $BODY_FG_COLOR;
    background: $BODY_BG_COLOR;
    font-weight: normal;
    vertical-align: bottom;
  }

  th, td {
    padding: 5px;
    word-wrap: break-word;
    -webkit-hyphens: auto; /* iOS 4.2+ */
    -moz-hyphens: auto; /* Firefox 5+ */
    -ms-hyphens: auto; /* IE 10+ */
    hyphens: auto;
  }

  th:first-child {
    padding-left: 0;
  }

  td:first-child {
    padding-left: 1em;
    max-width: 175px;
  }

  td:nth-child(2) {
    max-width: 100px;
  }

  td:nth-child(3) {
    max-width: 75px;
  }

  td:nth-child(4) {
    max-width: 125px;
  }

  td:nth-child(5) {
    max-width: 65px;
  }

  td:last-child {
    padding-right: 1em;
  }
}

.table-lifeform {
  tr td {
    padding: .1em 1em;
  }

  tr:nth-child(odd) {
    background-color: $LIST_ODD_BG_COLOR;
  }

  tr:nth-child(even) {
    background-color: $LIST_EVEN_BG_COLOR;
  }
}

table.table-compact tr td {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

table.ips tr td,
table.ips tr th {
  background: #f7f;
  padding: 0 0.5em;
}

table.ips-lined tr td,
table.ips-lined tr th {
  border-left: 2px solid #d0d;
}
