//
// tables
// --------------------------------------------------

thead tr {
  color: $LIST_HEADER_FG_COLOR;
  background-color: $LIST_HEADER_BG_COLOR;
}

.table-striped {
  tbody > tr:nth-child(odd) {
    background-color: $LIST_ODD_BG_COLOR;
  }

  tbody > tr:nth-child(even) {
    background-color: $LIST_EVEN_BG_COLOR;
  }
}

.table-curators,
.table-description-permissions,
.table-herbarium,
.table-license-updater,
.table-location-help,
.table-manage-species-lists,
.table-project-members,
.table-review-donations,
.table-upload-report,
.table-visual-model {
  th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.table-description-permissions {
  th, td {
    padding: 0.1em 0;
    text-align: center;
  }

  th:first-child,
  td:first-child {
    padding: 0.1em 0.5em;
    text-align: left;
  }
}

.table-donors {
  text-align: center;

  td {
    padding: 0.1em 1em;
  }
}

.table-herbarium {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: center;
  }

  td:nth-child(2),
  td:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
  }
}

.table-manage-species-lists {
  td {
    padding: 0.2em 1em;
  }

  tr {
    border-top: 1px solid $LIST_BORDER_COLOR;
  }

  tr:first-child {
    border-top: none;
  }
}

.table-publications {
  th, td {
    padding: 0.5em 0.5em;
  }

  td {
    border-top: 1px solid $LIST_BORDER_COLOR;
  }

  th:first-child,
  td:first-child {
    padding-left: 1em;
  }

  th:last-child,
  td:last-child {
    padding-right: 1em;
  }

  td:nth-child(2) {
    width: 20em;
    font-size: 85%;
    word-break: break-all;
  }

  td:nth-child(3),
  td:nth-child(4) {
    text-align: center;
    font-weight: bold;
  }

  td:last-child {
    text-align: center;
  }
}

.table-review-donations {
  th, td {
    border-right: 1px solid $LIST_BORDER_COLOR;
  }

  th:last-child,
  td:last-child {
    border: 0;
  }
}

.table-observation-images {
  background: none;
  width: 100%;

  td:first-child {
    padding-right: 10px;
  }

  td {
    padding-bottom: 5px;
  }
}

section.table-namings {
  width: 100%;

  .table-cell {
    padding: $panel-body-padding;
    vertical-align: middle;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  header .table-cell {
    vertical-align: bottom;
    padding-bottom: 0.25rem;

    &:first-child {
      padding-left: 0;
      padding-bottom: 0.5rem;
    }
  }

  // NOTE: not header.table-row
  div.table-row {
    background-color: $panel-bg;

    // reasons row - reason table-cell, then 4 dummy table-cells
    &:nth-of-type(even) {
      .table-cell {

        // the reasons
        &:first-child {
          padding: $panel-body-padding;
          padding-top: 0;
        }
      }
    }
  }

  // mobile layout
  @media screen and (max-width: ($grid-float-breakpoint - 1)) {

    header.table-row {
      .table-cell {
        display: none;
      }

      .table-cell:first-child {
        display: block;
      }
    }

    div.table-row {
      .table-cell {
        width: 100%;

        // name column
        &:first-child {
          padding-bottom: 0;
        }

        // user column
        &:nth-child(2) {
          padding-top: 0;
          padding-bottom: 0;
        }

        // community vote column
        &:nth-child(3) {
          padding-bottom: 0;

          span {
            float: right;
          }
        }

        // voting form column
        // &:nth-child(4) {
        // }

        // "eyes" column
        &:nth-child(5) {
          display: none;
        }
      }

      // reasons row - reason table-cell, then 4 dummy table-cells
      &:last-child {
        .table-cell {
          padding: 0;

          // the reasons
          &:first-child {
            padding: $panel-body-padding;
            padding-top: 0;
          }
        }
      }
    }
  }

  // desktop layout
  @media screen and (min-width: $grid-float-breakpoint) {
    .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;

      &:first-child {
        padding-left: 1em;
        width: 31%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 18%;
      }

      &:nth-child(4) {
        width: 22%;
      }

      &:nth-child(5) {
        width: 7%;
      }

      &:last-child {
        padding-right: 1rem;
        padding-left: 0.25rem;
      }
    }

    .colspan {
      max-width: 1px;
      overflow: visible;
    }
  }
}

.table-lifeform {
  tr td {
    padding: .1em 1em;
  }

  tr:nth-child(odd) {
    background-color: $LIST_ODD_BG_COLOR;
  }

  tr:nth-child(even) {
    background-color: $LIST_EVEN_BG_COLOR;
  }
}

table.table-compact tr td {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

table.ips tr td,
table.ips tr th {
  background: #f7f;
  padding: 0 0.5em;
}

table.ips-lined tr td,
table.ips-lined tr th {
  border-left: 2px solid #d0d;
}
