//
// textile sandbox
// --------------------------------------------------

.textile {
  th, td {
    padding: 0.3em;
    vertical-align: top;
  }

  th {
    vertical-align: bottom;
  }
}

.sandbox {
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
  border-color: $input-border-color;
  padding: 2px 5px 0px 5px;
}
