//
// textile sandbox
// --------------------------------------------------

.sandbox {
  border-width: $INPUT_BORDER_WIDTH;
  border-style: $INPUT_BORDER_STYLE;
  border-radius: $INPUT_BORDER_RADIUS;
  border-color: $INPUT_BORDER_COLOR;
  padding: 2px 5px 0px 5px;
}
