//
// theater view
// --------------------------------------------------


.theater-btn {
  position: absolute;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.59);
  color: black;
  padding: 5px;
  top: 0px;
  border: 1px solid;
  text-decoration: none;
  display: none;
  font-size: 18px;

  &:hover,
  &:focus {
    background: black;
    color: white;
    padding: 5px;
    top: 0px;
    border: 1px solid;
    text-decoration: none;
  }
}
