//
// top nav bar
// --------------------------------------------------

.navbar-default {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  padding: 0px;

  a,
  a:visited {
    color: $navbar-default-link-color;
    background-color: $navbar-default-link-active-bg;
  }

  a:hover {
    color: $navbar-default-link-hover-color;
    background-color: $navbar-default-link-hover-bg;
  }

  .navbar-nav {
    margin-right: 2px;
  }

  .navbar_right {
    .dropdown > a {
      color: $navbar-default-color !important;
      background-color: $navbar-default-bg !important;
      padding-left: 8px;
      padding-right: 8px;
      font-weight: bold !important;

      &:hover {
        color: $navbar-default-link-hover-color !important;
        background-color: $navbar-default-link-hover-bg !important;
      }
    }

    > ul.navbar-right > li {
      @extend .ml-4;
    }
  }

  .dropdown-menu li button.btn-link {
    padding: 3px 20px;
  }

  // The button_to form, not the button, needs to display: block
  #context_nav {
    .button_to {
      display: block;
    }
  }
}
