//
// top nav bar
// --------------------------------------------------

#top_nav {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0;
  border-left-width: 0;
  padding: 0px;

  a,
  a:visited {
    color: $navbar-light-color;
    // background-color: $navbar-light-link-active-bg;
  }

  a:hover {
    color: $navbar-light-hover-color;
    // background-color: $navbar-light-link-hover-bg;
  }

  .navbar-nav {
    margin-right: 2px;
  }

  .navbar-nav > li > a,
  .navbar-nav > li > a.dropdown-toggle {
    color: $navbar-light-color !important;
    // background-color: $navbar-light-bg !important;
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
      color: $navbar-light-hover-color !important;
      // background-color: $navbar-light-link-hover-bg !important;
    }
  }

  // The button_to form, not the button, needs to display: block
  #right_tabs {
    .button_to {
      display: block;
    }
  }
}
