// ==================================================
// ADMIN THEME
// ==================================================
// High-contrast admin theme with bright, distinctive colors
// for administrative functions
// ==================================================

// ==================================================
// SECTION 1: THEME COLOR PALETTE
// ==================================================

$admin_purple:        #DD00DD;
$admin_yellow:        yellow;
$admin_blue:          #2050E0;
$admin_gray:          #535354;
$admin_black:         black;
$admin_white:         white;

// ==================================================
// SECTION 2: SEMANTIC COLOR ASSIGNMENTS
// ==================================================

$PRIMARY_COLOR:                     $admin_blue;
$SECONDARY_COLOR:                   $admin_yellow;
$SUCCESS_COLOR:                     #70C070;
$INFO_COLOR:                        #5BC0DE;
$WARNING_COLOR:                     $admin_yellow;
$DANGER_COLOR:                      #F07070;
$LIGHT_COLOR:                       $admin_white;
$DARK_COLOR:                        $admin_black;

// ==================================================
// SECTION 3: UI ELEMENT COLORS
// ==================================================

// --------------------------------------------------
// Body and Typography
// --------------------------------------------------

$BODY_FG_COLOR:                     $admin_black;
$BODY_BG_COLOR:                     $admin_purple;

// --------------------------------------------------
// Links
// --------------------------------------------------

$LINK_WEIGHT:                       normal;
$LINK_FG_COLOR:                     $admin_blue;
$LINK_BG_COLOR:                     transparent;
$LINK_VISITED_FG_COLOR:             darken($admin_blue, 10%);
$LINK_VISITED_BG_COLOR:             transparent;
$LINK_HOVER_FG_COLOR:               lighten($admin_blue, 10%);
$LINK_HOVER_BG_COLOR:               transparent;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$BUTTON_FG_COLOR:                   $admin_black;
$BUTTON_BG_COLOR:                   $admin_yellow;
$BUTTON_BORDER_COLOR:               $admin_black;
$BUTTON_HOVER_FG_COLOR:             $admin_yellow;
$BUTTON_HOVER_BG_COLOR:             $admin_black;
$BUTTON_HOVER_BORDER_COLOR:         $admin_yellow;
$BUTTON_ACTIVE_FG_COLOR:            $admin_yellow;
$BUTTON_ACTIVE_BG_COLOR:            $admin_gray;
$BUTTON_PRIMARY_FG_COLOR:           $admin_white;
$BUTTON_PRIMARY_BG_COLOR:           $admin_blue;
$BUTTON_PRIMARY_BORDER_COLOR:       $admin_black;
$BUTTON_PRIMARY_HOVER_FG_COLOR:     $admin_white;
$BUTTON_PRIMARY_HOVER_BG_COLOR:     darken($admin_blue, 10%);
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: $admin_black;
$BUTTON_BORDER_WIDTH:               2px;
$BUTTON_BORDER_STYLE:               solid;
$BUTTON_BORDER_RADIUS:              5px;

// --------------------------------------------------
// Form Inputs
// --------------------------------------------------

$INPUT_FG_COLOR:                    $admin_black;
$INPUT_BG_COLOR:                    $admin_white;
$INPUT_BORDER_COLOR:                $admin_black;
$INPUT_BORDER_WIDTH:                2px;
$INPUT_BORDER_STYLE:                solid;
$INPUT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Alert States (Info, Success, Warning, Danger)
// --------------------------------------------------

$INFO_BG_COLOR:                     #E0F8FF;
$INFO_BORDER_COLOR:                 #5BC0DE;
$INFO_FG_COLOR:                     $admin_black;
$SUCCESS_BG_COLOR:                  #E0FFE0;
$SUCCESS_BORDER_COLOR:              #70C070;
$SUCCESS_FG_COLOR:                  $admin_black;
$WARNING_BG_COLOR:                  #FFF8E0;
$WARNING_BORDER_COLOR:              #F8CC70;
$WARNING_FG_COLOR:                  $admin_black;
$DANGER_BG_COLOR:                   #FFE0E0;
$DANGER_BORDER_COLOR:               #F07070;
$DANGER_FG_COLOR:                   $admin_black;

$BANNER_BORDER_WIDTH:               3px;
$BANNER_BORDER_STYLE:               solid;
$BANNER_BORDER_RADIUS:              0px;

$ALERT_BORDER_WIDTH:                3px;
$ALERT_BORDER_STYLE:                solid;
$ALERT_BORDER_RADIUS:               0px;

// --------------------------------------------------
// Logo
// --------------------------------------------------

$LOGO_BORDER_COLOR:                 $admin_black;
$LOGO_BORDER_WIDTH:                 2px;
$LOGO_BORDER_STYLE:                 solid;
$LOGO_BORDER_RADIUS:                0px;
$LOGO_FG_COLOR:                     $admin_black;
$LOGO_BG_COLOR:                     $admin_yellow;
$LOGO_HOVER_FG_COLOR:               $admin_purple;
$LOGO_HOVER_BG_COLOR:               $admin_yellow;

// --------------------------------------------------
// Left Navigation Bar
// --------------------------------------------------

$LEFT_BAR_BORDER_COLOR:             $admin_gray;
$LEFT_BAR_BORDER_WIDTH:             2px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            0px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_FG_COLOR:          $admin_black;
$LEFT_BAR_HEADER_BG_COLOR:          $admin_yellow;
$LEFT_BAR_FG_COLOR:                 $admin_blue;
$LEFT_BAR_BG_COLOR:                 $admin_yellow;
$LEFT_BAR_HOVER_FG_COLOR:           $admin_yellow;
$LEFT_BAR_HOVER_BG_COLOR:           $admin_blue;

// --------------------------------------------------
// Top Navigation Bar
// --------------------------------------------------

$TOP_BAR_BORDER_COLOR:              none;
$TOP_BAR_BORDER_WIDTH:              0;
$TOP_BAR_BORDER_STYLE:              none;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_FG_COLOR:                  $admin_black;
$TOP_BAR_BG_COLOR:                  $admin_purple;
$TOP_BAR_LINK_FG_COLOR:             $admin_blue;
$TOP_BAR_LINK_BG_COLOR:             transparent;
$TOP_BAR_LINK_HOVER_FG_COLOR:       lighten($admin_blue, 20%);
$TOP_BAR_LINK_HOVER_BG_COLOR:       transparent;

// --------------------------------------------------
// Lists and Tables
// --------------------------------------------------

$LIST_BORDER_COLOR:                 $admin_black;
$LIST_HEADER_FG_COLOR:              $admin_black;
$LIST_HEADER_BG_COLOR:              $admin_yellow;
$LIST_FG_COLOR:                     $admin_black;
$LIST_BG_COLOR:                     $admin_white;
$LIST_EVEN_BG_COLOR:                #FFFFCC;
$LIST_ODD_BG_COLOR:                 $admin_white;
$LIST_HOVER_BG_COLOR:               $admin_yellow;

// --------------------------------------------------
// Menus and Dropdowns
// --------------------------------------------------

$MENU_BORDER_COLOR:                 $admin_black;
$MENU_FG_COLOR:                     $admin_black;
$MENU_BG_COLOR:                     $admin_white;
$MENU_HOT_FG_COLOR:                 $admin_black;
$MENU_HOT_BG_COLOR:                 $admin_yellow;
$MENU_WARM_FG_COLOR:                $admin_white;
$MENU_WARM_BG_COLOR:                #FF8888;

// --------------------------------------------------
// Pagination
// --------------------------------------------------

$PAGER_FG_COLOR:                    $admin_blue;
$PAGER_BG_COLOR:                    transparent;
$PAGER_BORDER_COLOR:                none;
$PAGER_HOVER_FG_COLOR:              $admin_white;
$PAGER_HOVER_BG_COLOR:              $admin_blue;
$PAGER_HOVER_BORDER_COLOR:          none;
$PAGER_ACTIVE_FG_COLOR:             $admin_yellow;
$PAGER_ACTIVE_BG_COLOR:             $admin_black;
$PAGER_ACTIVE_BORDER_COLOR:         none;

// --------------------------------------------------
// Tooltips
// --------------------------------------------------

$TOOLTIP_FG_COLOR:                  $admin_yellow;
$TOOLTIP_BG_COLOR:                  $admin_black;

// --------------------------------------------------
// Vote Meters
// --------------------------------------------------

$VOTE_METER_BORDER_COLOR:           none;
$VOTE_METER_FG_COLOR:               $admin_black;
$VOTE_METER_BG_COLOR:               $admin_yellow;

// --------------------------------------------------
// Progress Bars
// --------------------------------------------------

$PROGRESS_BG_COLOR:                 $admin_gray;
$PROGRESS_FG_COLOR:                 $admin_black;
$PROGRESS_BAR_COLOR:                $admin_yellow;

// --------------------------------------------------
// Wells and Panels
// --------------------------------------------------

$WELL_FG_COLOR:                     $admin_black;
$WELL_BG_COLOR:                     lighten($admin_purple, 40%);
