// ==================================================
// ADMIN THEME
// ==================================================
// High-contrast admin theme with bright, distinctive colors
// for administrative functions
// ==================================================

// ==================================================
// SECTION 1: THEME COLOR PALETTE
// ==================================================

// Core colors
$purple:        #DD00DD;
$yellow:        #FFFF00;
$blue:          #2050E0;
$gray:          #535354;
$black:         #000000;
$white:         #FFFFFF;

// Derived colors (using scale-color for relative adjustments)
$dark_blue:     scale-color($blue, $lightness: -20%);
$light_blue:    scale-color($blue, $lightness: 20%);
$lighter_blue:  scale-color($blue, $lightness: 40%);
$light_purple:  scale-color($purple, $lightness: 70%);

// Alert state colors
$info_blue:      #5167b2; // polyozellus_dark
$success_green:  #70C070;
$warning_yellow: #F8CC70;
$danger_red:     #F07070;

// Accent colors
$pale_yellow:    #FFFFCC;
$warm_red:       #FF8888;

// ==================================================
// SECTION 2: BOOTSTRAP CORE COLOR ASSIGNMENTS
// ==================================================

$PRIMARY_COLOR:   $blue;
$SECONDARY_COLOR: $yellow;
$LIGHT_COLOR:     $white;
$DARK_COLOR:      $black;

$INFO_COLOR:      $info_blue;
$SUCCESS_COLOR:   $success_green;
$WARNING_COLOR:   $yellow;
$DANGER_COLOR:    $danger_red;

// ==================================================
// SECTION 3: UI ELEMENT COLORS
// ==================================================

// --------------------------------------------------
// Body and Typography
// --------------------------------------------------

$BODY_FG_COLOR:                     $black;
$BODY_BG_COLOR:                     $purple;

// --------------------------------------------------
// Links
// --------------------------------------------------

$LINK_WEIGHT:                       normal;
$LINK_FG_COLOR:                     $blue;
$LINK_BG_COLOR:                     transparent;
$LINK_VISITED_FG_COLOR:             $dark_blue;
$LINK_VISITED_BG_COLOR:             transparent;
$LINK_HOVER_FG_COLOR:               $light_blue;
$LINK_HOVER_BG_COLOR:               transparent;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$BUTTON_FG_COLOR:                   $black;
$BUTTON_BG_COLOR:                   $yellow;
$BUTTON_BORDER_COLOR:               $black;
$BUTTON_PRIMARY_FG_COLOR:           $white;
$BUTTON_PRIMARY_BG_COLOR:           $blue;
$BUTTON_PRIMARY_BORDER_COLOR:       $black;
$BUTTON_PRIMARY_HOVER_FG_COLOR:     $white;
$BUTTON_PRIMARY_HOVER_BG_COLOR:     $dark_blue;
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: $black;
$BUTTON_BORDER_WIDTH:               2px;
$BUTTON_BORDER_STYLE:               solid;
$BUTTON_BORDER_RADIUS:              5px;

// --------------------------------------------------
// Form Inputs
// --------------------------------------------------

$INPUT_FG_COLOR:                    $black;
$INPUT_BG_COLOR:                    $white;
$INPUT_BORDER_COLOR:                $black;
$INPUT_BORDER_WIDTH:                2px;
$INPUT_BORDER_STYLE:                solid;
$INPUT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Alert States (Info, Success, Warning, Danger)
// --------------------------------------------------

$INFO_BG_COLOR:                     rgba($INFO_COLOR, 20%);
$INFO_BORDER_COLOR:                 $INFO_COLOR;
$INFO_FG_COLOR:                     $BODY_FG_COLOR;
$SUCCESS_BG_COLOR:                  rgba($SUCCESS_COLOR, 20%);
$SUCCESS_BORDER_COLOR:              $SUCCESS_COLOR;
$SUCCESS_FG_COLOR:                  $BODY_FG_COLOR;
$WARNING_BG_COLOR:                  rgba($WARNING_COLOR, 20%);
$WARNING_BORDER_COLOR:              $WARNING_COLOR;
$WARNING_FG_COLOR:                  $BODY_FG_COLOR;
$DANGER_BG_COLOR:                   rgba($DANGER_COLOR, 20%);
$DANGER_BORDER_COLOR:               $DANGER_COLOR;
$DANGER_FG_COLOR:                   $BODY_FG_COLOR;


$BANNER_BORDER_WIDTH:               3px;
$BANNER_BORDER_STYLE:               solid;
$BANNER_BORDER_RADIUS:              0px;

$ALERT_BORDER_WIDTH:                3px;
$ALERT_BORDER_STYLE:                solid;
$ALERT_BORDER_RADIUS:               0px;

// --------------------------------------------------
// Left Navigation Bar
// --------------------------------------------------

$LEFT_BAR_BORDER_COLOR:             $gray;
$LEFT_BAR_BORDER_WIDTH:             2px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            0px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_FG_COLOR:          $black;
$LEFT_BAR_HEADER_BG_COLOR:          $yellow;
$LEFT_BAR_FG_COLOR:                 $blue;
$LEFT_BAR_BG_COLOR:                 $yellow;
$LEFT_BAR_HOVER_FG_COLOR:           $yellow;
$LEFT_BAR_HOVER_BG_COLOR:           $blue;

// --------------------------------------------------
// Top Navigation Bar
// --------------------------------------------------

$TOP_BAR_BORDER_COLOR:              none;
$TOP_BAR_BORDER_WIDTH:              0;
$TOP_BAR_BORDER_STYLE:              none;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_FG_COLOR:                  $black;
$TOP_BAR_BG_COLOR:                  $purple;
$TOP_BAR_LINK_FG_COLOR:             $blue;
$TOP_BAR_LINK_BG_COLOR:             transparent;
$TOP_BAR_LINK_HOVER_FG_COLOR:       $lighter_blue;
$TOP_BAR_LINK_HOVER_BG_COLOR:       transparent;

// --------------------------------------------------
// Lists and Tables
// --------------------------------------------------

$LIST_BORDER_COLOR:                 $black;
$LIST_HEADER_FG_COLOR:              $black;
$LIST_HEADER_BG_COLOR:              $yellow;
$LIST_FG_COLOR:                     $black;
$LIST_BG_COLOR:                     $white;
$LIST_EVEN_BG_COLOR:                $pale_yellow;
$LIST_ODD_BG_COLOR:                 $white;
$LIST_HOVER_BG_COLOR:               $yellow;

// --------------------------------------------------
// Menus and Dropdowns
// --------------------------------------------------

$MENU_BORDER_COLOR:                 $black;
$MENU_FG_COLOR:                     $black;
$MENU_BG_COLOR:                     $white;
$MENU_HOT_FG_COLOR:                 $black;
$MENU_HOT_BG_COLOR:                 $yellow;
$MENU_WARM_FG_COLOR:                $white;
$MENU_WARM_BG_COLOR:                $warm_red;

// --------------------------------------------------
// Pagination
// --------------------------------------------------

$PAGER_FG_COLOR:                    $blue;
$PAGER_BG_COLOR:                    transparent;
$PAGER_BORDER_COLOR:                none;
$PAGER_HOVER_FG_COLOR:              $white;
$PAGER_HOVER_BG_COLOR:              $blue;
$PAGER_HOVER_BORDER_COLOR:          none;
$PAGER_ACTIVE_FG_COLOR:             $yellow;
$PAGER_ACTIVE_BG_COLOR:             $black;
$PAGER_ACTIVE_BORDER_COLOR:         none;

// --------------------------------------------------
// Tooltips
// --------------------------------------------------

$TOOLTIP_FG_COLOR:                  $yellow;
$TOOLTIP_BG_COLOR:                  $black;

// --------------------------------------------------
// Vote Meters
// --------------------------------------------------

$VOTE_METER_BORDER_COLOR:           none;
$VOTE_METER_FG_COLOR:               $black;
$VOTE_METER_BG_COLOR:               $yellow;

// --------------------------------------------------
// Progress Bars
// --------------------------------------------------

$PROGRESS_BG_COLOR:                 $gray;
$PROGRESS_FG_COLOR:                 $black;
$PROGRESS_BAR_COLOR:                $yellow;

// --------------------------------------------------
// Panels
// --------------------------------------------------

$PANEL_FG_COLOR:                    $BODY_FG_COLOR;
$PANEL_BG_COLOR:                    $light_purple;
$PANEL_BORDER_COLOR:                $black;
$PANEL_FOOTER_FG_COLOR:             $BODY_FG_COLOR;
$PANEL_FOOTER_BG_COLOR:             $PANEL_BG_COLOR;
