// ==================================================
// AMANITA THEME
// ==================================================
// Inspired by various Amanita species including:
// - A. phalloides (Death Cap)
// - A. calyptroderma (Coccora)
// - A. muscaria (Fly Agaric)
// - A. velosa
// - A. novinupta
// - A. pachycolea
// ==================================================

// ==================================================
// SECTION 1: THEME COLOR PALETTE
// ==================================================

$pale_olive:  #e6edd5; // phalloides_foreground
$light_olive: #dfe4bc; // phalloides_light_cap
$olive:       #beb977; // phalloides_middle_cap
$dark_olive:  #787133; // phalloides_dark_cap
$gold:        #ebcc79; // calyptroderma_spring_background
$cream:       #f9f2e0; // calyptroderma_spring_foreground
$rust:        #954c23; // calyptroderma_fall_dark_cap
$beige:       #ebe4de; // calyptroderma_volva
$amber:       #f5bd5e; // calyptroderma_light_cap
$copper:      #c18346; // calyptroderma_middle_cap
$red:         #cc2616; // muscaria_background
$pale_yellow: #fff8c6; // muscaria_foreground
$orange:      #dd9d5f; // velosa_background
$peach:       #faebd4; // velosa_light_veil
$apricot:     #f4d5a6; // velosa_dark_veil
$dusty_pink:  #d1afa5; // novinupta_background
$dark_brown:  #383138; // pachycolea_background
$silver:      #bfc0bb; // pachycolea_foreground
$tan:         #aa9a83; // pachycolea_light_stipe
$chocolate:   #60412d; // pachycolea_dark_brown
$light_blue:  #a5bffa; // polyozellus_light
$dark_blue:   #5167b2; // polyozellus_dark

// Derived grays (mixed from theme colors)
$light_gray:  mix($dark_brown, $silver, 10%);
$medium_gray: mix($dark_brown, $silver, 25%);
$dark_gray:   mix($dark_brown, $silver, 50%);

// Dark theme list backgrounds
$deep_dark_brown:   mix($dark_brown, black, 80%);
$deeper_dark_brown: mix($dark_brown, black, 20%);

// Semi-transparent colors
$muted_tan: rgba($tan, 0.45);

// Alert state colors
$success_green:  #70C070;
$success_bg:     #E0FFE0;
$warning_yellow: #F8CC70;
$warning_bg:     #FFF8E0;
$danger_red:     #F07070;
$danger_bg:      #FFE0E0;

// ==================================================
// SECTION 2: SEMANTIC COLOR ASSIGNMENTS
// ==================================================

$PRIMARY_COLOR:                     $tan;
$SECONDARY_COLOR:                   $orange;
$SUCCESS_COLOR:                     $success_green;
$INFO_COLOR:                        $dark_blue;
$WARNING_COLOR:                     $amber;
$DANGER_COLOR:                      $red;
$LIGHT_COLOR:                       $silver;
$DARK_COLOR:                        $dark_brown;

// ==================================================
// SECTION 3: UI ELEMENT COLORS
// ==================================================

// --------------------------------------------------
// Body and Typography
// --------------------------------------------------

$BODY_FG_COLOR:                     $silver;
$BODY_BG_COLOR:                     $dark_brown;

// --------------------------------------------------
// Links
// --------------------------------------------------

$LINK_WEIGHT:                       normal;
$LINK_FG_COLOR:                     $tan;
$LINK_BG_COLOR:                     transparent;
$LINK_VISITED_FG_COLOR:             $pale_yellow;
$LINK_VISITED_BG_COLOR:             transparent;
$LINK_HOVER_FG_COLOR:               $tan;
$LINK_HOVER_BG_COLOR:               $red;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$BUTTON_FG_COLOR:                   $silver;
$BUTTON_BG_COLOR:                   $dark_brown;
$BUTTON_BORDER_COLOR:               $medium_gray;
$BUTTON_HOVER_FG_COLOR:             $dark_brown;
$BUTTON_HOVER_BG_COLOR:             $silver;
$BUTTON_HOVER_BORDER_COLOR:         $dark_brown;
$BUTTON_ACTIVE_FG_COLOR:            $red;
$BUTTON_ACTIVE_BG_COLOR:            $silver;
$BUTTON_PRIMARY_FG_COLOR:           $dark_brown;
$BUTTON_PRIMARY_BG_COLOR:           $orange;
$BUTTON_PRIMARY_BORDER_COLOR:       $apricot;
$BUTTON_PRIMARY_HOVER_FG_COLOR:     $dark_brown;
$BUTTON_PRIMARY_HOVER_BG_COLOR:     $apricot;
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: $chocolate;
$BUTTON_BORDER_WIDTH:               1px;
$BUTTON_BORDER_STYLE:               solid;
$BUTTON_BORDER_RADIUS:              5px;

// --------------------------------------------------
// Form Inputs
// --------------------------------------------------

$INPUT_FG_COLOR:                    $silver;
$INPUT_BG_COLOR:                    $dark_brown;
$INPUT_BORDER_COLOR:                $medium_gray;
$INPUT_BORDER_WIDTH:                1px;
$INPUT_BORDER_STYLE:                solid;
$INPUT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Alert States (Info, Success, Warning, Danger)
// --------------------------------------------------

$INFO_BG_COLOR:                     $dark_blue;
$INFO_BORDER_COLOR:                 $light_blue;
$INFO_FG_COLOR:                     $silver;
$SUCCESS_BG_COLOR:                  $success_bg;
$SUCCESS_BORDER_COLOR:              $success_green;
$SUCCESS_FG_COLOR:                  $dark_brown;
$WARNING_BG_COLOR:                  $warning_bg;
$WARNING_BORDER_COLOR:              $warning_yellow;
$WARNING_FG_COLOR:                  $dark_brown;
$DANGER_BG_COLOR:                   $danger_bg;
$DANGER_BORDER_COLOR:               $danger_red;
$DANGER_FG_COLOR:                   $dark_brown;

$BANNER_BORDER_WIDTH:               2px;
$BANNER_BORDER_STYLE:               solid;
$BANNER_BORDER_RADIUS:              5px;

$ALERT_BORDER_WIDTH:                2px;
$ALERT_BORDER_STYLE:                solid;
$ALERT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Logo
// --------------------------------------------------

$LOGO_BORDER_COLOR:                 $peach;
$LOGO_BORDER_WIDTH:                 1px;
$LOGO_BORDER_STYLE:                 solid;
$LOGO_BORDER_RADIUS:                0px;
$LOGO_FG_COLOR:                     $pale_yellow;
$LOGO_BG_COLOR:                     $red;
$LOGO_HOVER_FG_COLOR:               $pale_yellow;
$LOGO_HOVER_BG_COLOR:               $red;

// --------------------------------------------------
// Left Navigation Bar
// --------------------------------------------------

$LEFT_BAR_BORDER_COLOR:             $orange;
$LEFT_BAR_BORDER_WIDTH:             1px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            5px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_FG_COLOR:          $red;
$LEFT_BAR_HEADER_BG_COLOR:          $orange;
$LEFT_BAR_FG_COLOR:                 $peach;
$LEFT_BAR_BG_COLOR:                 $orange;
$LEFT_BAR_HOVER_FG_COLOR:           $peach;
$LEFT_BAR_HOVER_BG_COLOR:           $red;

// --------------------------------------------------
// Top Navigation Bar
// --------------------------------------------------

$TOP_BAR_BORDER_COLOR:              transparent;
$TOP_BAR_BORDER_WIDTH:              1px;
$TOP_BAR_BORDER_STYLE:              solid;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_FG_COLOR:                  $silver;
$TOP_BAR_BG_COLOR:                  $dark_brown;
$TOP_BAR_LINK_FG_COLOR:             $tan;
$TOP_BAR_LINK_BG_COLOR:             transparent;
$TOP_BAR_LINK_HOVER_FG_COLOR:       $tan;
$TOP_BAR_LINK_HOVER_BG_COLOR:       $red;

// --------------------------------------------------
// Lists and Tables
// --------------------------------------------------

$LIST_BORDER_COLOR:                 transparent;
$LIST_HEADER_FG_COLOR:              $dark_gray;
$LIST_HEADER_BG_COLOR:              $light_gray;
$LIST_FG_COLOR:                     $silver;
$LIST_BG_COLOR:                     $deep_dark_brown;
$LIST_EVEN_BG_COLOR:                $deep_dark_brown;
$LIST_ODD_BG_COLOR:                 $deeper_dark_brown;
$LIST_HOVER_BG_COLOR:               $chocolate;

// --------------------------------------------------
// Menus and Dropdowns
// --------------------------------------------------

$MENU_BORDER_COLOR:                 $dark_brown;
$MENU_FG_COLOR:                     $dark_brown;
$MENU_BG_COLOR:                     $silver;
$MENU_HOT_FG_COLOR:                 $dark_brown;
$MENU_HOT_BG_COLOR:                 $red;
$MENU_WARM_FG_COLOR:                $dark_brown;
$MENU_WARM_BG_COLOR:                $orange;

// --------------------------------------------------
// Pagination
// --------------------------------------------------

$PAGER_FG_COLOR:                    $silver;
$PAGER_BG_COLOR:                    transparent;
$PAGER_BORDER_COLOR:                none;
$PAGER_HOVER_FG_COLOR:              $silver;
$PAGER_HOVER_BG_COLOR:              $red;
$PAGER_HOVER_BORDER_COLOR:          none;
$PAGER_ACTIVE_FG_COLOR:             $dark_brown;
$PAGER_ACTIVE_BG_COLOR:             $silver;
$PAGER_ACTIVE_BORDER_COLOR:         none;

// --------------------------------------------------
// Tooltips
// --------------------------------------------------

$TOOLTIP_FG_COLOR:                  $dark_brown;
$TOOLTIP_BG_COLOR:                  $silver;

// --------------------------------------------------
// Vote Meters
// --------------------------------------------------

$VOTE_METER_BORDER_COLOR:           none;
$VOTE_METER_FG_COLOR:               $silver;
$VOTE_METER_BG_COLOR:               $dark_brown;

// --------------------------------------------------
// Progress Bars
// --------------------------------------------------

$PROGRESS_BG_COLOR:                 $dark_brown;
$PROGRESS_FG_COLOR:                 $silver;
$PROGRESS_BAR_COLOR:                $dark_olive;

// --------------------------------------------------
// Wells and Panels
// --------------------------------------------------

$WELL_FG_COLOR:                     $silver;
$WELL_BG_COLOR:                     $muted_tan;
