// ==================================================
// BLACK ON WHITE THEME
// ==================================================
// Simple, clean black text on white background theme
// with subtle gray borders and accents
// ==================================================

// ==================================================
// SECTION 1: THEME COLOR PALETTE
// ==================================================

// Core grayscale
$white:             #FFFFFF;
$body_gray:         #F6F6F6;
$off_white:         #F2F2F2;
$light_gray:        #EEEEEE;
$border_gray:       #D9D9D9;
$medium_gray:       #DDDDDD;
$gray:              #CCCCCC;
$dark_gray:         #888888;
$medium_dark_gray:  #777777;
$black:             #000000;

// Accent colors
$blue:          #2050E0;
$light_blue:    #5BC0DE;

// Derived colors (using scale-color for relative adjustments)
$dark_blue:     scale-color($blue, $lightness: -20%);
$darker_blue:   scale-color($blue, $lightness: -30%);

// Alert state colors
$info_blue:      #5BC0DE;
$success_green:  #70C070;
$warning_yellow: #F8CC70;
$danger_red:     #F07070;

// Menu highlight colors
$hot_yellow:     #FFFF88;
$warm_red:       #FF8888;

// ==================================================
// SECTION 2: BOOTSTRAP CORE COLOR ASSIGNMENTS
// ==================================================

$PRIMARY_COLOR:   $blue;
$SECONDARY_COLOR: $gray;
$LIGHT_COLOR:     $light_gray;
$DARK_COLOR:      $black;

$INFO_COLOR:      $info_blue;
$SUCCESS_COLOR:   $success_green;
$WARNING_COLOR:   $warning_yellow;
$DANGER_COLOR:    $danger_red;

// ==================================================
// SECTION 3: UI ELEMENT COLORS
// ==================================================

// --------------------------------------------------
// Body and Typography
// --------------------------------------------------

$BODY_FG_COLOR:                     $black;
$BODY_BG_COLOR:                     $body_gray;

// --------------------------------------------------
// Links
// --------------------------------------------------

$LINK_WEIGHT:                       normal;
$LINK_FG_COLOR:                     $blue;
$LINK_BG_COLOR:                     transparent;
$LINK_VISITED_FG_COLOR:             $dark_blue;
$LINK_VISITED_BG_COLOR:             transparent;
$LINK_HOVER_FG_COLOR:               $darker_blue;
$LINK_HOVER_BG_COLOR:               transparent;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$BUTTON_FG_COLOR:                   $black;
$BUTTON_BG_COLOR:                   $gray;
$BUTTON_BORDER_COLOR:               $gray;
$BUTTON_PRIMARY_FG_COLOR:           $white;
$BUTTON_PRIMARY_BG_COLOR:           $blue;
$BUTTON_PRIMARY_BORDER_COLOR:       $dark_blue;
$BUTTON_PRIMARY_HOVER_FG_COLOR:     $white;
$BUTTON_PRIMARY_HOVER_BG_COLOR:     $dark_blue;
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: $darker_blue;
$BUTTON_BORDER_WIDTH:               1px;
$BUTTON_BORDER_STYLE:               solid;
$BUTTON_BORDER_RADIUS:              5px;

// --------------------------------------------------
// Form Inputs
// --------------------------------------------------

$INPUT_FG_COLOR:                    $black;
$INPUT_BG_COLOR:                    $white;
$INPUT_BORDER_COLOR:                $gray;
$INPUT_BORDER_WIDTH:                1px;
$INPUT_BORDER_STYLE:                solid;
$INPUT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Alert States (Info, Success, Warning, Danger)
// --------------------------------------------------

$INFO_BG_COLOR:                     rgba($INFO_COLOR, 30%);
$INFO_BORDER_COLOR:                 $INFO_COLOR;
$INFO_FG_COLOR:                     $BODY_FG_COLOR;
$SUCCESS_BG_COLOR:                  rgba($SUCCESS_COLOR, 30%);
$SUCCESS_BORDER_COLOR:              $SUCCESS_COLOR;
$SUCCESS_FG_COLOR:                  $BODY_FG_COLOR;
$WARNING_BG_COLOR:                  rgba($WARNING_COLOR, 30%);
$WARNING_BORDER_COLOR:              $WARNING_COLOR;
$WARNING_FG_COLOR:                  $BODY_FG_COLOR;
$DANGER_BG_COLOR:                   rgba($DANGER_COLOR, 30%);
$DANGER_BORDER_COLOR:               $DANGER_COLOR;
$DANGER_FG_COLOR:                   $BODY_FG_COLOR;

$BANNER_BORDER_WIDTH:               2px;
$BANNER_BORDER_STYLE:               solid;
$BANNER_BORDER_RADIUS:              5px;

$ALERT_BORDER_WIDTH:                2px;
$ALERT_BORDER_STYLE:                solid;
$ALERT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Left Navigation Bar
// --------------------------------------------------

$LEFT_BAR_BORDER_COLOR:             $medium_gray;
$LEFT_BAR_BORDER_WIDTH:             1px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            5px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_FG_COLOR:          $medium_dark_gray;
$LEFT_BAR_HEADER_BG_COLOR:          $light_gray;
$LEFT_BAR_FG_COLOR:                 $black;
$LEFT_BAR_BG_COLOR:                 $white;
$LEFT_BAR_HOVER_FG_COLOR:           $black;
$LEFT_BAR_HOVER_BG_COLOR:           $light_gray;

// --------------------------------------------------
// Top Navigation Bar
// --------------------------------------------------

$TOP_BAR_BORDER_COLOR:              $border_gray;
$TOP_BAR_BORDER_WIDTH:              1px;
$TOP_BAR_BORDER_STYLE:              solid;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_FG_COLOR:                  $black;
$TOP_BAR_BG_COLOR:                  $off_white;
$TOP_BAR_LINK_FG_COLOR:             $blue;
$TOP_BAR_LINK_BG_COLOR:             transparent;
$TOP_BAR_LINK_HOVER_FG_COLOR:       $darker_blue;
$TOP_BAR_LINK_HOVER_BG_COLOR:       transparent;

// --------------------------------------------------
// Lists and Tables
// --------------------------------------------------

$LIST_BORDER_COLOR:                 $medium_gray;
$LIST_HEADER_FG_COLOR:              $black;
$LIST_HEADER_BG_COLOR:              $light_gray;
$LIST_FG_COLOR:                     $black;
$LIST_BG_COLOR:                     $white;
$LIST_EVEN_BG_COLOR:                $light_gray;
$LIST_ODD_BG_COLOR:                 $white;
$LIST_HOVER_BG_COLOR:               $medium_gray;

// --------------------------------------------------
// Menus and Dropdowns
// --------------------------------------------------

$MENU_BORDER_COLOR:                 $dark_gray;
$MENU_FG_COLOR:                     $black;
$MENU_BG_COLOR:                     $white;
$MENU_HOT_FG_COLOR:                 $black;
$MENU_HOT_BG_COLOR:                 $hot_yellow;
$MENU_WARM_FG_COLOR:                $black;
$MENU_WARM_BG_COLOR:                $warm_red;

// --------------------------------------------------
// Pagination
// --------------------------------------------------

$PAGER_FG_COLOR:                    $blue;
$PAGER_BG_COLOR:                    transparent;
$PAGER_BORDER_COLOR:                none;
$PAGER_HOVER_FG_COLOR:              $darker_blue;
$PAGER_HOVER_BG_COLOR:              $light_gray;
$PAGER_HOVER_BORDER_COLOR:          none;
$PAGER_ACTIVE_FG_COLOR:             $white;
$PAGER_ACTIVE_BG_COLOR:             $dark_gray;
$PAGER_ACTIVE_BORDER_COLOR:         none;

// --------------------------------------------------
// Tooltips
// --------------------------------------------------

$TOOLTIP_FG_COLOR:                  $white;
$TOOLTIP_BG_COLOR:                  $black;

// --------------------------------------------------
// Vote Meters
// --------------------------------------------------

$VOTE_METER_BORDER_COLOR:           none;
$VOTE_METER_FG_COLOR:               $blue;
$VOTE_METER_BG_COLOR:               $light_gray;

// --------------------------------------------------
// Progress Bars
// --------------------------------------------------

$PROGRESS_BG_COLOR:                 $light_gray;
$PROGRESS_FG_COLOR:                 $black;
$PROGRESS_BAR_COLOR:                $blue;

// --------------------------------------------------
// Panels
// --------------------------------------------------

$PANEL_FG_COLOR:                    inherit;
$PANEL_BG_COLOR:                    $light_gray;
$PANEL_BORDER_COLOR:                $medium_gray;
$PANEL_FOOTER_BG_COLOR:             $PANEL_BG_COLOR;
$PANEL_FOOTER_FG_COLOR:             $PANEL_FG_COLOR;
