// ==================================================
// CANTHARELLACEAE THEME
// ==================================================
// Inspired by various Cantharellaceae species including:
// - Cantharellus californicus (Mudpuppy)
// - Cantharellus cinnabarinus (Cinnabar Chanterelle)
// - Craterellus tubaeformis (Yellowfoot)
// - Craterellus cornucopioides (Black Trumpet)
// ==================================================

// ==================================================
// SECTION 1: THEME COLOR PALETTE
// ==================================================

$orange:        #f6ae4a; // californicus_cap
$cream:         #fae8b8; // californicus_stipe
$vivid_red:     #c12900; // cinnabarinus_dark_cap
$bright_orange: #ff6524; // cinnabarinus_light_cap
$dark_red:      #6d1900; // cinnabarinus_dark_stem
$brown:         #603b29; // tubaeformis_dark_cap
$ochre:         #925c20; // tubaeformis_light_cap
$light_ochre:   #c2914c; // tubaeformis_hymenium
$gold:          #ffb230; // tubaeformis_bright_stipe
$deep_brown:    #4b2e0c; // tubaeformis_dark_stipe
$pale_gold:     #e5bb67; // tubaeformis_light_stipe
$black:         #10110b; // cornucopioides_dark_hymenium
$gray:          #9b9690; // cornucopioides_light_hymenium
$dark_brown:    #4f4337; // cornucopioides_dark_cap
$light_brown:   #826c57; // cornucopioides_light_cap
$straw:         #e6c987; // cornucopioides_bright_margin
$light_blue:    #a5bffa; // polyozellus_light
$dark_blue:     #5167b2; // polyozellus_dark

// Derived grays (mixed from theme colors)
$light_gray:  mix($black, $cream, 10%);
$medium_gray: mix($black, $cream, 25%);
$dark_gray:   mix($black, $cream, 50%);
$muted_black: scale-color($black, $lightness: 27%);

// Alert state colors
$success_green:  #70C070;
$success_bg:     #E0FFE0;
$warning_yellow: #F8CC70;
$warning_bg:     #FFF8E0;
$danger_red:     #F07070;
$danger_bg:      #FFE0E0;

// ==================================================
// SECTION 2: SEMANTIC COLOR ASSIGNMENTS
// ==================================================

$PRIMARY_COLOR:                     $bright_orange;
$SECONDARY_COLOR:                   $orange;
$SUCCESS_COLOR:                     $success_green;
$INFO_COLOR:                        $dark_blue;
$WARNING_COLOR:                     $gold;
$DANGER_COLOR:                      $vivid_red;
$LIGHT_COLOR:                       $cream;
$DARK_COLOR:                        $black;

// ==================================================
// SECTION 3: UI ELEMENT COLORS
// ==================================================

// --------------------------------------------------
// Body and Typography
// --------------------------------------------------

$BODY_FG_COLOR:                     $black;
$BODY_BG_COLOR:                     $cream;

// --------------------------------------------------
// Links
// --------------------------------------------------

$LINK_WEIGHT:                       normal;
$LINK_FG_COLOR:                     $bright_orange;
$LINK_BG_COLOR:                     transparent;
$LINK_VISITED_FG_COLOR:             $vivid_red;
$LINK_VISITED_BG_COLOR:             transparent;
$LINK_HOVER_FG_COLOR:               $bright_orange;
$LINK_HOVER_BG_COLOR:               $orange;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$BUTTON_FG_COLOR:                   $black;
$BUTTON_BG_COLOR:                   $cream;
$BUTTON_BORDER_COLOR:               $medium_gray;
$BUTTON_HOVER_FG_COLOR:             $black;
$BUTTON_HOVER_BG_COLOR:             $cream;
$BUTTON_HOVER_BORDER_COLOR:         $black;
$BUTTON_ACTIVE_FG_COLOR:            $cream;
$BUTTON_ACTIVE_BG_COLOR:            $orange;
$BUTTON_PRIMARY_FG_COLOR:           $cream;
$BUTTON_PRIMARY_BG_COLOR:           $bright_orange;
$BUTTON_PRIMARY_BORDER_COLOR:       $vivid_red;
$BUTTON_PRIMARY_HOVER_FG_COLOR:     $cream;
$BUTTON_PRIMARY_HOVER_BG_COLOR:     $vivid_red;
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: $dark_red;
$BUTTON_BORDER_WIDTH:               1px;
$BUTTON_BORDER_STYLE:               solid;
$BUTTON_BORDER_RADIUS:              5px;

// --------------------------------------------------
// Form Inputs
// --------------------------------------------------

$INPUT_FG_COLOR:                    $black;
$INPUT_BG_COLOR:                    $cream;
$INPUT_BORDER_COLOR:                $medium_gray;
$INPUT_BORDER_WIDTH:                1px;
$INPUT_BORDER_STYLE:                solid;
$INPUT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Alert States (Info, Success, Warning, Danger)
// --------------------------------------------------

$INFO_BG_COLOR:                     $light_blue;
$INFO_BORDER_COLOR:                 $dark_blue;
$INFO_FG_COLOR:                     $BODY_FG_COLOR;
$SUCCESS_BG_COLOR:                  $success_bg;
$SUCCESS_BORDER_COLOR:              $success_green;
$SUCCESS_FG_COLOR:                  $BODY_FG_COLOR;
$WARNING_BG_COLOR:                  $warning_bg;
$WARNING_BORDER_COLOR:              $warning_yellow;
$WARNING_FG_COLOR:                  $BODY_FG_COLOR;
$DANGER_BG_COLOR:                   $danger_bg;
$DANGER_BORDER_COLOR:               $danger_red;
$DANGER_FG_COLOR:                   $BODY_FG_COLOR;

$BANNER_BORDER_WIDTH:               2px;
$BANNER_BORDER_STYLE:               solid;
$BANNER_BORDER_RADIUS:              5px;

$ALERT_BORDER_WIDTH:                2px;
$ALERT_BORDER_STYLE:                solid;
$ALERT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Logo
// --------------------------------------------------

$LOGO_BORDER_COLOR:                 $black;
$LOGO_BORDER_WIDTH:                 1px;
$LOGO_BORDER_STYLE:                 solid;
$LOGO_BORDER_RADIUS:                0px;
$LOGO_FG_COLOR:                     $black;
$LOGO_BG_COLOR:                     $orange;
$LOGO_HOVER_FG_COLOR:               $black;
$LOGO_HOVER_BG_COLOR:               $cream;

// --------------------------------------------------
// Left Navigation Bar
// --------------------------------------------------

$LEFT_BAR_BORDER_COLOR:             $orange;
$LEFT_BAR_BORDER_WIDTH:             1px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            5px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_FG_COLOR:          $black;
$LEFT_BAR_HEADER_BG_COLOR:          $orange;
$LEFT_BAR_FG_COLOR:                 $vivid_red;
$LEFT_BAR_BG_COLOR:                 $orange;
$LEFT_BAR_HOVER_FG_COLOR:           $vivid_red;
$LEFT_BAR_HOVER_BG_COLOR:           $cream;

// --------------------------------------------------
// Top Navigation Bar
// --------------------------------------------------

$TOP_BAR_BORDER_COLOR:              transparent;
$TOP_BAR_BORDER_WIDTH:              1px;
$TOP_BAR_BORDER_STYLE:              solid;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_FG_COLOR:                  $black;
$TOP_BAR_BG_COLOR:                  $cream;
$TOP_BAR_LINK_FG_COLOR:             $bright_orange;
$TOP_BAR_LINK_BG_COLOR:             transparent;
$TOP_BAR_LINK_HOVER_FG_COLOR:       $bright_orange;
$TOP_BAR_LINK_HOVER_BG_COLOR:       $orange;

// --------------------------------------------------
// Lists and Tables
// --------------------------------------------------

$LIST_BORDER_COLOR:                 transparent;
$LIST_HEADER_FG_COLOR:              $dark_gray;
$LIST_HEADER_BG_COLOR:              $light_gray;
$LIST_FG_COLOR:                     $black;
$LIST_BG_COLOR:                     $cream;
$LIST_EVEN_BG_COLOR:                $cream;
$LIST_ODD_BG_COLOR:                 $cream;
$LIST_HOVER_BG_COLOR:               $orange;

// --------------------------------------------------
// Menus and Dropdowns
// --------------------------------------------------

$MENU_BORDER_COLOR:                 $black;
$MENU_FG_COLOR:                     $black;
$MENU_BG_COLOR:                     $cream;
$MENU_HOT_FG_COLOR:                 $black;
$MENU_HOT_BG_COLOR:                 $bright_orange;
$MENU_WARM_FG_COLOR:                $black;
$MENU_WARM_BG_COLOR:                $orange;

// --------------------------------------------------
// Pagination
// --------------------------------------------------

$PAGER_FG_COLOR:                    $black;
$PAGER_BG_COLOR:                    transparent;
$PAGER_BORDER_COLOR:                none;
$PAGER_HOVER_FG_COLOR:              $black;
$PAGER_HOVER_BG_COLOR:              $orange;
$PAGER_HOVER_BORDER_COLOR:          none;
$PAGER_ACTIVE_FG_COLOR:             $cream;
$PAGER_ACTIVE_BG_COLOR:             $black;
$PAGER_ACTIVE_BORDER_COLOR:         none;

// --------------------------------------------------
// Tooltips
// --------------------------------------------------

$TOOLTIP_FG_COLOR:                  $cream;
$TOOLTIP_BG_COLOR:                  $black;

// --------------------------------------------------
// Vote Meters
// --------------------------------------------------

$VOTE_METER_BORDER_COLOR:           none;
$VOTE_METER_FG_COLOR:               $black;
$VOTE_METER_BG_COLOR:               $orange;

// --------------------------------------------------
// Progress Bars
// --------------------------------------------------

$PROGRESS_BG_COLOR:                 $cream;
$PROGRESS_FG_COLOR:                 $black;
$PROGRESS_BAR_COLOR:                $bright_orange;

// --------------------------------------------------
// Wells and Panels
// --------------------------------------------------

$WELL_FG_COLOR:                     $muted_black;
$WELL_BG_COLOR:                     $orange;
