// ==================================================
// SUDO THEME
// ==================================================
// High-contrast sudo theme with bright orange and green colors
// for super-user administrative functions
// ==================================================

// ==================================================
// SECTION 1: THEME COLOR PALETTE
// ==================================================

// Core colors
$orange:        #DD7700;
$green:         #66FF44;
$blue:          #2050E0;
$gray:          #808080;
$black:         #000000;
$white:         #FFFFFF;

// Derived colors (using adjust-color instead of darken/lighten)
$dark_blue:     adjust-color($blue, $lightness: -10%);
$light_blue:    adjust-color($blue, $lightness: 10%);
$lighter_blue:  adjust-color($blue, $lightness: 20%);
$light_orange:  adjust-color($orange, $lightness: 30%);

// Alert state colors
$success_green:  #70C070;
$success_bg:     #E0FFE0;
$info_blue:      #5BC0DE;
$info_bg:        #E0F8FF;
$warning_yellow: #F8CC70;
$warning_bg:     #FFF8E0;
$danger_red:     #F07070;
$danger_bg:      #FFE0E0;

// Accent colors
$pale_green:     #CCFFAA;
$warm_red:       #FF8888;

// ==================================================
// SECTION 2: SEMANTIC COLOR ASSIGNMENTS
// ==================================================

$PRIMARY_COLOR:                     $blue;
$SECONDARY_COLOR:                   $green;
$SUCCESS_COLOR:                     $success_green;
$INFO_COLOR:                        $info_blue;
$WARNING_COLOR:                     $orange;
$DANGER_COLOR:                      $danger_red;
$LIGHT_COLOR:                       $white;
$DARK_COLOR:                        $black;

// ==================================================
// SECTION 3: UI ELEMENT COLORS
// ==================================================

// --------------------------------------------------
// Body and Typography
// --------------------------------------------------

$BODY_FG_COLOR:                     $black;
$BODY_BG_COLOR:                     $orange;

// --------------------------------------------------
// Links
// --------------------------------------------------

$LINK_WEIGHT:                       normal;
$LINK_FG_COLOR:                     $blue;
$LINK_BG_COLOR:                     transparent;
$LINK_VISITED_FG_COLOR:             $dark_blue;
$LINK_VISITED_BG_COLOR:             transparent;
$LINK_HOVER_FG_COLOR:               $light_blue;
$LINK_HOVER_BG_COLOR:               transparent;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$BUTTON_FG_COLOR:                   $black;
$BUTTON_BG_COLOR:                   $green;
$BUTTON_BORDER_COLOR:               $black;
$BUTTON_HOVER_FG_COLOR:             $green;
$BUTTON_HOVER_BG_COLOR:             $black;
$BUTTON_HOVER_BORDER_COLOR:         $green;
$BUTTON_ACTIVE_FG_COLOR:            $green;
$BUTTON_ACTIVE_BG_COLOR:            $gray;
$BUTTON_PRIMARY_FG_COLOR:           $white;
$BUTTON_PRIMARY_BG_COLOR:           $blue;
$BUTTON_PRIMARY_BORDER_COLOR:       $black;
$BUTTON_PRIMARY_HOVER_FG_COLOR:     $white;
$BUTTON_PRIMARY_HOVER_BG_COLOR:     $dark_blue;
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: $black;
$BUTTON_BORDER_WIDTH:               2px;
$BUTTON_BORDER_STYLE:               solid;
$BUTTON_BORDER_RADIUS:              5px;

// --------------------------------------------------
// Form Inputs
// --------------------------------------------------

$INPUT_FG_COLOR:                    $black;
$INPUT_BG_COLOR:                    $white;
$INPUT_BORDER_COLOR:                $black;
$INPUT_BORDER_WIDTH:                2px;
$INPUT_BORDER_STYLE:                solid;
$INPUT_BORDER_RADIUS:               5px;

// --------------------------------------------------
// Alert States (Info, Success, Warning, Danger)
// --------------------------------------------------

$INFO_BG_COLOR:                     $info_bg;
$INFO_BORDER_COLOR:                 $info_blue;
$INFO_FG_COLOR:                     $black;
$SUCCESS_BG_COLOR:                  $success_bg;
$SUCCESS_BORDER_COLOR:              $success_green;
$SUCCESS_FG_COLOR:                  $black;
$WARNING_BG_COLOR:                  $warning_bg;
$WARNING_BORDER_COLOR:              $warning_yellow;
$WARNING_FG_COLOR:                  $black;
$DANGER_BG_COLOR:                   $danger_bg;
$DANGER_BORDER_COLOR:               $danger_red;
$DANGER_FG_COLOR:                   $black;

$BANNER_BORDER_WIDTH:               3px;
$BANNER_BORDER_STYLE:               solid;
$BANNER_BORDER_RADIUS:              0px;

$ALERT_BORDER_WIDTH:                3px;
$ALERT_BORDER_STYLE:                solid;
$ALERT_BORDER_RADIUS:               0px;

// --------------------------------------------------
// Logo
// --------------------------------------------------

$LOGO_BORDER_COLOR:                 $black;
$LOGO_BORDER_WIDTH:                 2px;
$LOGO_BORDER_STYLE:                 solid;
$LOGO_BORDER_RADIUS:                0px;
$LOGO_FG_COLOR:                     $black;
$LOGO_BG_COLOR:                     $green;
$LOGO_HOVER_FG_COLOR:               $orange;
$LOGO_HOVER_BG_COLOR:               $green;

// --------------------------------------------------
// Left Navigation Bar
// --------------------------------------------------

$LEFT_BAR_BORDER_COLOR:             $gray;
$LEFT_BAR_BORDER_WIDTH:             2px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            0px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_FG_COLOR:          $black;
$LEFT_BAR_HEADER_BG_COLOR:          $green;
$LEFT_BAR_FG_COLOR:                 $orange;
$LEFT_BAR_BG_COLOR:                 $green;
$LEFT_BAR_HOVER_FG_COLOR:           $green;
$LEFT_BAR_HOVER_BG_COLOR:           $orange;

// --------------------------------------------------
// Top Navigation Bar
// --------------------------------------------------

$TOP_BAR_BORDER_COLOR:              none;
$TOP_BAR_BORDER_WIDTH:              0;
$TOP_BAR_BORDER_STYLE:              none;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_FG_COLOR:                  $black;
$TOP_BAR_BG_COLOR:                  $orange;
$TOP_BAR_LINK_FG_COLOR:             $blue;
$TOP_BAR_LINK_BG_COLOR:             transparent;
$TOP_BAR_LINK_HOVER_FG_COLOR:       $lighter_blue;
$TOP_BAR_LINK_HOVER_BG_COLOR:       transparent;

// --------------------------------------------------
// Lists and Tables
// --------------------------------------------------

$LIST_BORDER_COLOR:                 $black;
$LIST_HEADER_FG_COLOR:              $black;
$LIST_HEADER_BG_COLOR:              $green;
$LIST_FG_COLOR:                     $black;
$LIST_BG_COLOR:                     $white;
$LIST_EVEN_BG_COLOR:                $pale_green;
$LIST_ODD_BG_COLOR:                 $white;
$LIST_HOVER_BG_COLOR:               $green;

// --------------------------------------------------
// Menus and Dropdowns
// --------------------------------------------------

$MENU_BORDER_COLOR:                 $black;
$MENU_FG_COLOR:                     $black;
$MENU_BG_COLOR:                     $white;
$MENU_HOT_FG_COLOR:                 $black;
$MENU_HOT_BG_COLOR:                 $green;
$MENU_WARM_FG_COLOR:                $white;
$MENU_WARM_BG_COLOR:                $warm_red;

// --------------------------------------------------
// Pagination
// --------------------------------------------------

$PAGER_FG_COLOR:                    $blue;
$PAGER_BG_COLOR:                    transparent;
$PAGER_BORDER_COLOR:                none;
$PAGER_HOVER_FG_COLOR:              $white;
$PAGER_HOVER_BG_COLOR:              $blue;
$PAGER_HOVER_BORDER_COLOR:          none;
$PAGER_ACTIVE_FG_COLOR:             $green;
$PAGER_ACTIVE_BG_COLOR:             $black;
$PAGER_ACTIVE_BORDER_COLOR:         none;

// --------------------------------------------------
// Tooltips
// --------------------------------------------------

$TOOLTIP_FG_COLOR:                  $green;
$TOOLTIP_BG_COLOR:                  $black;

// --------------------------------------------------
// Vote Meters
// --------------------------------------------------

$VOTE_METER_BORDER_COLOR:           none;
$VOTE_METER_FG_COLOR:               $black;
$VOTE_METER_BG_COLOR:               $green;

// --------------------------------------------------
// Progress Bars
// --------------------------------------------------

$PROGRESS_BG_COLOR:                 $gray;
$PROGRESS_FG_COLOR:                 $black;
$PROGRESS_BAR_COLOR:                $green;

// --------------------------------------------------
// Wells and Panels
// --------------------------------------------------

$WELL_FG_COLOR:                     $black;
$WELL_BG_COLOR:                     $light_orange;
