// ==================================================
// SUDO THEME
// ==================================================
// High-contrast theme with bright orange and green
// colors for super-user administrative functions
// ==================================================

// ==================================================
// SECTION 1: THEME COLOR PALETTE
// ==================================================

// Core colors
$orange:        #DD7700;
$green:         #66FF44;
$blue:          #2050E0;
$gray:          #808080;
$black:         #000000;
$white:         #FFFFFF;

// Derived colors (using scale-color for relative adjustments)
$dark_blue:     scale-color($blue, $lightness: -20%);
$light_blue:    scale-color($blue, $lightness: 20%);
$lighter_blue:  scale-color($blue, $lightness: 40%);
$light_orange:  scale-color($orange, $lightness: 53%);

// Alert state colors
$info_blue:      #5167b2; // polyozellus_dark
$success_green:  #70C070;
$warning_yellow: #F8CC70;
$danger_red:     #F07070;

// Accent colors
$pale_green:     #CCFFAA;
$warm_red:       #FF8888;

// ==================================================
// SECTION 2: BOOTSTRAP CORE COLOR ASSIGNMENTS
// ==================================================

$LIGHT_COLOR:     $orange;
$DARK_COLOR:      $black;
$PRIMARY_COLOR:   $blue;
$SECONDARY_COLOR: $green;
$LINK_COLOR:      $PRIMARY_COLOR;

$INFO_COLOR:      $info_blue;
$SUCCESS_COLOR:   $success_green;
$WARNING_COLOR:   $orange;
$DANGER_COLOR:    $danger_red;

// ==================================================
// SECTION 3: UI ELEMENT COLORS
// ==================================================

// --------------------------------------------------
// Body and Typography
// --------------------------------------------------

$BODY_TEXT_COLOR:                   $DARK_COLOR;
$BODY_BG_COLOR:                     $LIGHT_COLOR;

// --------------------------------------------------
// Links
// --------------------------------------------------

$LINK_TEXT_COLOR:                   $LINK_COLOR;
$LINK_HOVER_TEXT_COLOR:             $light_blue;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$BUTTON_TEXT_COLOR:                 $BODY_TEXT_COLOR;
$BUTTON_BG_COLOR:                   $SECONDARY_COLOR;
$BUTTON_BORDER_COLOR:               transparent;

$BUTTON_PRIMARY_TEXT_COLOR:         $white;
$BUTTON_PRIMARY_BG_COLOR:           $blue;
$BUTTON_PRIMARY_BORDER_COLOR:       $black;
$BUTTON_PRIMARY_HOVER_TEXT_COLOR:   $white;
$BUTTON_PRIMARY_HOVER_BG_COLOR:     $dark_blue;
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: $black;

// --------------------------------------------------
// Form Inputs
// --------------------------------------------------

$INPUT_TEXT_COLOR:                  $black;
$INPUT_BG_COLOR:                    $white;
$INPUT_BORDER_COLOR:                $black;

// --------------------------------------------------
// Alert States (Info, Success, Warning, Danger)
// --------------------------------------------------

$INFO_BG_COLOR:                     rgba($INFO_COLOR, 20%);
$INFO_BORDER_COLOR:                 $INFO_COLOR;
$INFO_TEXT_COLOR:                   $BODY_TEXT_COLOR;
$SUCCESS_BG_COLOR:                  rgba($SUCCESS_COLOR, 20%);
$SUCCESS_BORDER_COLOR:              $SUCCESS_COLOR;
$SUCCESS_TEXT_COLOR:                $BODY_TEXT_COLOR;
$WARNING_BG_COLOR:                  rgba($WARNING_COLOR, 20%);
$WARNING_BORDER_COLOR:              $WARNING_COLOR;
$WARNING_TEXT_COLOR:                $BODY_TEXT_COLOR;
$DANGER_BG_COLOR:                   rgba($DANGER_COLOR, 20%);
$DANGER_BORDER_COLOR:               $DANGER_COLOR;
$DANGER_TEXT_COLOR:                 $BODY_TEXT_COLOR;

// --------------------------------------------------
// Left Navigation Bar
// --------------------------------------------------

$LEFT_BAR_BORDER_COLOR:             $gray;
$LEFT_BAR_BORDER_WIDTH:             2px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            0px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_TEXT_COLOR:        $black;
$LEFT_BAR_HEADER_BG_COLOR:          $green;
$LEFT_BAR_TEXT_COLOR:               $orange;
$LEFT_BAR_BG_COLOR:                 $green;
$LEFT_BAR_HOVER_TEXT_COLOR:         $green;
$LEFT_BAR_HOVER_BG_COLOR:           $orange;

// --------------------------------------------------
// Top Navigation Bar
// --------------------------------------------------

$TOP_BAR_BORDER_COLOR:              none;
$TOP_BAR_BORDER_WIDTH:              0;
$TOP_BAR_BORDER_STYLE:              none;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_TEXT_COLOR:                $black;
$TOP_BAR_BG_COLOR:                  $orange;
$TOP_BAR_LINK_TEXT_COLOR:           $blue;
$TOP_BAR_LINK_BG_COLOR:             transparent;
$TOP_BAR_LINK_HOVER_TEXT_COLOR:     $lighter_blue;
$TOP_BAR_LINK_HOVER_BG_COLOR:       transparent;

// --------------------------------------------------
// Lists and Tables
// --------------------------------------------------

$LIST_BORDER_COLOR:                 $black;
$LIST_HEADER_TEXT_COLOR:            $black;
$LIST_HEADER_BG_COLOR:              $green;
$LIST_TEXT_COLOR:                   $black;
$LIST_BG_COLOR:                     $white;
$LIST_EVEN_BG_COLOR:                $pale_green;
$LIST_ODD_BG_COLOR:                 $white;
$LIST_HOVER_BG_COLOR:               $green;

// --------------------------------------------------
// Menus and Dropdowns
// --------------------------------------------------

$MENU_BORDER_COLOR:                 $black;
$MENU_TEXT_COLOR:                   $black;
$MENU_BG_COLOR:                     $white;
$MENU_HOT_TEXT_COLOR:               $black;
$MENU_HOT_BG_COLOR:                 $green;
$MENU_WARM_TEXT_COLOR:              $white;
$MENU_WARM_BG_COLOR:                $warm_red;

// --------------------------------------------------
// Tooltips
// --------------------------------------------------

$TOOLTIP_TEXT_COLOR:                $green;
$TOOLTIP_BG_COLOR:                  $black;

// --------------------------------------------------
// Progress Bars
// --------------------------------------------------

$PROGRESS_BG_COLOR:                 $green;
$PROGRESS_BAR_COLOR:                $black;
$PROGRESS_TEXT_COLOR:               $black;

// --------------------------------------------------
// Panels
// --------------------------------------------------

$PANEL_TEXT_COLOR:                  $BODY_TEXT_COLOR;
$PANEL_BG_COLOR:                    $light_orange;
$PANEL_BORDER_COLOR:                $black;
$PANEL_FOOTER_TEXT_COLOR:           $BODY_TEXT_COLOR;
$PANEL_FOOTER_BG_COLOR:             $PANEL_BG_COLOR;
