<%
  @title = :edit_herbarium_record_title.l(
    herbarium_label: @herbarium_record.herbarium_label
  )

  tabs = []
  if @back == "index"
    tabs << link_to(:edit_herbarium_record_back_to_index.t,
                    herbarium_records_index_herbarium_record_path(
                      q: get_query_param))
  else
    tabs << link_to(:cancel_and_show.t(type: @back_object.type_tag),
                    object_path(@back_object, q: get_query_param))
  end
  tabs << link_to(:create_herbarium.t, new_herbarium_path(q: get_query_param))
  tabs << link_to(:herbarium_index.t, herbaria_path)

  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 col-sm-7 max-width-text">
    <%= render partial: "form", locals: { button_name: :SAVE } %>
  </div>

  <div class="col-12 col-sm-5 max-width-text">
    <% @herbarium_record.observations.each do |obs| %>
      <%= render partial: "shared/log_item", locals: { object: obs.rss_log } %>
    <% end %>
  </div>
</div>
