<%
  links = create_links(herbarium_record_form_edit_tabs(@back, @back_object))
  @tabsets = { right: draw_tab_set(links) }
  @container = :wide
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <%= render(partial: "form", locals: { action: :update, local: true }) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <% @herbarium_record.observations.each do |obs| %>
        <%= render(partial: "shared/matrix_box",
                   locals: { object: obs.rss_log || obs,
                             columns: "col-xs-12" }) %>
      <% end %>
    </ul>
  </div>
</div><!--.row-->
