<%
  @title = :edit_herbarium_record_title.l(herbarium_label: @herbarium_record.herbarium_label)

  tabs = []
  if @back == "index"
    tabs << link_with_query(:edit_herbarium_record_back_to_index.t,
                            action: :index_herbarium_record)
  else
    tabs << link_with_query(:cancel_and_show.t(type: @back_object.type_tag),
                            object_path(@back_object))
  end
  tabs << link_with_query(:create_herbarium.t, controller: :herbaria, action: :new)
  tabs << link_to(:herbarium_index.t, controller: :herbaria, action: :index)

  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 col-sm-7 max-width-text">
    <%= render partial: "form", locals: { button_name: :SAVE } %>
  </div>

  <div class="col-12 col-sm-5 max-width-text">
    <% @herbarium_record.observations.each do |obs| %>
      <%= render partial: "shared/log_item", locals: { object: obs.rss_log } %>
    <% end %>
  </div>
</div>
