<%
  @title = :create_herbarium_record_title.l

  tabs = [
    link_with_query(:cancel_and_show.t(type: :observation),
                    observation_path(@observation.id),
                    id: "show_observation_link"),
    link_with_query(:create_herbarium.t, new_herbarium_path,
                    id: "new_herbarium_link"),
    link_with_query(:herbarium_index.t, herbaria_path(flavor: :nonpersonal),
                    id: "all_nonpersonal_herbaria_link")
  ]
  @tabsets = { right: draw_tab_set(tabs) }
  @container = :full
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <span class="text-larger mb-3"><%= :Observation.t %> #<%= @observation.id %></span><!-- .text-larger -->
    <%= render(partial: "form", locals: { action: :create, local: true }) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <%= render(partial: "shared/matrix_box",
                 locals: { object: @observation.rss_log || @observation  }) %>
    </ul>
  </div>
</div><!--.row-->
