<%
  @title = :create_herbarium_record_title.l

  tabs = [
    link_with_query(:cancel_and_show.t(type: :observation), observation_path(@observation)),
    link_with_query(:create_herbarium.t, controller: :herbaria, action: :create_herbarium),
    link_with_query(:herbarium_index.t, controller: :herbaria, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 col-sm-7 max-width-text">
    <div class="font-size-lg mb-3"><%= :Observation.t %> #<%= @observation.id %></div>

    <%= render partial: "form", locals: { button_name: :ADD } %>
  </div>

  <div class="col-12 col-sm-5 max-width-text">
    <%= render partial: "shared/log_item", locals: { object: @observation.rss_log } %>
  </div>
</div>
