<%
  tabs = [
    link_to(:list_place_names_map.t,
            locations_map_locations_path(q: get_query_param)),
    link_to(:all_objects.t(type: :location),
            locations_path(q: get_query_param))
  ]
  tabs += create_links(@links)
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <div class="card">
      <% for desc in @objects %>
        <div class="card-body">
          <%= link_to desc.format_name.t,
                location_description_path(desc.location_id, desc.id,
                  q: get_query_param) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
