<%
  tabs = [
    link_with_query(:list_place_names_map.t, map_locations_path),
    link_to(:all_objects.t(type: :location), locations_path)
  ]
  tabs += create_links(@links)
  @tabsets = { right: draw_tab_set(tabs) }
  @container = :wide

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <div class="list-group">
      <% @objects.each do |desc| %>
        <div class="list-group-item">
          <%= link_with_query(desc.format_name.t, desc.show_link_args) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
