<%
tabs = create_tabs(location_description_index_links(query: @query))
@tabsets = { right: draw_tab_set(tabs) }
@container = :wide

flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <% if @objects.any? %>
    <div class="list-group">
      <% @objects.each do |desc| %>
        <div class="list-group-item">
          <%= link_with_query(desc.format_name.t, desc.show_link_args) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
