<%
  @title ||= :merge_descriptions_title.t(object: @description.format_name)

  tabs = [
    link_to(:show_object.t(type: :location),
            location_path(@description.location_id, q: get_query_param)),
    link_to(:show_object.t(type: :location_description),
            location_description_path(@description.location_id,
              @description.id, q: get_query_param)),
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= render "shared/merge_descriptions",
             description: @description %>
</div>
