<%
  @title ||= :create_location_description_title.t(name: @location.display_name)

  tabs = [
    link_to(:cancel_and_show.t(type: :location),
            location_path(@description.location_id, q: get_query_param))
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= render "locations/descriptions/form", button_name: :CREATE %>
</div>
