<%
  @title = :show_past_location_description_title.t(
    num: @description.version,
    name: description_title(@description)
  )

  desc = description_title(@description)

  tabs = [
    link_to(:show_location_description.t(description: desc),
        location_description_path(@description.location_id, @description.id,
          q: get_query_param))
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= show_past_versions(@description) %>
  <%= render "locations/descriptions/location_description", object: @description %>
  <div class="mt-3">
    <%= show_object_footer(@description) %>
  </div>
</div>
