<%
add_page_title(tag.span(:rss_log_title.t, class: "text-nowrap"))
add_tab_set(rss_logs_index_links(user: @user, types: @types))
add_type_filters

@container = :full

flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <ul class="row list-unstyled mt-3">
    <%= render(partial: "shared/matrix_box",
               layout: "shared/matrix_table",
               collection: @objects,
               as: :object) %>
    <div style="clear:left"></div>
  </ul>
<% end %>

<!--NAME AUTOCOMPLETE INSTANCE FOR REUSE IN NAMING MODALS-->
<%= render(partial: "shared/form_name_autocomplete") %>
