<%
  @title = content_tag(:span, :rss_log_title.t, class: "text-nowrap")
  @container = :full

  # there maybe one link to make selected rss_log_tabset the default types
  if @links.any? # @links is just an array of text, path
    tabs = create_links(@links) # this turns those into link_to HTML
    @tabsets = { right: draw_tab_set(tabs) } # turns into block of links
  end

  @full_width_tab_set = render(partial: "rss_log_tabset")

  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <ul class="row list-unstyled mt-3">
    <%= render(partial: "shared/matrix_box",
               layout: "shared/matrix_table",
               collection: @objects,
               as: :object) %>
    <div style="clear:left"></div>
  </ul>
<% end %>

<!--NAME AUTOCOMPLETE INSTANCE FOR REUSE IN NAMING MODALS-->
<%= render(partial: "shared/form_name_autocomplete") %>
