<!--HAMBURGER_BUTTONS-->
<div id="hamburger" class="row visible-xs hidden-print">
  <p class="pull-left">
    <button
      type="button"
      class="btn btn-default btn-lg hamburger rounded-0 position-fixed" style="z-index: 1000"
      data-toggle="offcanvas">
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
  </p>
  <p class="pull-right">
    <button
      type="button"
      class="btn btn-default btn-lg hamburger rounded-0 position-fixed" style="z-index: 1001; top: 0; right:0;"
      data-toggle="search"
      data-target="#search_bar">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </p>
</div>
<!--/HAMBURGER_BUTTONS-->
