<%# bs4 %>
<!--HAMBURGER_BUTTONS-->
<div id="hamburger" class="row d-block d-sm-none d-print-none">
  <div class="col-6 px-0">
    <button
      type="button"
      class="btn btn-secondary btn-lg hamburger rounded-0"
      style="z-index: 1000"
      data-toggle="offcanvas">
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
  </div>
  <div class="col-6 px-0 text-right">
    <button
      type="button"
      class="btn btn-secondary btn-lg hamburger rounded-0"
      style="z-index: 1001"
      data-toggle="search"
      data-target="#top_nav">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</div>
<!--/HAMBURGER_BUTTONS-->
