<%
  # The divs below are used by box-resizer.js to make helpers to determine
  # current bootstrap size (screen width).  For example:
  #   jQuery('[data-bootstrap-size]:visible').data('bootstrap-size')
%>
<div id="media_query_tests">
  <div data-bootstrap-size="xs" class="visible-xs"></div>
  <div data-bootstrap-size="sm" class="visible-sm"></div>
  <div data-bootstrap-size="md" class="visible-md"></div>
  <div data-bootstrap-size="lg" class="visible-lg"></div>
</div>
