<center><%= @map.div(:width => "800", :height => "480") %></center>

<table width="100%" cellpadding="10">
  <tr>
    <td align="center">
      <table cellpadding="5">
        <tr>
          <td></td>
          <td>
              <%= "#{:app_north.t}: #{location.north}º"%>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
              <%= "#{:app_west.t}: #{location.west}º"%>
          </td>
          <td></td>
          <td>
              <%= "#{:app_east.t}: #{location.east}º"%>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
              <%= "#{:app_south.t}: #{location.south}º"%>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
    <td align="center">
      <table cellpadding="5">
        <tr><td>
          <% if location.high %>
            <%= "#{:app_highest.t}: #{location.high} #{:app_meters.t}"%>
          <% end %>
        </td></tr>
        <tr><td>
          <% if location.low %>
            <%= "#{:app_lowest.t}: #{location.low} #{:app_meters.t}"%>
          <% end %>
        </td></tr>
      </table>
    </td>
  </tr>
</table>

<% if location.notes && location.notes != '' %>
  <p><%= :app_notes.t %>:</p>
  <%= sanitize(location.notes).tpl %>

  <center>
    <p>
      <%= user_list(:show_name_description_author.t, @location.authors) %>
      <%
        is_author = @location.authors.member?(@user)
        if @location.authors != [] %>
        <% unless is_author %>
          <%= link_to(:show_name_author_request.t, :action => 'author_request', :id => @location.id) %>&nbsp;
        <% end %>
      <% end %>
      <% if (@location.authors == []) or is_author or @is_reviewer %>
        &nbsp;<%= link_to(:review_authors_review_authors.t, :action => 'review_authors', :id => @location.id )%>
      <% end %>
      <br/>
      <%= user_list(:show_name_description_editor.t, @location.editors) %>
    </p>
  </center>
<% end %>

<p>
  <span class="Date">
    <%= "#{:app_version.t}: #{location.version}" %><br/>
    <%= :app_created.t(:type => :location.l, :date => location.created) %><br/>
    <%= :app_last_modified.t(:date => location.modified, :user => user_link(location.user)) %><br/>
  </span>
</p>
