<%  if @title.nil?
        @title = :create_location_title.l
    end %>
<div id="Title"><%= @title %></div>

<%= link_to(:location_all.l, :action => 'list_place_names') %><br/>

<% form_tag(:action => 'construct_location') do %>
<br/>
<center><%= submit_tag("Create") %></center>

<table cellpadding="10">
    <tr>
        <%= render :partial => 'form_locations', :locals => {
            :where => @where
        } %>
    </tr>
</table>
<% end %>

<br/>
