<%
  @title ||= :create_location_description_title.t(name: @location.display_name)

  tabs = [
    link_with_query(:cancel_and_show.t(type: :location),
                    @description.location.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_for(:description, url: add_query_param(
        action: :create_location_description,
        id:     @description.location_id
      )) do |form| %>
    <%= render(partial: "form_location_description",
               locals: { form: form, button: :CREATE }) %>
  <% end %>
</div>
