<%  if @title.nil?
        @title = 'Edit Location'
    end %>
<div id="Title"><%= @title %></div>

<%= link_to(:location_all.l, :action => 'list_place_names') %><br/>

<% form_for :location,
            :url => { :action => :create_location } do |form| %>
    <br/>
    <center><%= submit_tag("Update") %></center>

    <%= render :partial => 'form_locations', :locals => {
        :where => @where, :form => form
        } %>
<% end %>

<br/>
