<%
  @title ||= :edit_location_title.t

  new_tab_set do
    add_tab(:location_all.t, :action => 'list_locations')
    add_tab(:app_cancel.t(:type => :location.l), :action => 'show_location', :id => @location.id)
  end
%>

<% form_for(:location, :url => { :action => :edit_location }) do |form| %>
  <br/><center><%= submit_tag(:app_update.l) %></center>

  <%= render(:partial => 'form_locations', :locals => { :where => @where, :form => form }) %>
<% end %>
