<%
  tabs = [
    link_with_query(:list_place_names_map.t, action: :map_locations),
    link_to(:all_objects.t(type: :location), action: :list_locations)
  ]
  tabs += @links.map {|str,url| link_to(str, url)} if @links
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && (!@objects || @objects.empty?)
%>

<div class="row">
  <div class="col-xs-12">
    <% if @pages && @pages.any? && @objects && @objects.any? %>
      <%= paginate_block(@pages) do %>

        <div class="list-group">
          <% for desc in @objects %>
            <div class="list-group-item">
              <%= link_with_query(desc.format_name.t, desc.show_link_args) %>
            </div>
          <% end %>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
