<%
  new_tab_set do
    add_tab(:all_objects.t(:type => :location), :action => 'list_locations')
  end

  if !@locations.empty?
    gmap = make_map(@locations)
    add_header(GMap.header)
    add_header(finish_map(gmap))
  end
%>

<center>
  <%= if gmap
    gmap.div(:width => 800, :height => 550)
  else
    :runtime_map_locations_no_matches.t(:pattern => @pattern)
  end %>
</center>
