<%
  @title = :show_past_location_description_title.t(
    num: @description.version,
    name: description_title(@description)
  )

  desc = description_title(@description)

  tabs = [
    link_with_query(:show_location_description.t(description: desc),
                    @description.show_link_args)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= show_past_versions(@description) %>

    <%= render(partial: "location_description", object: @description) %>

    <div class="push-down">
      <%= show_object_footer(@description) %>
    </div>
  </div>
</div>
