<%
  @title = :show_past_location_title.t(
    :num  => @location.version,
    :name => @location.display_name
  )
  new_tab_set do
    add_tab(:show_location.t(:location => @location.display_name), :action => 'show_location', :id => @location.id)
  end
%>

<%= show_past_versions(@location) %>

<%= render(:partial => 'location', :object => @location) %>

<%= show_object_footer(@location) %>
