<%
add_page_title(:field_slips_for_project_title.t(title: @project.title))

action = { controller: "/projects/field_slips", action: :create,
            project_id: @project.id, q: get_query_param }
%>

<div class="container-text mt-3 pb-2">
  <p>
    <%= :field_slips_for_project_max_pages.t(max: @page_max) %>
  </p>
  <p>
    <%= form_with(url: action, id: "project_field_slip_form") do |f| %>
      <%= number_field_with_label(form: f, field: :pages, inline: true, value: "1") %>
      <%= submit_button(form: f, button: :CREATE.t, class: "ml-3") %>
    <% end %>
  </p>
</div><!--.container-text-->
