<% @title = "Fungal Terminology" %>

<ul>
  <li>Overall shape:
    <ul>
      <li>Crust or Parchment Fungi</li>
      <li>Cup Fungi</li>
      <li>Gasteroid</li>
      <li>Stinkhorn</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Pileus shape from side:
    <ul>
      <li>Campanulate</li>
      <li>Convoluted</li>
      <li>Cylindrical </li>
      <li>Depressed</li>
      <li>Plane to Uplifted</li>
      <li>Umbonate</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Pileus surface:
    <ul>
      <li>Glabrous</li>
      <li>Glutinous</li>
      <li>Rugose (Wrinkled)</li>
      <li>Sulcate</li>
      <li>Translucent Striate</li>
      <li>Zonate</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Hymenophore shape:
    <ul>
      <li>Gilled</li>
      <li>Pored</li>
      <li>Smooth</li>
      <li>Toothed</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Stipe shape
    <ul>
      <li>Base Enlarged</li>
      <li>Base Pinched</li>
      <li>Clavate</li>
      <li>Clavate-bulbous</li>
      <li>Equal</li>
      <li>Incrassate</li>
      <li>Tapered Downward</li>
      <li>Tapered Upward [Subclavate]</li>
      <li>Ventricose</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Stipe attachment
    <ul>
      <li>Central</li>
      <li>Lateral</li>
      <li>Off-center</li>
      <li>Sessile</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Universal veil:
    <ul>
      <li>Collar [Circumsessile]</li>
      <li>Constricted [Flaring]</li>
      <li>Fragmented [Scaly]</li>
      <li>Gelatinous</li>
      <li>Indistinct</li>
      <li>Powdery [Farinose]</li>
      <li>Saccate</li>
      <li>Zoned [Rings]</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Partial veil:
    <ul>
      <li>Double</li>
      <li>Intermediate</li>
      <li>Peronate [Sheathlike]</li>
      <li>Single</li>
      <li>Stellate</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Gill attachment:
    <ul>
      <li>Adnate</li>
      <li>Adnexed</li>
      <li>Notched (Sinuate)</li>
      <li>Subdecurrent</li>
    </ul>
  </li>
</ul>
