<div class="form-group mt-3">
  <%= f.label(:display_name, :WHERE.t + ":") %>
  <%= f.text_field(:display_name, value: @display_name,
                   class: "form-control", data: { autofocus: true }) %>
  <div class="pull-right">
    <span id="find_on_map" onclick="findOnMap()" class="btn btn-default">
      <%= :form_locations_find_on_map.t %>
    </span>
  </div>
  <div class="help-block"><%= :form_locations_help.t %></div>
</div>
