<div class="form-group container-text mt-3">
  <%= f.label(:notes, :NOTES.t + ":") %>
  <%= content_tag(:div, :form_locations_notes_help.t, class: "help-block") %>
  <%= f.text_area(:notes, class: "form-control") %>
  <%= render(partial: "shared/textilize_help") %>
</div><!--.container-text-->
