<%
container_class(:full)
add_new_title(:add_object, :SEQUENCE)
add_context_nav(sequence_form_tabs(obj: @observation))
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <%= render(partial: "sequences/observation_title",
               locals: { observation: @observation }) %>
    <%= render(Components::SequenceForm.new(
          @sequence, observation: @observation
        )) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <%= render(::Components::MatrixBox.new(
                   user: @user,
                   object: @observation.rss_log || @observation,
                   columns: "col-xs-12")) %>
    </ul>
  </div>
</div>
<!--.row-->
