<%
  @title ||= :list_specimens_title.t

  new_tab_set(:sort_by_header.t, @sorts)
  new_tab_set do
    add_tabs(@links)
  end

  flash_error(@error) if @error and (!@objects or @objects.empty?)
%>

<%= paginate_block(@pages) do %>
  <% if @objects.length > 0 %>
    <table class="table table-striped" width="100%">
      <% @objects.each do |specimen|
				herbarium = specimen.herbarium %>
        <tr>
            <td>
            <%= link_with_query(specimen.herbarium_label,
                  :action => "show_specimen", :id => specimen.id) %>
						(<%= link_with_query(herbarium.name.t, :controller => 'herbarium',
                   :action => 'show_herbarium', :id => herbarium.id) %>)
            <br/>
            <small><%= specimen.created_at.web_time %></small>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
