<%
  @title ||= :list_specimens_title.t

  if @links && @links.any?
    tabs = @links.map {|str,url| link_to(str, url)}
    @tabsets = { right: draw_tab_set(tabs) }
  end

  flash_error(@error) if @error && (!@objects || @objects.empty?)
%>

<%= paginate_block(@pages) do %>
  <% if @objects.length > 0 %>
    <table class="table table-striped" width="100%">
      <% for specimen in @objects
				herbarium = specimen.herbarium %>
        <tr>
          <td>
            <%= link_with_query(specimen.herbarium_label, specimen.show_link_args) %>
            (<%= link_with_query(herbarium.name.t, herbarium.show_link_args) %>)<br/>
            <small><%= specimen.created_at.web_time %></small>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
