<%
add_project_banner(@project)

set_container(:wide)
%>

<table class="table table-striped table-project-members mt-3">
  <thead>
    <tr>
      <th><%= :LOCATION.t %></th>
      <th><%= :PROJECT_ALIASES.t %></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |loc| %>
      <tr>
        <td class="align-middle">
          <%= link_to(loc.display_name, checklist_path(project_id: @project.id, location_id: loc.id)) %>
        </td>
        <td class="align-middle">
          <%= render(partial: "projects/aliases",
                     locals: { project: @project, target: loc }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
