<%
add_index_title(@query)
add_context_nav(Tab::NameDescription::IndexActions.new(
  query: @query, controller: controller
))
add_sorter(@query, controller.index_sort_options)
add_pagination(@pagination_data)
flash_error(@error) if @error && @objects.empty?
%>

<%= paginated_results do %>
  <% if @objects.any? %>
    <table class="table table-striped">
      <% (@objects || []).each do |desc| %>
        <tr>
          <td>
            <%= link_to(desc.format_name.t, name_description_path(desc.id)) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
