<%
@container = :full
add_page_title(checklist_show_title(user: @show_user,
                                    project: @project,
                                    list: @species_list))

add_tab_set(checklist_show_tabs(user: @show_user,
                                 project: @project,
                                 list: @species_list))
names = @data.species
%>

<div class="my-4">
  <%= :checklist_summary.t(species: @data.num_species,
                           genera: @data.num_genera) %>
</div>

<%= panel_block(inner_class: "checklist") do %>
  <ul class="list-unstyled">
    <% names.each do |name| %>
      <li><i><%= link_to(name[0], name_path(name[1])) %></i></li>
    <% end %>
  </ul>
<% end %>
