<%
  @container = :wide

  if @show_user
    @title = :checklist_for_user_title.t(user: @show_user.legal_name)
    tabs = [
      link_to(:show_object.t(type: :profile), user_path(@show_user.id)),
      link_to(:show_objects.t(type: :observation),
              observations_path(user: @show_user.id)),
      link_to(:show_user_email_to.t(name: @show_user.legal_name),
              emails_ask_user_question_path(@show_user.id))
    ]
    @tabsets = { right: draw_tab_set(tabs) }

  elsif @project
    @title = :checklist_for_project_title.t(project: @project.title)
    tabs = [
      link_to(:show_object.t(type: :project), project_path(@project.id)),
      link_to(:list_objects.t(type: :project), projects_path)
    ]
    @tabsets = { right: draw_tab_set(tabs) }

  elsif @species_list
    @title = :checklist_for_species_list_title.t(list: @species_list.title)
    tabs = [
      link_to(:show_object.t(type: :project),
              species_list_path(@species_list.id))
    ]
    if check_permission(@species_list)
      tabs += [
        link_to(:edit_object.t(type: :species_list),
                edit_species_list_path(@species_list.id))
      ]
    end
    @tabsets = { right: draw_tab_set(tabs) }

  else
    @title = :checklist_for_site_title.t
    tabs = [
      link_to(:app_contributors.t, contributors_path),
      link_to(:app_site_stats.t, info_site_stats_path)
    ]
    @tabsets = { right: draw_tab_set(tabs) }
  end

  @container = :full
  names = @data.species
%>

<div class="my-4">
  <%= :checklist_summary.t(species: @data.num_species,
                           genera: @data.num_genera) %>
</div>

<div class="panel panel-default">
  <div class="panel-body checklist">
    <ul class="list-unstyled">
      <% names.each do |name| %>
        <li><i><%= link_to(name[0], name_path(name[1])) %></i></li>
      <% end %>
    </ul>
  </div>
</div>
