<%
@container = :wide

@title =  if @show_user
            :checklist_for_user_title.t(user: @show_user.legal_name)
          elsif @project
            :checklist_for_project_title.t(project: @project.title)
          elsif @species_list
            :checklist_for_species_list_title.t(list: @species_list.title)
          else
            :checklist_for_site_title.t
          end

links = checklist_show_links(user: @show_user, project: @project,
                             list: @species_list)
tabs = create_tabs(links)
@tabsets = { right: draw_tab_set(tabs) }
@container = :full
names = @data.species
%>

<div class="my-4">
  <%= :checklist_summary.t(species: @data.num_species,
                           genera: @data.num_genera) %>
</div>

<%= panel_block(inner_class: "checklist") do %>
  <ul class="list-unstyled">
    <% names.each do |name| %>
      <li><i><%= link_to(name[0], name_path(name[1])) %></i></li>
    <% end %>
  </ul>
<% end %>
