<%
add_page_title(:show_past_glossary_term_title.t(
  num: @glossary_term.version,
  name: @glossary_term.name
))

add_tab_set(glossary_term_version_links(term: @glossary_term))
%>

<div class="row">
  <div class="col-xs-8">
    <%= render(partial: "glossary_terms/glossary_term",
               object: @glossary_term,
               locals: { synonyms: false }) %>
  </div>
  <div class="col-xs-4">
    <%= show_past_versions(@glossary_term) %>
  </div>
</div><!--.row-->

<%= show_object_footer(@glossary_term) %>
