<% @title = :name_bulk_title.t %>

<% form_tag(:action => 'bulk_name_edit', :approved_names => @new_names) do %>
  <br/><center><%= submit_tag :app_save.l %></center>

  <%= render(:partial => 'shared/form_list_feedback') %>

  <p><label for="list_members"><%= :name_bulk_label.t %>:</label><br/>
  <%= text_area('list', 'members', :value => @list_members, :cols => 80) %></p><br/>

  <div class="HelpNote"><%= :name_bulk_help.tp %></div>

  <%= focus_on('list_members') %>
<% end %>

