<% @title = "#{:edit_name_title.l}: #{h(@name.search_name)}" %>
<%= link_to(:edit_name_cancel.l, :action => 'show_name', :id => @name) %>

<div id="Title"><%= :edit_name_title.l %>: <%= textilize_without_paragraph(h(@name.display_name)) %></div>

<% form_tag(:action => 'edit_name', :id => @name) do %>
<br/>
<center><%= submit_tag :edit_name_save_edits.l %></center>

<%= render :partial => 'form_names' %>

<% end %>
