<%
  @title = :show_past_name_title.t(
    :num  => @name.version,
    :name => @name.display_name
  )
%>

<table cellpadding="10">
  <tr>
    <td valign="top">
      <p>
        <%= render(:partial => 'name', :object => @name) %>
      </p>
    </td>

    <td valign="top" width="50%">
      <%= show_past_versions(@name, :bold => lambda {|v| !v.deprecated}) %>
    </td>
  </tr>
</table>

<%= show_object_footer(@name) %>
