<% if @new_names && (@new_names != []) %>
    <%= :form_list_feedback_missing_names.l %><br/>
    <span class="HelpNote">
        <%= :form_list_feedback_missing_names_help.l %>
    </span>
    <span class="Data">
        <p>
            <% for n in @new_names %>
            &nbsp;&nbsp;<%= h(n) %><br/>
            <% end %>
        </p>
    </span>
<% end %>
