<%= error_messages_for 'comment' %>

<!--[form:comment]-->
<td>
<p><label for="comment_summary">Summary</label><br/>
<%= text_field("comment", "summary") %></p>

<p><label for="comment_comment">Comment</label><br/>
<%= text_area("comment", "comment") %></p>
</td>
<!--[eoform:comment]-->
