<%
  sequences = observation.sequences
  can_edit  = in_admin_mode? || observation.can_edit?

  # This is passed in to show_sequence, allowing users to do prev,
  # next and index from there to navigate through all the rest for this obs.
  query = Query.lookup(:Sequence, :all, observations: observation.id)
%>

<% if @user || sequences.any? %>
  <div>
    <%= sequences.any? ? :Sequences.t + ":".html_safe :
                         :show_observation_no_sequences.t %> <%=
      link = link_with_query(:show_observation_add_sequence.t,
                             controller: :sequence, action: :create_sequence,
                             id: observation.id)
      "[#{link}]".html_safe if @user
    %>
  </div>
<% end %>

<% if sequences.any? %>
  <ul class="tight-list">
    <% sequences.each do |sequence| %>
      <li>
        <%= locus = sequence.locus.truncate(sequence.locus_width)
        if sequence.deposit?
          link_to("#{locus} - #{sequence.archive} ##{sequence.accession}".t,
                  add_query_param(sequence.show_link_args, query))
        else
          link_to("#{locus} - MO ##{sequence.id}".t,
                  add_query_param(sequence.show_link_args, query))
        end %>
        <%=
          links = []
          if sequence.deposit?
            links << link_to(:show_observation_archive_link.t,
                             sequence.accession_url, target: "_blank")
          end
          if in_admin_mode? || sequence.can_edit?(@user)
            links << link_with_query(:EDIT.t, controller: :sequence,
                                     action: :edit_sequence, id: sequence.id,
                                     back: observation.id)
            links << link_with_query(:DESTROY.t, { controller: :sequence,
                                     action: :destroy_sequence, id: sequence.id },
                                     { data: { confirm: :are_you_sure.t } })
          end
          if sequence.blastable?
            links << link_to(:show_observation_blast_link.t,
                             sequence.blast_url, target: "_blank")
          end
          "[#{links.safe_join(' | ')}]".html_safe if links.any?
        %>
      </li>
    <% end %>
  </ul>
<% end %>
