<!-- table of sequences in show_observation -->
<table class="table-namings">
  <thead>
    <tr>
      <th class="align-right">#</th>
      <th><%= :LOCUS.t %></th>
      <th><%= :ARCHIVE.t + ": " + :ACCESSION.t %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: "observer/sequence",
               collection: observation.sequences) %>
  </tbody>
</table>
