<% if @user ? @user.thumbnail_maps : (!browser.bot? and !session[:hide_thumbnail_maps]) %>
  <%
    gmap = nil
    if observation.lat and observation.long
      if observation.location
        gmap = make_thumbnail_map([observation, observation.location])
      else
        gmap = make_thumbnail_map(observation)
      end
    elsif observation.location
      gmap = make_thumbnail_map(observation.location)
    end
  %>
  <% if gmap %>
    <% finish_map(gmap) %>
    <div class="list-group">
      <div class="list-group-item">
        <%= :MAP.t %>
        <span class="pull-right">
          <%= link_with_query(:show_observation_hide_map.t, action: :hide_thumbnail_map, id: @observation.id) %>
        </span>
      </div>
      <%= gmap.div(width: "100%", height: "200px").html_safe %>
    </div>
  <% end %>
<% end %>
