<%  ##TODO: Whoa... This is a lot of code for a view.
  lines = []

  # links to pages (internal & external) about name
  show_obs_name_links(observation).each { |link| lines << link }

  # links to approved MO synonyms
  if (synonym_links = show_obs_approved_syn_links(observation) )
    lines << synonym_links
  end

  name = observation.name
  if name && !name.unknown? && !browser.bot?
    approved_synonyms, deprecated_synonyms = name.sort_synonyms

    # Observations of each synonym
    links = obss_by_syn_links(name)
    if links.present? && links.size > 0
      links.each { |link| lines << link }
    end

    # Observations of taxon (under any name)
    lines << taxon_observations(name)

    # Observations of non-synonyms where synonym was proposed
    query = Query.lookup(:Observation, :of_name, name: name, by: :confidence,
                         synonyms: :all, nonconsensus: :exclusive)
    count = query.select_count
    if count > 0
      query.save
      lines << link_to(:show_name_other_observations.t,
        add_query_param({controller: :observer,
                         action: :index_observation}, query)) + " (#{count})"
    end

    # List of species in the genus.
    #   List of species in Amanita Pers. (1433)
    if (genera_list = show_obs_genera(name)).present?
      lines << genera_list
    end
  end

  lines += list_descriptions(name) if name
%>
<div class="small">
  <% lines.each do |line| %>
    <p><%= line %></p>
  <% end %>
</div>
