<%  ##TODO: Whoa... This is a lot of code for a view.
  lines = []

  name = observation.name
  # links to pages (internal & external) about name
  #   About Polyozellus
  #   on MyCoPortal
  #   on MycoBank
  lines << link_to(:show_name.t(name: name.display_name), controller: :name,
                 action: :show_name, id: name.id)
  lines << link_to(:show_name_on_mycoportal.t,
                   mycoportal_url(name), target: :_blank)
  lines << link_to(:show_name_on_mycobank.t,
                   mycobank_url(name), target: :_blank)

  # links to approved MO synonyms
  if (synonym_links = show_obs_approved_syn_links(name))
    lines << synonym_links
  end

  if !name.unknown? && !browser.bot?
    lines << "#{:OBSERVATIONS.t} of:"

    # Observations of each synonym
    links = obss_by_syn_links(name)
    if links.present? && links.size > 0
      links.each { |link| lines << link }
    end

    # Observations of taxon (under any name)
    lines << taxon_observations(name)

    # Observations of other taxa where this taxon was proposed
    if (link = taxon_proposed(name))
      lines << link
    end

     # Observations of other taxa where this name was proposed
    if (link = name_proposed(name))
      lines << link
    end

   # List of species in the genus.
    #   List of species in Amanita Pers. (1433)
    if (genera_list = show_obs_genera(name)).present?
      lines << genera_list
    end
  end

  lines += list_descriptions(name) if name
%>
<div class="small">
  <% lines.each do |line| %>
    <p><%= line %></p>
  <% end %>
</div>
