<% # Section showing lists in ShowObservation %>

<section id="lists_partial">

  <h4><%= :show_lists_header.t %></h4>

  <div class="card">
    <div class="card-body">
      <table class="table table-responsive mx-0 mb-0">
        <% observation.species_lists.each do |list| %>
          <tr>
            <td class="border-top">
              <%= link_to(list.format_name.t, controller: :species_list,
                          action: :show_species_list, id: list.id) %>
              <%= if check_permission(list)
                url = {
                  controller: :species_list,
                  action: :remove_observation_from_species_list,
                  observation: observation.id,
                  species_list: list.id
                }
                "[".html_safe + link_to(:REMOVE.t, url, data: {confirm: :are_you_sure.l}) + "]"
              end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div><!-- .card-body -->
  </div><!-- .card -->

</section><!-- #lists_partial -->
