<%  ##TODO: Whoa... This is a lot of code for a view.
  lines = []

  # links to pages (internal & external) about name
  show_obs_name_links(observation).each { |link| lines << link }

  # links to approved MO synonyms
  if (synonym_links = show_obs_approved_syn_links(observation) )
    lines << synonym_links
  end

  name = observation.name
  if name && !name.unknown? && !browser.bot?
    approved_synonyms, deprecated_synonyms = name.sort_synonyms

    # Observations of each synonym
    data = []
    sum = 0
    for name2 in [name] + approved_synonyms
      query = Query.lookup(:Observation, :of_name, name: name2, by: :confidence)
      count = query.select_count
      if count > 0
        sum += count
        query.save
        data << {count: count, name: name2, query: query}
      end
    end
    if data.length > 1
      for datum in data
        name2 = datum[:name]
        query = datum[:query]
        count = datum[:count]
        lines << link_to(:show_name_observations_of.t(name: name2.display_name),
          add_query_param({ controller: :observer,
                            action: :index_observation }, query)) +
                   " (#{count})"
      end
    end

    # Observations of all synonyms (including this one)
    query = Query.lookup(:Observation, :of_name, name: name, by: :confidence,
                         synonyms: :all)
    count = query.select_count
    query.save
    label = if data.length > 1
              :show_name_all_observations.t
            else
              :show_name_observations.t
            end
    lines << link_to(label,
        add_query_param({controller: :observer,
                         action: :index_observation}, query)) + " (#{count})"

    # Observations of non-synonyms where synonym was proposed
    query = Query.lookup(:Observation, :of_name, name: name, by: :confidence,
                         synonyms: :all, nonconsensus: :exclusive)
    count = query.select_count
    if count > 0
      query.save
      lines << link_to(:show_name_other_observations.t,
        add_query_param({controller: :observer,
                         action: :index_observation}, query)) + " (#{count})"
    end

    # List of species in the genus. Sample text:
    #   List of species in Amanita Pers. (1433)
    if (genera_list = show_obs_genera(name)).present?
      lines << genera_list
    end
  end

  lines += list_descriptions(name) if name
%>
<div class="small">
  <% lines.each do |line| %>
    <p><%= line %></p>
  <% end %>
</div>
