<!-- A single checkbox and tab in Activity Feed tabset -->
<% checked = @types.include?(type) || @types == ['all'] %>
<span class="btn btn-xs <%= "active" if @types == [type] %>"
      data-toggle="checkbox" class="rss_log_tab">
  <%= check_box_tag("show_#{type}", "1", checked, class: "rss_log_tab") %>
  <%= tab_for_type(type) %>
</span>
