<% @title = 'Add Comment to ' + h(@observation.unique_name) %>
<%= link_to 'Cancel (Show Observation)', :action => 'show_observation', :id => @observation %>

<div id="Title"><%= @title %></div>

<%= start_form_tag :action => 'save_comment' %>
<center><%= submit_tag "Create" %></center>
<table cellpadding="10">
<tr>
  <%= render :partial => 'form_comments' %>
</tr>
</table>
<%= end_form_tag %>
