<% @title = 'Add Comment to ' + textilize_without_paragraph(h @observation.unique_format_name) %>
<%= link_to 'Cancel (Show Observation)', :action => 'show_observation', :id => @observation %>

<div id="Title"><%= @title %></div>

<%= start_form_tag :action => 'save_comment' %>
<center><%= submit_tag "Create" %></center>

<%= render :partial => 'form_comments', :locals => { :observation_id => @observation.id }%>

<%= end_form_tag %>
