<% @title = :ask_observation_question_title.t(:name => @observation.unique_format_name) %>

<%= form_tag(add_query_param(:action => 'ask_observation_question',
      :id => @observation.id)) do %>
  <br/><center><%= submit_tag :SEND.l %></center><br/>

  <table width="1">
    <tr>
      <td>
        <%= :ask_observation_question_label.tp(:user => @observation.user.legal_name) %>
        <%= text_area(:question, :content, cols: 80, autofocus: true) %>
      </td>
    </tr>
  </table>
<% end %>
