<% @title = :theme_white_on_black.tl %>

This is just a simple Black on White theme that attempts to be as readable as possible.  The logo colors come from the
<%= link_to('**__Amanita__**'.t, :action => "Amanita") %> theme.
