<% @title = 'Create Species List' %>

<div id="Title"><%= @title %></div>

<% form_tag(:action => 'construct_species_list', :approved_names => @new_names, :approved_deprecated_names => @deprecated_names) do %>
<br/>
<center><%= submit_tag 'Save' %></center>

<table cellpadding="10">
	<tr>
	    <%= render :partial => 'form_species_lists' %>
	</tr>
</table>
<% end %>
