<% @title = 'Create Observation' %>
<div id="Title"><%= @title %></div></br>

<% form_tag(:action => 'construct_observation') do %>
<center><%= submit_tag "Create" %></center>
<table cellpadding="10">
<tr>
  <%= render :partial => 'form_observations' %>
</tr>
</table>
<% end %>
