<% @title = 'MO Maintenance' %>

<div id="Title"><%= @title %></div>

<% for (key, value) in @users %>
    <%= "#{key}: #{value}"%><br/>
<% end %>
<br/>
<% for datum in @data %>
    <%= link_to(textilize_without_paragraph(h(datum[:name])),
                :action => 'show_name', :id => datum[:id]) %>
    <%= datum[:login] %> <br/>
<% end %>
