<% @title = 'Editing Name: ' + h(@name.search_name) %>
<%= link_to 'Cancel (Show Name)', :action => 'show_name', :id => @name %>

<div id="Title">Editing Name: <%= textilize_without_paragraph(h(@name.display_name)) %></div>

<% form_tag(:action => 'update_name', :id => @name) do %>
<br/>
<center><%= submit_tag 'Save Edits' %></center>

<%= render :partial => 'form_names' %>

<% end %>
