<% @title = 'Email Features'%>
<div id="Title"><%= @title %></div>
Sending to
<%= (@users.map { |u| u.login }).join(', ') %>
<br/><br/>
<% form_tag(:action => 'send_feature_email') do %>
<center><%= submit_tag "Send" %></center>
<br/>
<label for="feature_email">Feature Email</label><br/>
<%= text_area 'feature_email', 'content'  %>
<% end %>
