<% @title = :how_help_title.t %>

<%= :how_help_intro.tp %>

<ol type="none">
  <li>
    <%= :how_help_contributors.tp %>
  </li>
  <li>
    <%= :how_help_designers.tp %>
  </li>
  <li>
    <%= :how_help_developers.tp(:todo_list => "#{SVN_REPOSITORY}/trunk/TODO") %>
  </li>
  <li>
    <%= :how_help_translators.tp %>
  </li>
  <li>
    <%= :how_help_donors.tp %>
  </li>
  <li>
    <%= :how_help_business_planning.tp %>
  </li>
</ol>
