<% @title = lnbsp(:intro_title) %>
<div id="Title"><%= @title %></div>

<%= :intro_purpose.l %>

<%= textilize(:intro_image_sharing.l % "#{DOMAIN}/observer/how_to_use#lic") %>

<%= textilize(:intro_source_code.l % ["\"#{SVN_REPOSITORY}\":#{SVN_REPOSITORY}",
                                      "#{SVN_REPOSITORY}/trunk/TODO"]) %>

<%= :intro_note.l %>

<%= textilize(:intro_talks.l % "#{DOMAIN}/talks/MO-First-Year.html") %>
