<% @title = :intro_title.t.nowrap %>

<%= :intro_purpose.tp %>

<%= :intro_image_sharing.tp %>

<%= :intro_source_code.tp(
  :repo => CODE_REPOSITORY,
  :todo_list => "#{SVN_REPOSITORY}/trunk/TODO",
  :readme => "#{SVN_REPOSITORY}/trunk/README"
) %>
                                      
<%= :intro_note.tp %>
