<% @title = :intro_title.t %>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= :intro_purpose.tp %>

    <%= :intro_image_sharing.tp %>

    <%= :intro_source_code.tp(
          repo: MO.code_repository,
          todo_list: "/pivotal",
          readme: "#{MO.code_repository}/developer-startup"
        ) %>

    <%= :intro_note.tp %>
  </div>
</div>
