<%
  @title = :rss_log_title.t.nowrap
  @full_width_tab_set = render(partial: "rss_log_tabset")
  new_tab_set(@links) if @links && @links.any?
  flash_error(@error) if @error && (!@objects || @objects.empty?)
%>

<%= paginate_block(@pages) do %>
  <%= render(partial: "shared/matrix_box", collection: @objects, as: :object)  %>
<% end %>
<div style="clear:left"></div>
