<%
  @title ||= :list_notifications_title.t(:user => @user.legal_name)

  tabs = [
    link_to(:show_user_edit_profile.t, :controller => "account", :action => "profile")
  ]
  tabs += @links.map {|str,url| link_to(str, url)} if @links
  @tabsets = { right: draw_tab_set(tabs) }

  flash_error(@error) if @error && @objects.empty?
%>

<% if @notifications.length > 0 %>
  <table cellpadding="5" cellspacing="0" width="100%" class="table table-striped">
    <%for n in @notifications
      (controller, action) = n.link_params %>
      <tr valign="top">
        <td width="100%">
          <%= link_to("<span class=\"ListWhat\">#{n.summary.t}</span>", n.link_params) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
