<%
  if @links.any?
    tabs = create_links(@links)
    @tabsets = { right: draw_tab_set(tabs) }
  end

  flash_error(@error) if @error && @objects.empty?
%>

<% if @suggest_alternate_spellings && @objects.empty?
  names = Name.suggest_alternate_spellings(@suggest_alternate_spellings)
  if names.any? %>
    <div class="alert-warning">
      <div><%= :list_observations_suggestions.t %>:</div>
      <% names.sort_by(&:sort_name).each do |name| %>
        <div>
          <%= link_to(name.display_name.t, controller: :observer,
                      action: :observation_search, pattern: name.text_name) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= paginate_block(@pages) do %>
  <div class="row results push-down">
    <%= render(partial: "shared/matrix_box", layout: "shared/matrix_table", collection: @objects, as: :object)  %>
    <div style="clear: left"></div>
  </div>
<% end %>
