<%
  @title = :rss_log_title.t.nowrap

  if @links.any?
    tabs = @links.map {|str,url| link_to(str, url)}
    @tabsets = { right: draw_tab_set(tabs) }
  end

  @full_width_tab_set = render(partial: "observer/rss_log_tabset")
  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <div id="results_block">
  <%= render(partial: "shared/matrix_box", layout: "shared/matrix_table", collection: @objects, as: :object) %>
  </div>
  <div style="clear:left"></div>
<% end %>

