<%
  @title = content_tag(:span, :rss_log_title.t, style: "white-space:nowrap")

  if @links.any?
    tabs = create_links(@links)
    @tabsets = { right: draw_tab_set(tabs) }
  end

  @full_width_tab_set = render(partial: "rss_log_tabset")
  flash_error(@error) if @error && @objects.empty?
%>

<%= pagination_numbers(@pages) %>

<div class="results row row-cols-1 row-cols-sm-2 row-cols-lg-3">
  <%= render(partial: "shared/matrix_box",
             layout: "shared/matrix_table",
             collection: @objects,
             as: :object) %>
  <div style="clear:left"></div>
</div>

<%= pagination_numbers(@pages) %>
