<% @title = 'New Species List' %>

<div id="Title"><%= @title %></div>

<%= form_tag({:action => 'create_species_list', :id => @species_list}, :multipart => true) %>
<br/>
<center><%= submit_tag 'Create' %></center>

<table cellpadding="10">
	<tr>
	    <%= render :partial => 'form_species_lists' %>
	</tr>
</table>
<%= end_form_tag %>
