<% @title = 'New Observation' %>
<div id="Title"><%= @title %></div></br>

<%= start_form_tag :action => 'create_observation' %>
<center><%= submit_tag "Create" %></center>
<table cellpadding="10">
<tr>
  <%= render :partial => 'form_observations' %>
</tr>
</table>
<%= end_form_tag %>
