<% @title = 'New Species List' %>

<div id="Title"><%= @title %></div>

<%= form_tag({:action => 'create_species_list', :approved_names => @new_names}, :multipart => true) %>
<br/>
<center><%= submit_tag 'Save' %></center>

<table cellpadding="10">
	<tr>
	    <%= render :partial => 'form_species_lists' %>
	</tr>
</table>
<%= end_form_tag %>
