<% @title = 'Observations Index' %>
<div id="Title"><%= @title %></div>
<%
	observation_ids = []
	for datum in @data
		observation_ids.push(datum['id'])
%>
<%= link_to(sprintf("%s (%s) %s %s", h(datum["what"]), datum["id"], datum["when"],
					truncate(h(sprintf("%s (%s)", datum["name"], datum["login"])), MAX_WHO_LENGTH)),
            :action => 'show_observation', :id => datum["id"].to_i) %><br/>
<%
	end
	session['observation_ids'] = observation_ids
	session['image_ids'] = nil
%>
</br>
