<div id="Title">Observations by Name</div>
<%
  for observation in @observations %>
<%= link_to(sprintf("%s %s %s", h(observation.unique_name), observation.when,
                    truncate(h(observation.user.unique_name), MAX_WHO_LENGTH)),
            :action => 'show_observation', :id => observation.id) %><br/>
<%
  end
%>
</br>
