<%= link_to 'Back', :action => 'show_observation', :id => @comment.observation %> |
<%= link_to 'Edit', :action => 'edit_comment', :id => @comment %> |
<%= link_to 'Destroy', :action => 'destroy_comment', :id => @comment %>

<h1>Comment on <%= @comment.observation.unique_name %></h1>
<p>Created: <%= @comment.created.to_formatted_s(:db) %></p>
<p>By: <%= @comment.who %></p>
<p>Summary: <%= @comment.summary %></p>
<p>Comment: <%= @comment.comment %></p>
