<form>
  <table><tr><td valign="top">
    <table>
      <tr><td>Menu:        </td><td><input type="text_field" size="40" id="test_menu"/></td></tr>
      <tr><td>Name:        </td><td><input type="text_field" size="40" id="test_name"/></td></tr>
      <tr><td>Location:    </td><td><input type="text_field" size="40" id="test_location"/></td></tr>
      <tr><td>Project:     </td><td><input type="text_field" size="40" id="test_project"/></td></tr>
      <tr><td>Species List:</td><td><input type="text_field" size="40" id="test_species_list"/></td></tr>
      <tr><td>User:        </td><td><input type="text_field" size="40" id="test_user"/></td></tr>
    </table>
  </td><td valign="top">
    <div id="log" style="overflow:auto; height:700px; width:400px"></div>
  </td></tr></table>

<% if false %>
<% end %>
  <%= turn_into_menu_auto_completer('test_menu', :primer => ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"], :log => false) %>
  <%= turn_into_name_auto_completer('test_name', :log => false) %>
  <%= turn_into_location_auto_completer('test_location', :log => false) %>
  <%= turn_into_project_auto_completer('test_project', :log => false) %>
  <%= turn_into_species_list_auto_completer('test_species_list', :log => false) %>
  <%= turn_into_user_auto_completer('test_user', :log => false) %>
<% if false %>
<% end %>
</form>

<!--
  <div id="x1" style="margin:0px;border:0px;padding:0px;background:red;width:500px">
    <table style="margin:0px;border:0px;padding:0px;background:#00f;border-collapse:collapse;">
      <tr style="margin:0px;border:0px;padding:0px;background:#0f0">
        <td style="margin:0px;border:0px;padding:0px;background:#fff">
          <ul id="x2" style="margin:0px;border:0px;padding:0px;background:orange;list-style:none">
            <li id="x3" style="margin:0px;border:0px;padding:0px;background:yellow">Hello</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
-->
