<html><head></head><body>
  <% for file in Dir.glob(::Rails.root.to_s + '/public/html/*.html').sort
    name = file.gsub(/.*\//, '')
    url  = "#{MO.http_domain}/html/" + name %>
    <a href="http://validator.w3.org/check?uri=<%= url %>"><%= h(name) %></a><br/>
  <% end %>
</body></html>
