<% # Notes Settings of Account Preferences Form %>
<div class="form-group mt-3">
  <%= tag.b :prefs_notes_template.t %>
  <%= tag.p :prefs_notes_template_explanation.t %>
  <%= form.text_area :notes_template, rows: 1, class: "form-control" %>
</div>
<%= form.submit :SAVE_EDITS.l, class: "btn btn-primary btn-lg mx-auto mt-3" %>
