<!-- Filters Settings of Account Preferences Form -->
<div class="form-group push-down">
  <span class="bold"><%= :prefs_filters.t %></span>
  <%= :prefs_filters_explanation.t %>
</div>

<div class="form-group push-down form-inline">
  <%= form.check_box(:prefs_obs_imged, class: "form-control") %>

</div>

<%= submit_tag(:SAVE_EDITS.l, class: "btn center-block push-down") %>
