<% @title = :add_user_to_group_title.t %>

<%= form_tag(:action => "add_user_to_group") do %>

  <label for="user_name"><%= :add_user_to_group_user.t %>:</label><br/>
  <input type="text" name="user_name" id="user_name" size="30"/><br/><br/>

  <label for="group_name"><%= :add_user_to_group_group.t %>:</label><br/>
  <input type="text" name="group_name" id="group_name" size="30"/><br/><br/>

  <input type="submit" name="save" value="<%= :ADD.t %>" class="primary" />

<% end %>
