<% @title = :email_new_password_title.t %>

<% form_tag(:action => "email_new_password") do %>
  
  <label for="new_user_login"><%= :email_new_password_login.t %>:</label><br/>
  <%= text_field "new_user", "login", :size => 30 %><br/><br/>

  <input type="submit" value="<%= :app_send.l %>" class="primary" />

  <%= focus_on('new_user_login') %>
<% end %>
