<%= start_form_tag :action=> "email_new_password" %>

<div title="Email New Password" id="newpasswordform" class="form">
  <h3>Email New Password</h3>
  <%= error_messages_for 'user' %><br/>
  
  <label for="user_login">Login:</label><br/>
  <%= text_field "user", "login", :size => 30 %><br/><br/>
<br/>
<input type="submit" value="Email New Password" class="primary" />

<%= end_form_tag %>

