<% @title = :email_new_password_title.t %>

<%= form_tag(:action => "email_new_password") do %>
  <label for="new_user_login"><%= :login_user.t %>:</label><br/>
  <%= text_field(:new_user, :login, size: 30, autofocus: true) %><br/><br/>

  <input type="submit" value="<%= :SEND.l %>" class="primary" />
<% end %>
