<% form_tag(:action=> "email_new_password") do %>

<div title=<%= "\"#{:email_new_password_title.l}\""%> id="newpasswordform" class="form">
  <h3><%= :email_new_password_title.l%></h3>
  <%= error_messages_for 'user' %><br/>
  
  <label for="user_login"><%= :email_new_password_login.l%>:</label><br/>
  <%= text_field "user", "login", :size => 30 %><br/><br/>
<br/>
<input type="submit" value=<%= "\"#{:email_new_password_button.l}\""%> class="primary" />

<% end %>

