<% @title = :email_new_password_title.t %>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= form_tag(action: :email_new_password) do %>

      <div class="form-group">
        <%= label(:new_user, :login, :login_user.t) %>:
        <%= text_field(:new_user, :login, data: {autofocus: true}) %>
      </div>

      <%= submit_tag(:SEND.l, class: "btn center-block push-down") %>

    <% end %>
  </div>
</div>
