
<div class="memo">
    <h3>Welcome <%= @user.legal_name %></h3>

    <p>Automated email about new features have been disabled for your account.</p>
    <p>Login and go to the Preferences page to re-enable this feature</p>
</div>
