<%
  @title = :email_welcome.t(user: @unverified_user.legal_name)
%>
<div class="max-width-text">
  <%= :reverify_note.tp(user: @unverified_user.login) + :email_spam_notice.tp %>
  <%= link_to :reverify_link.t, account_send_verify_path(@unverified_user.id) %>
</div>
