
<div class="memo">
    <h3>Reverify Account</h3>

    <p>Your account, <%= session['user'].login %> has not been verified yet.</p>
    <p>
    Check your email for your verification URL or click the link below to have the mail resent.
    </p>
      
    <%= link_to "Reverify", :action=>"send_verify"%>  
      
</div>
