<%
  @title = "Login as Another User"
%>

<div class="max-width-text">
  <%= form_tag({}, { class: "push-down pad-bottom-2x"}) %>
    <big>ID, login or email:</big><br/>
    <%= text_field_tag(:id, @id, size: 40, data: {autofocus: true}, class: "form-control") %><br/>
    <%= submit_tag("SUDO", class: "btn", style: "margin-left: 1em") %>
  </form>
</div>
