<%
  @title = :app_switch_users.l
%>

<%= form_with(url: { action: :switch_users }, class: "mt-3 pb-2") do |form| %>

  <span class="text-larger"><%= :LOGIN_NAME.t %>:</span><!-- .text-larger --><br/>

  <%= form.text_field(:id, value: @id, size: 40, id: "id",
                           data: { autofocus: true },
                           class: "form-control" ) %><br/>
  <% turn_into_user_auto_completer(:id) %>

  <%= form.submit(:SUBMIT.t, class: "btn btn-default ml-3") %>

<% end %>
