<%
  @title = :app_switch_users.l
%>

<div class="max-width-text">
  <%= form_tag({}, { class: "mt-3 pb-2"}) %>
    <span class="text-larger"><%= :LOGIN_NAME.t %>:</span><!-- .text-larger --><br/>
    <%= text_field_tag(:id, @id, size: 40,
                                 data: {autofocus: true},
                                 class: "form-control") %><br/>
    <% turn_into_user_auto_completer(:id) %>
    <%= submit_tag(:SUBMIT.t, class: "btn ml-3") %>
  </form>
</div>
