
<div class="memo">
    <h3>Welcome <%= @user.legal_name %></h3>

    <p>Your account has been verified...</p>
    <p>
    You should now be able to add observations, images and comment to MushroomObserver.org.
    </p>
    <p>Thanks for joining!</p>
</div>
