<%
  @title = @user ? :email_welcome.t(user: @user.legal_name) :
                   :welcome_no_user_title.t
%>

<div class="max-width-text">
  <% if @user %>
    <%= :welcome_note.tp %>
    <%= link_to(:welcome_logout_link.t, account_logout_user_path) %>
  <% else %>
    <%= :welcome_no_user_note.tp %>
  <% end %>
</div>
