@import "old_theme";

$augustus_cap:         #ECCF95;
$brasiliensis_gills_1: #A06463;
$brasiliensis_gills_2: #743931;
$campestris_cap:       #F6F0F2;
$cupreobrunneus_gills: #3B2821;
$lilaceps_stain:       #B4725F;
$semotus_cap:          #BC9D89;
$xanthodermus_stain:   #D4A833;
$polyozellus_light:    #a5bffa;
$polyozellus_dark:     #5167b2;

$BODY_FG_COLOR:               $cupreobrunneus_gills;
$BODY_BG_COLOR:               $campestris_cap;
                             
$LINK_FG_COLOR:               $brasiliensis_gills_1;
$LINK_VISITED_FG_COLOR:       $cupreobrunneus_gills;
$LINK_HOVER_FG_COLOR:         $brasiliensis_gills_2;
$LINK_HOVER_BG_COLOR:         $campestris_cap;
                             
$LOGO_BORDER_COLOR:           $cupreobrunneus_gills;
$LOGO_FG_COLOR:               $cupreobrunneus_gills;
$LOGO_BG_COLOR:               $semotus_cap;
$LOGO_HOVER_FG_COLOR:         $brasiliensis_gills_2;
$LOGO_HOVER_BG_COLOR:         $campestris_cap;
                             
$LEFT_BAR_BORDER_COLOR:       $augustus_cap;
$LEFT_BAR_HEADER_FG_COLOR:    $cupreobrunneus_gills;
$LEFT_BAR_HEADER_BG_COLOR:    $augustus_cap;
$LEFT_BAR_FG_COLOR:           $brasiliensis_gills_1;
$LEFT_BAR_BG_COLOR:           $augustus_cap;
$LEFT_BAR_HOVER_FG_COLOR:     $brasiliensis_gills_2;
$LEFT_BAR_HOVER_BG_COLOR:     $campestris_cap;

$TOP_BAR_FG_COLOR:            $cupreobrunneus_gills;
$TOP_BAR_BG_COLOR:            $campestris_cap;
$TOP_BAR_LINK_FG_COLOR:       $brasiliensis_gills_1;
$TOP_BAR_LINK_HOVER_FG_COLOR: $brasiliensis_gills_2;
$TOP_BAR_LINK_HOVER_BG_COLOR: $campestris_cap;

$LIST_BORDER_COLOR:           transparent;
//$LIST_BORDER_COLOR:           #DDDDDD;
$LIST_HEADER_FG_COLOR:        #777777;
$LIST_HEADER_BG_COLOR:        #EEEEEE;
$LIST_FG_COLOR:               $cupreobrunneus_gills;
$LIST_BG_COLOR:               mix($campestris_cap, white, 50%);

$TOOLTIP_FG_COLOR:            $campestris_cap;
$TOOLTIP_BG_COLOR:            $cupreobrunneus_gills;
                             
$PAGER_FG_COLOR:              $cupreobrunneus_gills;
$PAGER_HOVER_FG_COLOR:        $brasiliensis_gills_2;
$PAGER_HOVER_BG_COLOR:        $campestris_cap;
$PAGER_ACTIVE_FG_COLOR:       $campestris_cap;
$PAGER_ACTIVE_BG_COLOR:       $brasiliensis_gills_2;
                             
$MENU_BORDER_COLOR:           $brasiliensis_gills_2;
$MENU_FG_COLOR:               black;
$MENU_BG_COLOR:               white;
$MENU_HOT_FG_COLOR:           black;
$MENU_HOT_BG_COLOR:           $xanthodermus_stain;
$MENU_WARM_FG_COLOR:          black;
$MENU_WARM_BG_COLOR:          $lilaceps_stain;

$INFO_BG_COLOR:                     $polyozellus_light;
$INFO_BORDER_COLOR:                 $polyozellus_dark;
$INFO_FG_COLOR:                     $BODY_FG_COLOR;
$SUCCESS_BG_COLOR:                  #E0FFE0;
$SUCCESS_BORDER_COLOR:              #70C070;
$SUCCESS_FG_COLOR:                  $BODY_FG_COLOR;
$WARNING_BG_COLOR:                  #FFF8E0;
$WARNING_BORDER_COLOR:              #F8CC70;
$WARNING_FG_COLOR:                  $BODY_FG_COLOR;
$DANGER_BG_COLOR:                   #FFE0E0;
$DANGER_BORDER_COLOR:               #F07070;
$DANGER_FG_COLOR:                   $BODY_FG_COLOR;

@import "mushroom_observer";

#navigation {
    border-left-width: $LEFT_BAR_BORDER_WIDTH;
}
