// @import "defaults";
@import "mushroom_observer";

//
// panels
// note: it doesn't look like there is a variable to set the border width
//       via the bootstrap sass
// --------------------------------------------------

// .panel {
//   border: 0px !important;
// }

//
// list-groups
// note: it doesn't look like there is a variable to set the border width
//       via the bootstrap sass
// --------------------------------------------------

// .list-group-item {
//   border: 0px !important;
// }
