// This theme is newer than the genus-color themes,
// and does not use the "old_theme" defaults.
@import "defaults";

$LOGO_BORDER_COLOR:                 #DDDDDD;
$LEFT_BAR_BORDER_COLOR:             #DDDDDD;
$TOP_BAR_BORDER_COLOR:              #DDDDDD;
$LIST_BORDER_COLOR:                 #DDDDDD;

@import "mushroom_observer";
