$californicus_cap:              #f6ae4a; // image 557
$californicus_stipe:            #fae8b8;
$cinnabarinus_dark_cap:         #c12900; // image 551
$cinnabarinus_light_cap:        #ff6524;
$cinnabarinus_dark_stem:        #6d1900;
$tubaeformis_dark_cap:          #603b29; // image 462
$tubaeformis_light_cap:         #925c20;
$tubaeformis_hymenium:          #c2914c;
$tubaeformis_bright_stipe:      #ffb230;
$tubaeformis_dark_stipe:        #4b2e0c;
$tubaeformis_light_stipe:       #e5bb67;
$cornucopioides_dark_hymenium:  #10110b; // image 465
$cornucopioides_light_hymenium: #9b9690;
$cornucopioides_dark_cap:       #4f4337;
$cornucopioides_light_cap:      #826c57;
$cornucopioides_bright_margin:  #e6c987;

$BODY_FG_COLOR:                  $cornucopioides_dark_hymenium;
$BODY_BG_COLOR:                  $californicus_stipe;

$INFO_FG_COLOR:                  #000000;
$INFO_BG_COLOR:                  transparent;
$INFO_LINK_COLOR:                #0000E0;
$INFO_BORDER_COLOR:              #0000FF;
$SUCCESS_FG_COLOR:               #000000;
$SUCCESS_BG_COLOR:               transparent;
$SUCCESS_LINK_COLOR:             #008000;
$SUCCESS_BORDER_COLOR:           #00C000;
$WARNING_FG_COLOR:               #000000;
$WARNING_BG_COLOR:               transparent;
$WARNING_LINK_COLOR:             #C0C000;
$WARNING_BORDER_COLOR:           #FFFF00;
$DANGER_FG_COLOR:                #000000;
$DANGER_BG_COLOR:                transparent;
$DANGER_LINK_COLOR:              #E00000;
$DANGER_BORDER_COLOR:            #FF0000;

$LINK_WEIGHT:                    normal;
$LINK_FG_COLOR:                  $cinnabarinus_light_cap;
$LINK_BG_COLOR:                  transparent;
$LINK_VISITED_FG_COLOR:          $cinnabarinus_dark_cap;
$LINK_VISITED_BG_COLOR:          transparent;
$LINK_HOVER_FG_COLOR:            $cinnabarinus_light_cap;
$LINK_HOVER_BG_COLOR:            $californicus_cap;

$BUTTON_FG_COLOR:                #000000;
$BUTTON_BG_COLOR:                #EEEEEE;
$BUTTON_BORDER_COLOR:            #888888;
$BUTTON_PRIMARY_FG_COLOR:        #000000;
$BUTTON_PRIMARY_BG_COLOR:        #EEEEEE;
$BUTTON_PRIMARY_BORDER_COLOR:    #888888;
$BUTTON_BORDER_WIDTH:            1px;
$BUTTON_BORDER_STYLE:            outset;
$BUTTON_BORDER_RADIUS:           5px;

$INPUT_FG_COLOR:                 #000000;
$INPUT_BG_COLOR:                 #FFFFFF;
$INPUT_BORDER_COLOR:             #888888;
$INPUT_BORDER_WIDTH:             1px;
$INPUT_BORDER_STYLE:             inset;
$INPUT_BORDER_RADIUS:            5px;

$BANNER_BORDER_WIDTH:            2px;
$BANNER_BORDER_STYLE:            solid;
$BANNER_BORDER_RADIUS:           0px;

$LOGO_BORDER_COLOR:              $cornucopioides_dark_hymenium;
$LOGO_BORDER_WIDTH:              2px;
$LOGO_BORDER_STYLE:              solid;
$LOGO_BORDER_RADIUS:             0px;
$LOGO_FG_COLOR:                  $cornucopioides_dark_hymenium;
$LOGO_BG_COLOR:                  $californicus_cap;
$LOGO_HOVER_FG_COLOR:            $cornucopioides_dark_hymenium;
$LOGO_HOVER_BG_COLOR:            $californicus_stipe;

$LEFT_BAR_BORDER_COLOR:          $californicus_cap;
$LEFT_BAR_BORDER_WIDTH:          2px;
$LEFT_BAR_BORDER_STYLE:          solid;
$LEFT_BAR_BORDER_RADIUS:         0px;
$LEFT_BAR_ITEM_BORDER_WIDTH:     0px;
$LEFT_BAR_HEADER_FG_COLOR:       $cornucopioides_dark_hymenium;
$LEFT_BAR_HEADER_BG_COLOR:       $californicus_cap;
$LEFT_BAR_FG_COLOR:              $cinnabarinus_dark_cap;
$LEFT_BAR_BG_COLOR:              $californicus_cap;
$LEFT_BAR_HOVER_FG_COLOR:        $cinnabarinus_dark_cap;
$LEFT_BAR_HOVER_BG_COLOR:        $californicus_stipe;

$TOP_BAR_BORDER_COLOR:           $californicus_stipe;
$TOP_BAR_BORDER_WIDTH:           0px;
$TOP_BAR_BORDER_STYLE:           solid;
$TOP_BAR_BORDER_RADIUS:          0px;
$TOP_BAR_FG_COLOR:               $cornucopioides_dark_hymenium;
$TOP_BAR_BG_COLOR:               $californicus_stipe;
$TOP_BAR_LINK_FG_COLOR:          $cinnabarinus_light_cap;
$TOP_BAR_LINK_BG_COLOR:          transparent;
$TOP_BAR_LINK_HOVER_FG_COLOR:    $cinnabarinus_light_cap;
$TOP_BAR_LINK_HOVER_BG_COLOR:    $californicus_cap;

$ALERT_BORDER_WIDTH:             2px;
$ALERT_BORDER_STYLE:             solid;
$ALERT_BORDER_RADIUS:            0px;

  $LIST_BORDER_COLOR:              #DDDDDD;
  $LIST_HEADER_FG_COLOR:           #777777;
  $LIST_HEADER_BG_COLOR:           #EEEEEE;
  $LIST_FG_COLOR:                  #333333;
  $LIST_BG_COLOR:                  #F5F5F5;

$TOOLTIP_FG_COLOR:               $californicus_stipe;
$TOOLTIP_BG_COLOR:               $cornucopioides_dark_hymenium;

$VOTE_METER_BORDER_COLOR:        none;
$VOTE_METER_FG_COLOR:            $cornucopioides_dark_hymenium;
$VOTE_METER_BG_COLOR:            $californicus_cap;

$PROGRESS_BG_COLOR:              $californicus_stipe;
$PROGRESS_FG_COLOR:              $cornucopioides_dark_hymenium;
$PROGRESS_BAR_COLOR:             $cinnabarinus_light_cap;

$PAGER_FG_COLOR:                 $cornucopioides_dark_hymenium;
$PAGER_BG_COLOR:                 transparent;
$PAGER_BORDER_COLOR:             none;
$PAGER_HOVER_FG_COLOR:           $cornucopioides_dark_hymenium;
$PAGER_HOVER_BG_COLOR:           $californicus_cap;
$PAGER_HOVER_BORDER_COLOR:       none;
$PAGER_ACTIVE_FG_COLOR:          $californicus_stipe;
$PAGER_ACTIVE_BG_COLOR:          $cornucopioides_dark_hymenium;
$PAGER_ACTIVE_BORDER_COLOR:      none;

$MENU_BORDER_COLOR:              $cornucopioides_dark_hymenium;
$MENU_FG_COLOR:                  black;
$MENU_BG_COLOR:                  white;
$MENU_HOT_FG_COLOR:              black;
$MENU_HOT_BG_COLOR:              $cinnabarinus_light_cap;
$MENU_WARM_FG_COLOR:             black;
$MENU_WARM_BG_COLOR:             $californicus_cap;

@import "mushroom_observer";

#navigation {
    border-left-width: $LEFT_BAR_BORDER_WIDTH;
}


