@import "general.scss";

/*
 * Style tweaks
 * --------------------------------------------------
 */

table.table-compact tr td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.rss-log-item {
    padding: 5px;
    text-align: center;
    height: 350px;
}
.rss-fancy-time {
    position: absolute;
    top: -10px;
    right: 2px;
    color: $list_light;
}
.rss-detail {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.rss-where, .rss-what {
    text-align: center;
}


/*
 * Colors
 * --------------------------------------------------
 */

html, body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    color: $body_fg;
    background-color: $body_bg;
}

a {
    color: $link_fg;
    background-color: $link_bg;
}
a:hover {
    color: $link_hover_fg;
    background-color: $link_hover_bg;
}
a:visited {
    color: $link_visited_fg;
    background-color: $link_visited_bg;
}
a {
    font-weight: bold;
}
#navigation a {
    font-weight: normal;
}

.btn-default {
    color: $button_fg;
    background-color: $button_bg;
}

#navigation #banner {
    background-color: $banner_bg;
    padding-top:5px;
    padding-bottom:5px;
    font: small-caps 25px/25px "Times New Roman", serif;
    text-align: center;
}
#navigation #banner a,
#navigation #banner a:visited {
    color: $banner_fg;
    background-color: $banner_bg;
    text-decoration: none;
}
#navigation #banner:hover,
#navigation #banner a:hover {
    color: $banner_hover_fg;
    background-color: $banner_hover_bg;
    text-decoration: none;
}

#navigation .list-group-item.disabled,
#navigation .list-group-item.disabled:hover,
#navigation .list-group-item.disabled:focus {
    color: $left_bar_head_fg;
    background-color: $left_bar_head_bg;
    cursor: default;
}
#navigation .list-group-item {
    color: $left_bar_fg;
    background-color: $left_bar_bg;
    /* border-color: $left_bar_border; */
}
#navigation .list-group-item:hover,
#navigation .list-group-item:focus {
    color: $left_bar_hover_fg;
    background-color: $left_bar_hover_bg;
}
#navigation .list-group-item-danger {
    color: $left_bar_admin_fg;
    background-color: $left_bar_admin_bg;
}
#navigation .list-group-item-danger:hover,
#navigation .list-group-item-danger:focus {
    color: $left_bar_admin_hover_fg;
    background-color: $left_bar_admin_hover_bg;
}

#search_bar_row {
    color: $top_bar_fg;
    background-color: $top_bar_bg;
}

.list-group-item.default {
    color: $list_fg;
    background-color: $list_bg;
    border-color: $list_border;
}

.vote-meter {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 7px;
    margin-bottom: 4px;
    overflow: hidden;
    background-color: $vote_meter_bg;
    border-radius: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.vote-meter-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 5px;
    color: #FFF;
    text-align: center;
    background-color: $vote_meter_fg;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span,
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border: 0 !important;
    border-radius: 0 !important;
}
.pagination > li > a,
.pagination > li > span {
    color: $pager_fg;
    background-color: $pager_bg;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: $pager_hover_fg;
    background-color: $pager_hover_bg;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: $pager_active_fg;
    background-color: $pager_active_bg;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: $body_light;
    cursor: default;
    background-color: transparent;
}

.popup {
    z-index: 1000;
    border: 1px solid;
    color: $popup_fg !important;
    background-color: $popup_bg !important;
}
