/*
 * Style tweaks
 * --------------------------------------------------
 */
html, body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: #2050E0;
    font-weight: bold;
}

#navigation a {
    font-weight: normal;
}

table.table-compact tr td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}


#banner {
    padding-top:5px;
    padding-bottom:5px;
    font: small-caps 25px/25px "Times New Roman", serif;
    text-align: center;
    background-color: #cc2616;
    color: #FAEBD4;
}

#banner a,
#banner a:visited {
    text-decoration: none;
    color: #FAEBD4;
}


.rss-log-item {
    padding: 5px;
    text-align: center;
    height: 350px;
}

.rss-fancy-time {
    position: absolute;
    top: -10px;
    right: 2px;
    color: grey;
}

.rss-detail {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.rss-where, .rss-what {
    text-align: center;
}

.popup {
    z-index: 1000;
    border: 1px solid;
    background: white !important;
}

/*Themeable options below */

body {
    background: rgba(239, 239, 239, 0.34);
}


.list-group-item.default {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
}

.color1 {
    background: #E0E0E0;
}

.color2 {
    background: #F2F2F2;
}

#right_side {
    background: white;
}

.btn-default {
    background-color: whitesmoke; /*rgba(224, 224, 224, 0.49);*/
}

span.input-group-addon {
    background-color: white;
}


#timer_container {
    display: inline-block;
    vertical-align: bottom;
}

.vote-meter {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 7px;
    margin-bottom: 4px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.vote-meter-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 5px;
    color: #FFF;
    text-align: center;
    background-color: #205080;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
}

/*pagination*/
.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span,
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border: 0 !important;
    border-radius: 0 !important;
}

.pager
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #959595;
    border-color: #B6B6B6;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
