/*
 * Style tweaks
 * --------------------------------------------------
 */
html, body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: #2050E0;
    font-weight: bold;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */



.hidden-overflow-x {
    overflow-x: hidden !important;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}
table.table-compact tr td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.form-control.form-control-sm {
    height: 25px;
    font-size: 12px;
    padding: 4px 12px;
}


#banner {
    padding-top:5px;
    padding-bottom:5px;
    font: small-caps 25px/25px "Times New Roman", serif;
    text-align: center;
    background-color: #cc2616;
    color: #FAEBD4;
}

#banner a,
#banner a:visited {
    text-decoration: none;
    color: #FAEBD4;
}


.navbar {
    min-height: 57px;
    margin-bottom: 0
}

.navbar-default .navbar-nav > li > a {
    color: black
}

.navbar-default .navbar-nav > li > a:hover {
    color: #205080;
}


.navbar-default .navbar-nav > li > a.glyphicon {
    padding-left: 5px;
    padding-right: 5px;
}


.rss-log-item {
    padding: 5px;
    text-align: center;
    height: 350px;
}

.rss-fancy-time {
    position: absolute;
    top: -10px;
    right: 2px;
    color: grey;
}

.rss-detail {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.rss-where, .rss-what {
    text-align: center;
}

.popup {
    z-index: 1000;
    border: 1px solid;
    background: white !important;
}

/*Themeable options below */

body {
    background: rgba(239, 239, 239, 0.34);
}


.list-group-item.default {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
}

.list-group-item.list-group-item-split {
    padding: 0 !important;
}

.list-group-item.list-group-item-split .split-left {
    border-right: 1px solid grey;
}

.list-group-item.list-group-item-split .split-right a,
.list-group-item.list-group-item-split .split-left a {
    background: none;
    display: block;
    padding: 5px;
    color: #555;
    text-decoration: none;
}


.list-group-item.list-group-item-split .split-right a:hover,
.list-group-item.list-group-item-split .split-left a:hover {
    background-color: #F5F5F5;
    display: block;
    padding: 5px;
    color: #555;
    text-decoration: none;
}

.color1 {
    background: #E0E0E0;
}

.color2 {
    background: #F2F2F2;
}

#right_side {
    background: white;
}

.btn-default {
    background-color: whitesmoke; /*rgba(224, 224, 224, 0.49);*/
}

span.input-group-addon {
    background-color: white;
}


#timer_container {
    display: inline-block;
    vertical-align: bottom;
}

.vote-meter {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 7px;
    margin-bottom: 4px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.vote-meter-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 5px;
    color: #FFF;
    text-align: center;
    background-color: #205080;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
}

/*pagination*/
.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span,
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border: 0 !important;
    border-radius: 0 !important;
}

.pager
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #959595;
    border-color: #B6B6B6;
}

/*input group select fix */

.input-group-btn > select {
    height: 34px;
    padding-right: 15px;
    background-color: rgba(211, 211, 211, 0.22);
}


.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}


/*
 * Autocomplete
 * --------------------------------------------------
 */

div.auto_complete {
    position: absolute;
    background-color: #fff;
    color: black;
    margin: 0px;
    border: 1px solid #888;
    padding: 0px;
    overflow-x: hidden;
    display: none;
    text-align: left;
}

div.auto_complete ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style: none;
    overflow-x: hidden;
}

div.auto_complete ul li {
    margin: 0px;
    border: 0px;
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
}

div.auto_complete ul li.selected {
    background-color: #ff0;
}

/*
 * Device specific overrides
 * --------------------------------------------------
 */

/* Small Devices, Tablets */
@media screen and (max-width: 767px) {

    .rss-box-details {
        height: auto !important;
    }
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {

}