$BODY_FG_COLOR:                     #000000;
$BODY_BG_COLOR:                     #FFFFFF;

$LINK_WEIGHT:                       bold;
$LINK_FG_COLOR:                     #2050E0;
$LINK_BG_COLOR:                     transparent;
$LINK_VISITED_FG_COLOR:             #5020E0;
$LINK_VISITED_BG_COLOR:             transparent;
$LINK_HOVER_FG_COLOR:               #23527C;
$LINK_HOVER_BG_COLOR:               transparent;

$BUTTON_FG_COLOR:                   #000000;
$BUTTON_BG_COLOR1:                  #FFFFFF;
$BUTTON_BG_COLOR2:                  #C0C0C0;
$BUTTON_BORDER_COLOR:               #DDDDDD;
$BUTTON_HOVER_FG_COLOR:             #000000;
$BUTTON_HOVER_BG_COLOR1:            #FFFFFF;
$BUTTON_HOVER_BG_COLOR2:            #C0C0C0;
$BUTTON_HOVER_BORDER_COLOR:         #000000;
$BUTTON_PRIMARY_FG_COLOR:           #FFFFFF;
$BUTTON_PRIMARY_BG_COLOR1:          #3F98E4;
$BUTTON_PRIMARY_BG_COLOR2:          #337AB7;
$BUTTON_PRIMARY_BORDER_COLOR:       #286192;
$BUTTON_PRIMARY_HOVER_FG_COLOR:     #FFFFFF;
$BUTTON_PRIMARY_HOVER_BG_COLOR1:    #3F98E4;
$BUTTON_PRIMARY_HOVER_BG_COLOR2:    #337AB7;
$BUTTON_PRIMARY_HOVER_BORDER_COLOR: #FFFFFF;
$BUTTON_BORDER_WIDTH:               1px;
$BUTTON_BORDER_STYLE:               outset;
$BUTTON_BORDER_RADIUS:              5px;

$INPUT_FG_COLOR:                    #000000;
$INPUT_BG_COLOR:                    #FFFFFF;
$INPUT_BORDER_COLOR:                #CCCCCC;
$INPUT_BORDER_WIDTH:                1px;
$INPUT_BORDER_STYLE:                solid;
$INPUT_BORDER_RADIUS:               5px;

$INFO_BG_COLOR:                     #E0F8FF;
$INFO_BORDER_COLOR:                 #70BCE0;
$SUCCESS_BG_COLOR:                  #E0FFE0;
$SUCCESS_BORDER_COLOR:              #70C070;
$WARNING_BG_COLOR:                  #FFF8E0;
$WARNING_BORDER_COLOR:              #F8CC70;
$DANGER_BG_COLOR:                   #FFE0E0;
$DANGER_BORDER_COLOR:               #F07070;

$BANNER_BORDER_WIDTH:               2px;
$BANNER_BORDER_STYLE:               solid;
$BANNER_BORDER_RADIUS:              5px;

$ALERT_BORDER_WIDTH:                2px;
$ALERT_BORDER_STYLE:                solid;
$ALERT_BORDER_RADIUS:               5px;

$LOGO_BORDER_COLOR:                 #DDDDDD;
$LOGO_BORDER_WIDTH:                 1px;
$LOGO_BORDER_STYLE:                 solid;
$LOGO_BORDER_RADIUS:                0px;
$LOGO_FG_COLOR:                     #FAEBD4;
$LOGO_BG_COLOR:                     #CC2616;
$LOGO_HOVER_FG_COLOR:               #FAEB44;
$LOGO_HOVER_BG_COLOR:               #CC2616;

$LEFT_BAR_BORDER_COLOR:             #DDDDDD;
$LEFT_BAR_BORDER_WIDTH:             1px;
$LEFT_BAR_BORDER_STYLE:             solid;
$LEFT_BAR_BORDER_RADIUS:            5px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        1px;
$LEFT_BAR_HEADER_FG_COLOR:          #777777;
$LEFT_BAR_HEADER_BG_COLOR:          #EEEEEE;
$LEFT_BAR_FG_COLOR:                 #555555;
$LEFT_BAR_BG_COLOR:                 #FFFFFF;
$LEFT_BAR_HOVER_FG_COLOR:           #23529C;
$LEFT_BAR_HOVER_BG_COLOR:           #EEEEEE;

$TOP_BAR_BORDER_COLOR:              #DDDDDD;
$TOP_BAR_BORDER_WIDTH:              1px;
$TOP_BAR_BORDER_STYLE:              solid;
$TOP_BAR_BORDER_RADIUS:             0;
$TOP_BAR_FG_COLOR:                  #000000;
$TOP_BAR_BG_COLOR:                  #F2F2F2;
$TOP_BAR_LINK_FG_COLOR:             $LINK_FG_COLOR;
$TOP_BAR_LINK_BG_COLOR:             $LINK_BG_COLOR;
$TOP_BAR_LINK_HOVER_FG_COLOR:       $LINK_HOVER_FG_COLOR;
$TOP_BAR_LINK_HOVER_BG_COLOR:       $LINK_HOVER_BG_COLOR;

$LIST_BORDER_COLOR:                 #DDDDDD;
$LIST_HEADER_FG_COLOR:              #777777;
$LIST_HEADER_BG_COLOR:              #EEEEEE;
$LIST_FG_COLOR:                     #333333;
$LIST_BG_COLOR:                     #FFFFFF;

$TOOLTIP_FG_COLOR:                  white;
$TOOLTIP_BG_COLOR:                  black;

$VOTE_METER_BORDER_COLOR:           none;
$VOTE_METER_FG_COLOR:               #205080;
$VOTE_METER_BG_COLOR:               #F5F5F5;

$PROGRESS_BG_COLOR:                 #EEEEEE;
$PROGRESS_FG_COLOR:                 #000000;
$PROGRESS_BAR_COLOR:                #99BDDB;

$PAGER_FG_COLOR:                    #337AB7;
$PAGER_BG_COLOR:                    transparent;
$PAGER_BORDER_COLOR:                none;
$PAGER_HOVER_FG_COLOR:              #23527C;
$PAGER_HOVER_BG_COLOR:              #EEEEEE;
$PAGER_HOVER_BORDER_COLOR:          none;
$PAGER_ACTIVE_FG_COLOR:             #FFFFFF;
$PAGER_ACTIVE_BG_COLOR:             #959595;
$PAGER_ACTIVE_BORDER_COLOR:         none;

$MENU_BORDER_COLOR:                 #888888;
$MENU_FG_COLOR:                     #000000;
$MENU_BG_COLOR:                     #FFFFFF;
$MENU_HOT_FG_COLOR:                 #000000;
$MENU_HOT_BG_COLOR:                 #FFFF88;
$MENU_WARM_FG_COLOR:                #000000;
$MENU_WARM_BG_COLOR:                #FF8888;
