@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
    .hidden-overflow-x {
        overflow-x: hidden !important;
    }
}

#message_banner {
    font-size: 1em;
    margin-bottom: 10px;
    display: none;
}

.navbar {
    border-radius: 0;
    min-height: 57px;
    margin-bottom: 0
}

.navbar-default .navbar-nav > li > a {
    color: $top_bar_link_fg;
    background-color: $top_bar_link_bg;
}

.navbar-default .navbar-nav > li > a:hover {
    color: $top_bar_link_hover_fg;
    background-color: $top_bar_link_hover_bg;
}

.navbar-default .navbar-nav > li > a.glyphicon {
    padding-left: 10px;
    padding-right: 10px;
}


.inline {
    display: inline-block;
}

.indent {
    padding-left: 10px !important;
}

.align-top {
    vertical-align: top !important;
}

.align-bottom {
    vertical-align: bottom !important;
}
.bold {
    font-weight: 800;
}

.border-radius-none {
    border-radius: 0 !important;
}

.push-down {
    margin-top: 1em;
}

.slight-pad {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-box {
    padding: 5px;
}

.border-box {
    border: 1px solid;
}

.pad-bottom {
    padding-bottom: .25em;
}

.pad-top {
    padding-top: 1em;
}

.kill-padding {
    padding: 0 !important;
}

.list-group.list-group-compact .list-group-item {
    padding: 3px;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 10;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
    color: $search_field_icon;
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: 1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: $search_field_icon_active;
}

/*Image Theater CSS */
.theater-shown {  /*appended to body when theater is shown*/
    overflow: hidden;
}

.theater-btn {
    position: absolute;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.59);
    color: black;
    padding: 5px;
    top: 0px;
    border: 1px solid;
    text-decoration: none;
    display: none;
}

.theater-btn:hover, .theater-btn:focus {
    background: black;
    color: white;
    padding: 5px;
    top: 0px;
    border: 1px solid;
    text-decoration: none;
}


.img-theater {
    position: absolute;
    top: 0px;
    background: none repeat scroll 0% 0% rgba(48, 50, 48, 0.55);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

#img_append_target {
    padding-top: 20px;
}


/*
 * Autocomplete
 * --------------------------------------------------
 */

div.auto_complete {
    position: absolute;
    color: $autocomplete_fg;
    background-color: $autocomplete_bg;
    margin: 0px;
    border: 1px solid $autocomplete_border;
    padding: 0px;
    overflow-x: hidden;
    display: none;
    text-align: left;
    z-index: 100;
}

div.auto_complete ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style: none;
    overflow-x: hidden;
}

div.auto_complete ul li {
    margin: 0px;
    border: 0px;
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
}

div.auto_complete ul li.selected {
    color: $autocomplete_hot_fg;
    background-color: $autocomplete_hot_bg;
}


/*
 * name_lister
 * --------------------------------------------------
 */

table.scroller th {
    font-size: 120%;
    padding-bottom: 0.3em;
}
div.scroller {
    color: $namelister_fg;
    background-color: $namelister_bg;
    height: 450px;
    overflow: auto;
    margin: 0;
    border: 1px solid $namelister_border;
    padding: 0;
    font-style: italic;
}
div.scroller ul {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}
div.scroller li {
    padding: 0px 5px 0px 5px;
}
div.scroller span.normal {
    font-style: normal;
}
div.scroller li.hot {
    color: $namelister_hot_bg;
    background-color: $namelister_hot_bg;
}
div.scroller li.warm {
    color: $namelister_warm_bg;
    background-color: $namelister_warm_bg;
}


/*
 * Device specific overrides
 * --------------------------------------------------
 */

/* Small Devices, Tablets */
@media screen and (max-width: 767px) {
    .rss-box-details {
        height: auto !important;
    }
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
}

.carousel-control {
    width:  4%;
}
.carousel-control.left,
.carousel-control.right {
    margin-left: 15px;
    background-image: none;
}

.extra1,
.extra2,
.extra3 {
    display: none;
}

@media only screen and (min-width: 768px) {
    @media all and (transform-3d), (-webkit-transform-3d) {
        .carousel-inner > .item.active.left,
        .carousel-inner > .item.prev
        {
            transform: translate3d(-50%, 0, 0);
            left: 0;
        }

        .carousel-inner > .item.active.right,
        .carousel-inner > .item.next
        {
            transform: translate3d(50%, 0, 0);
            left: 0;
        }
    }
    .carousel-inner > .active.left  { left: -50%; }
    .carousel-inner > .active.right { left:  50%; }
    .carousel-inner > .next         { left:  50%; }
    .carousel-inner > .prev         { left: -50%; }
    .extra1 { display: block; }
}


@media only screen and (min-width: 992px) {
    @media all and (transform-3d), (-webkit-transform-3d) {
        .carousel-inner > .item.active.left,
        .carousel-inner > .item.prev
        {
            transform: translate3d(-25%, 0, 0);
            left: 0;
        }

        .carousel-inner > .item.active.right,
        .carousel-inner > .item.next
        {
            transform: translate3d(25%, 0, 0);
            left: 0;
        }
    }

    .carousel-inner > .active.left  { left: -25%; }
    .carousel-inner > .active.right { left:  25%; }
    .carousel-inner > .next        	{ left:  25%; }
    .carousel-inner > .prev		 	    { left: -25%; }
    .extra2,
    .extra3 { display: block; }
}
