#message_banner {
    font-size: 1em;
    margin-bottom: 10px;
    display: none;
}

.navbar {
    border-radius: 0;
}

.inline {
    display: inline-block;
}

.indent {
    padding-left: 10px !important;
}

.align-top {
    vertical-align: top !important;
}

.align-bottom {
    vertical-align: bottom !important;
}
.bold {
    font-weight: 800;
}

.border-radius-none {
    border-radius: 0 !important;
}

.push-down {
    margin-top: 1em;
}

.slight-pad {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-box {
    padding: 5px;
}

.border-box {
    border: 1px solid;
}

.pad-left {
    padding-left: 1em;
}

.pad-bottom {
    padding-bottom: .25em;
}

.pad-top {
    padding-top: 1em;
}

.kill-padding {
    padding: 0 !important;
}

.list-group.list-group-compact .list-group-item {
    padding: 3px;
}