@media(max-width:1199px){
    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
        width: auto !important;
    }
    .row.row-offcanvas {
        margin-right: 0;
    }
}

#message_banner {
    font-size: 1em;
    margin-bottom: 10px;
    display: none;
}

.navbar {
    border-radius: 0;
}

.inline {
    display: inline-block;
}

.indent {
    padding-left: 10px !important;
}

.align-top {
    vertical-align: top !important;
}

.align-bottom {
    vertical-align: bottom !important;
}
.bold {
    font-weight: 800;
}

.border-radius-none {
    border-radius: 0 !important;
}

.push-down {
    margin-top: 1em;
}

.slight-pad {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-box {
    padding: 5px;
}

.border-box {
    border: 1px solid;
}

.pad-left {
    padding-left: 1em;
}

.pad-bottom {
    padding-bottom: .25em;
}

.pad-top {
    padding-top: 1em;
}

.kill-padding {
    padding: 0 !important;
}

.list-group.list-group-compact .list-group-item {
    padding: 3px;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 10;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
    color: lightgrey;
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: 1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

/*Image Theater CSS */
.theater-shown {  /*appended to body when theater is shown*/
    overflow: hidden;
}

.theater-btn {
    background: white;
    color: black;
    padding: 5px;
    top: 0px;
    border: 1px solid;
    text-decoration: none;
}

.theater-btn:hover, .theater-btn:focus {
    background: black;
    color: white;
    padding: 5px;
    top: 0px;
    border: 1px solid;
    text-decoration: none;
}


.img-theater {
    position: absolute;
    top: 0px;
    background: none repeat scroll 0% 0% rgba(48, 50, 48, 0.55);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

#img_append_target {
    padding-top: 20px;
}