/* conica { stain: #37372f; cap-red: #a31404; cap-orange: #dd6226; cap-yellow: #ffbf01; gill-margin: #ffda84;} /* image 371 */
/* miniata { gill-margin: #ebc97f; cap-red: #a10200; cap-orange: #c83e00; cap-yellow: #f19c05; } /* image 369 */
/* psittacina { cap-green: #405536; cap-orange: #eb9020; cap-middle: #a38a3f; gill-color: #f2d686;  } /* image 368 */
/* punicea { cap-dark: #bb2900; cap-light: #cc382a; dark-stipe: #e7bc3c; light-stipe: #e9e3af; } /* image 366 */

/* Global default colors */
body { background-color: #e9e3af; /* punicea light-stipe */ color: #37372f; /* conica stain */ }
.faint { color: #908d6f }

div.textile table         { background: #37372f; } /* conica stain */
div.textile table.noborder { background: #e9e3af; } /* punicea light-stipe */
div.textile table td      { background: #e9e3af; } /* punicea light-stipe */

a { color: #405536; } /* psittacina cap-green */
a:visited { color: #eb9020; } /* psittacina cap-orange */
a:hover { background-color: #f2d686; } /* psittacina gill-color */

.input_image { color: #37372f; } /* conica stain */
img { border-color: #37372f; } /* conica stain */
a img:hover { border-color: #f2d686; } /* psittacina gill-color */

li.selected { background-color: #f19c05 ! important }


/* Banner colors */
#banner {
    background-color: #cc382a; /* punica cap-light */
}

#banner a {
    color: #37372f; /* conica stain */
}

#banner a:visited {
    color: #37372f; /* conica stain */
}


/* Hide the new separator line */
.MatrixLine TD, .MatrixLine TR {
  display: none;
}


/* Colors for the left hand panel */
.LeftSide {
    background-color: #f19c05; /* miniata cap-yellow */
}

.LeftSide a {
    color: #a10200; /* miniata cap-red */
}

.LeftSide a:visited {
    color: #c83e00; /* miniata cap-orange */
}

.LeftSide a:hover {
    background-color: #ebc97f; /* miniata gill-margin */
}

/*New CSS for even lines */
table.lined-table tr:nth-child(even) {
    background-color: #cc382a; /* punicea cap-light */
}

table.lined-table tr:nth-child(even) div.textile table         { background: #37372f; } /* conica stain */
table.lined-table tr:nth-child(even) div.textile table.noborder { background: #cc382a; } /* punicea cap-light */
table.lined-table tr:nth-child(even) div.textile table td      { background: #cc382a; } /* punicea cap-light */
table.lined-table tr:nth-child(even) a {
    color: #e9e3af; /* punicea dark-stipe */
}
table.lined-table tr:nth-child(even) a:visited {
    color: #e7bc3c; /* punicea light-stipe */
}
table.lined-table tr:nth-child(even) a:hover {
    color: #37372f; /* conica stain */
}


/* Colors for even lines */
.ListLine0 {
      background-color: #cc382a; /* punicea cap-light */
}

.ListLine0 div.textile table         { background: #37372f; } /* conica stain */
.ListLine0 div.textile table.noborder { background: #cc382a; } /* punicea cap-light */
.ListLine0 div.textile table td      { background: #cc382a; } /* punicea cap-light */

.ListLine0 a {
      color: #e9e3af; /* punicea dark-stipe */
}

.ListLine0 a:visited {
      color: #e7bc3c; /* punicea light-stipe */
}

.ListLine0 a:hover {
      color: #37372f; /* conica stain */
}

/*New CSS for ODD Rows */
table.lined-table tr:nth-child(odd) {
    background-color: #ffbf01; /* conica cap-yellow */
}

table.lined-table tr:nth-child(odd) div.textile table         { background: #37372f; } /* conica stain */
table.lined-table tr:nth-child(odd) div.textile table.noborder { background: #ffbf01; } /* conica cap-yellow */
table.lined-table tr:nth-child(odd) div.textile table td      { background: #ffbf01; } /* conica cap-yellow */
table.lined-table tr:nth-child(odd) a {    color: #a31404; /* conica cap-red */}
table.lined-table tr:nth-child(odd) a:visited {    color: #dd6226; /* conica cap-orange */}
table.lined-table tr:nth-child(odd) a:hover {    color: #37372f; /* conica stain */}

/* Colors for odd lines */
.ListLine1 {
      background-color: #ffbf01; /* conica cap-yellow */
}

.ListLine1 div.textile table         { background: #37372f; } /* conica stain */
.ListLine1 div.textile table.noborder { background: #ffbf01; } /* conica cap-yellow */
.ListLine1 div.textile table td      { background: #ffbf01; } /* conica cap-yellow */

.ListLine1 a {
      color: #a31404; /* conica cap-red */
}

.ListLine1 a:visited {
      color: #dd6226; /* conica cap-orange */
}

.ListLine1 a:hover {
      color: #37372f; /* conica stain */
}

table.vote_meter div.on { background: #37372f; } /* conica stain */

/* Pivotal page. */
div.pivotal { background: #d1cc9d }
span.pivotal_name a, span.pivotal_name a:visited { color: #37372f }
span.pivotal_unscheduled, a.pivotal_unscheduled, a.pivotal_unscheduled:visited { color: #777 }
span.pivotal_unstarted,   a.pivotal_unstarted,   a.pivotal_unstarted:visited   { color: #222 }
span.pivotal_started,     a.pivotal_started,     a.pivotal_started:visited     { color: #000 }
a.pivotal_unscheduled:hover, a.pivotal_unstarted:hover, a.pivotal_started:hover { color: #777; background: #000 }
a.pivotal_unscheduled, a.pivotal_unstarted, a.pivotal_started { border: 1px solid #908d6f }
a.pA, a.pX, a.p0, a.p1, a.p2, a.p3, a.p4 { border: 1px solid #908d6f }
a.pA:hover, a.pA:visited:hover { color: #AF8; background: #000 }
a.pX:hover, a.pX:visited:hover { color: #FFF; background: #000 }
a.p0:hover, a.p0:visited:hover { color: #AAF; background: #000 }
a.p1:hover, a.p1:visited:hover { color: #F55; background: #000 }
a.p2:hover, a.p2:visited:hover { color: #F83; background: #000 }
a.p3:hover, a.p3:visited:hover { color: #FF0; background: #000 }
a.p4:hover, a.p4:visited:hover { color: #FF0; background: #000 }
a.p_day,   a.p_day:visited   { color: #37372f; background: #AAFF88 }
a.p_week,  a.p_week:visited  { color: #37372f; background: #8ED672 }
a.p_month, a.p_month:visited { color: #37372f; background: #78B460 }
a.p_none,  a.p_none:visited  { color: #37372f; background: #669951 }
a.pX, a.pX:visited { color: #37372f; background: #FFF }
a.p0, a.p0:visited { color: #37372f; background: #AAF }
a.p1, a.p1:visited { color: #37372f; background: #F55 }
a.p2, a.p2:visited { color: #37372f; background: #F83 }
a.p3, a.p3:visited { color: #37372f; background: #FF0 }
a.p4, a.p4:visited { color: #37372f; background: #FF0 }

