// The theme files import mushroom_observer.scss

// Now set up Bootstrap with these variables.
// This map sets Bootstrap's variables with those theme color variables.
@import "mo/map_theme_vars_to_bootstrap_vars"; // Overwrite bootstrap variables
// Because bootstrap-sass adds a url(font-path( that doesn't work.
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("bootstrap/glyphicons-halflings-regular.eot");
  src: url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}
@import "bootstrap";

// Now, set custom styles for MO elements.
@import "mo/elements";
@import "mo/utilities";
@import "mo/layout";
@import "mo/form_elements";
@import "mo/links_buttons_alerts";
@import "mo/logo";
@import "mo/left_nav";
@import "mo/top_nav";
@import "mo/help_tooltips";
@import "mo/matrix_box";
@import "mo/pagination";
@import "lightgallery/lightgallery-bundle";
@import "mo/lightgallery";
@import "mo/images";
@import "mo/carousel";
@import "mo/autocomplete";
@import "mo/popups";
@import "mo/name_lister";
@import "mo/translations";
@import "mo/maps";
@import "mo/textile";
@import "mo/tables";
@import "mo/namings";
@import "mo/icons";
@import "mo/content";
