@import "defaults";

$LINK_WEIGHT:                       normal;

$INFO_BG_COLOR:                     transparent;
$INFO_BORDER_COLOR:                 #0000FF;
$SUCCESS_BG_COLOR:                  transparent;
$SUCCESS_BORDER_COLOR:              #00C000;
$WARNING_BG_COLOR:                  transparent;
$WARNING_BORDER_COLOR:              #FFFF00;
$DANGER_BG_COLOR:                   transparent;
$DANGER_BORDER_COLOR:               #FF0000;

$BANNER_BORDER_RADIUS:              0px;
$ALERT_BORDER_RADIUS:               0px;

$LOGO_BORDER_WIDTH:                 2px;
$LEFT_BAR_BORDER_WIDTH:             2px;
$LEFT_BAR_BORDER_RADIUS:            0px;
$LEFT_BAR_ITEM_BORDER_WIDTH:        0px;
$TOP_BAR_BORDER_WIDTH:              0px;
