/*
campestris { cap-color: #f6f0f2; }
cupreobrunneus { gill-color: #3b2821; }
brasiliensis { gill-color: #a06463; dark-gill: #743931; }
semotus { cap-color: #bc9d89; }
augustus { cap-color: #eccf95; }
xanthodermus { stain-color: #d4a833; }
lilaceps { stain-color: #b4725f; }
*/

/*System Wide Colors*/
#content .list-group-item {
    background-color: #f6f0f2 !important;/* campestris */
    color: #3b2821; /* cupreobrunneus */
}

a {
    color: #a06463;
!important;
}

/* brasiliensis */
a:visited {
    color: #3b2821;
!important;
}

/* cupreobrunneus */
a:hover {
    color: #743931;
!important; /* brasiliensis */
    background-color: #f6f0f2;
!important; /* campestris */
}

/* cupreobrunneus */
img {
    border-color: #3b2821;
}

/* cupreobrunneus */
a img:hover {
    border-color: #743931;
}


/*navigation*/

.navbar {
    background-color: #f6f0f2 !important;/* campestris */
}

#navigation a.list-group-item,
#navigation div.list-group-item {
    background-color: #ECCF95;
}

#navigation .list-group-item.disabled  {
    background-color: #BC9D89;
    color: white;
}



/*Banner Color*/
#banner {
    background-color: #bc9d89 !important; /* semotus */
}

#banner a {
    color: #3b2821; /* cupreobrunneus */
}

#banner a:visited {
    color: #3b2821; /* cupreobrunneus */
}


/*navbar navbar-default*/

/*Default Button Color*/

/*pagination color*/

.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span,
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    color: #A06463 !important;
}

.pager
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #d4a833;
    border-color: #d4a833;
}

/*vote meter*/

.vote-meter-bar {
    background-color: #B4725F;
}