<p class="push-down">
  <b><%= :glossary_term_name.t %>:</b> <%= @glossary_term.name.t %>
</p>

<p class="push-down">
  <%= "*#{:glossary_term_description.t}:* #{@glossary_term.description}".tpl %>
</p>

<% if @glossary_term&.thumb_image_id&.nonzero? %>
  <p class="push-down">
    <%= thumbnail(@glossary_term.thumb_image_id, votes: false) %>
  </p>
<% end %>
