<%
  @title = :edit_glossary_term_title.t(name: @glossary_term.name)

  tabs = [
    link_to(:cancel_and_show.t(type: :glossary_term),
            glossary_term_path(@glossary_term.id)),
    link_to(:glossary_term_index.t, glossary_terms_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="form-max-width mt-4">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= render partial: "form",
             locals: { button_name: :edit_glossary_term_save, action: :edit } %>
</div>
