<%
@title = :glossary_term_index_title.t

tabs = User.current ? [
  link_to(:create_glossary_term.t, new_glossary_term_path)
] : []
@tabsets = { right: draw_tab_set(tabs) }
@container = :text_image
%>

<%=
  tag.div(
    link_to(:glossary_term_index_documentation.tp,
    "https://github.com/MushroomObserver/mushroom-observer/blob/main/doc/glossary.md"),
    class: "container-text"
  )
%>
<%= paginate_block(@pages) do %>
  <div class="list-group">
    <%= render(partial: "object", collection: @objects) %>
  </div>
<% end %>
