<%
  @title = :show_past_glossary_term_title.t(
    num: @glossary_term.version,
    name: @glossary_term.name
  )

  tabs = [
    link_to(:show_glossary_term.t(glossary_term: @glossary_term.name),
            glossary_term_path(@glossary_term.id))
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-8">
    <%= render "glossary_term", synonyms: false %>
  </div>
  <div class="col-4">
    <%= show_past_versions(@glossary_term) %>
  </div>
  <div class="col-12">
    <%= show_object_footer(@glossary_term) %>
  </div>
</div>
