From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: rolf@collectivesource.com
Subject: [MO] Herbarium Record Added to The New York Botanical Garden
<html>
<head>
<title>Mushroom Observer: Herbarium Record Added to The New York Botanical Garden</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Herbarium Record Added By Non-Curator</strong></h2>
<p>The user, rolf, added the herbarium record, Cortinarius sp.: 1234, to the herbarium, The New York Botanical Garden, which you curate.</p></div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Show this herbarium record: <a href="http://mushroomobserver.org/herbarium_record/show_herbarium_record/<%= ActiveRecord::FixtureSet.identify(:interesting_unknown) %>">http://mushroomobserver.org/herbarium_record/show_herbarium_record/<%= ActiveRecord::FixtureSet.identify(:interesting_unknown) %></a></li>
<li>Show this herbarium: <a href="http://mushroomobserver.org/herbarium/show_herbarium/<%= ActiveRecord::FixtureSet.identify(:nybg_herbarium) %>">http://mushroomobserver.org/herbarium/show_herbarium/<%= ActiveRecord::FixtureSet.identify(:nybg_herbarium) %></a></li>
<li>Show user&#8217;s profile: <a href="http://mushroomobserver.org/user/show_user/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/user/show_user/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
</ul>
<br/>
</body>
</html>
