From: news@mushroomobserver.org
Reply-To: katrina@collectivesource.com
To: rolf@collectivesource.com
Subject: [MO] Please do something or other
<html>
<head>
<title>Mushroom Observer: Please do something or other</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Admin Request</strong></h2>
<p>Katrina (katrina&#64;collectivesource.com) asked the Mushroom Observer website to forward the following request to you regarding <span class="caps">EOL</span> Project:</p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>and this is why&#8230;</p></div>
</div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Change user&#8217;s status: <a href="http://mushroomobserver.org/project/change_user_status/<%= ActiveRecord::FixtureSet.identify(:eol_project) %>?candidate=<%= ActiveRecord::FixtureSet.identify(:katrina) %>">http://mushroomobserver.org/project/change_user_status/<%= ActiveRecord::FixtureSet.identify(:eol_project) %>?candidate=<%= ActiveRecord::FixtureSet.identify(:katrina) %></a></li>
<li>Show user&#8217;s profile: <a href="http://mushroomobserver.org/observer/show_user/<%= ActiveRecord::FixtureSet.identify(:katrina) %>">http://mushroomobserver.org/observer/show_user/<%= ActiveRecord::FixtureSet.identify(:katrina) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<div class="textile"><p>If you feel this user is abusing this service please forward this entire email message to: webmaster&#64;mushroomobserver.org</p></div>
<br/>
</body>
</html>
