From: news@mushroomobserver.org
Reply-To: rolf@collectivesource.com
To: mary@collectivesource.com
Subject: [MO] Comment About Fungi (<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>)
<html>
<head>
<title>Mushroom Observer: Comment About Fungi (<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>)</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Comment on Your Observation</strong></h2>
<p>The following comment was posted on the Mushroom Observer website regarding your observation <u><b><i>Fungi</i></b> (<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>)</u>:</p></div>
<div class="textile"><p><strong>Created:</strong> 2006-03-02 16:14:00 <span class="caps">EST</span> (-0500)<br />
<strong>By:</strong> Rolf Singer (rolf)<br />
<strong>Summary:</strong> A comment on minimal unknown<br />
<strong>Comment:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Wow!  That&#8217;s really cool</p></div>
</div>
<div class="textile"><p>It is entirely up to you whether you want to reply to Rolf Singer (rolf&#64;collectivesource.com) by replying directly to this email.<br />
Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="http://mushroomobserver.org/observer/show_observation/<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>">http://mushroomobserver.org/observer/show_observation/<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %></a></li>
<li>Post a comment: <a href="http://mushroomobserver.org/comment/add_comment?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation">http://mushroomobserver.org/comment/add_comment?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation</a></li>
<li>I&#8217;m not interested in this observation: <a href="http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=-1">http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=-1</a></li>
<li>Stop sending me email like this: <a href="http://mushroomobserver.org/account/no_email_comments_owner/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/account/no_email_comments_owner/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
<li>Change your preferences: <a href="http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<div class="textile"><p>If you feel this user is abusing this service please forward this entire email message to: webmaster&#64;mushroomobserver.org</p></div>
<br/>
</body>
</html>
