From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: rolf@collectivesource.com
Subject: [MO] Comment About Fungi (<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>)
<html>
<head>
<title>Mushroom Observer: Comment About Fungi (<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>)</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Comment Response</strong></h2>
<p>The following comment was posted on the Mushroom Observer website in response to your comment regarding the observation <u><b><i>Fungi</i></b> (<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>)</u>:</p></div>
<div class="textile"><p><strong>Created:</strong> 2006-03-02 16:16:00 <span class="caps">EST</span> (-0500)<br />
<strong>By:</strong> Tricky Dick (dick)<br />
<strong>Summary:</strong> Let&#8217;s <em>try</em> a more &#8220;complicated&#8221; comment.<br />
<strong>Comment:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>With <em>Agaricus campestris</em> links and <strong>boldface</strong> and<br />
4&#215;4 other weird&#8482; !image 2! stuff.</p>
<p>Just to test html_to_ascii&#8230;  -A&amp;P</p></div>
</div>
<div class="textile"><p><strong>Please do not reply to this email!</strong> Use the link below to respond via your own public comment.<br />
Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="http://mushroomobserver.org/observer/show_observation/<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>">http://mushroomobserver.org/observer/show_observation/<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %></a></li>
<li>Post a comment: <a href="http://mushroomobserver.org/comment/add_comment?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation">http://mushroomobserver.org/comment/add_comment?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation</a></li>
<li>I&#8217;m not interested in this observation: <a href="http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:rolf) %>&amp;state=-1">http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:minimal_unknown_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:rolf) %>&amp;state=-1</a></li>
<li>Stop sending me email like this: <a href="http://mushroomobserver.org/account/no_email_comments_response/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">http://mushroomobserver.org/account/no_email_comments_response/<%= ActiveRecord::FixtureSet.identify(:rolf) %></a></li>
<li>Change your preferences: <a href="http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:rolf) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<div class="textile"><p>If you feel this user is abusing this service please forward this entire email message to: webmaster&#64;mushroomobserver.org</p></div>
<br/>
</body>
</html>
