From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: rolf@collectivesource.com
Subject: [MO] New Mushroom Observer Features
<html>
<head>
<title>Mushroom Observer: New Mushroom Observer Features</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>New Features</strong></h2>
<p>The following new features have been released at the Mushroom Observer website:</p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>A feature</p></div>
</div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Stop sending me email like this: <a href="http://mushroomobserver.org/account/no_email_general_feature/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">http://mushroomobserver.org/account/no_email_general_feature/<%= ActiveRecord::FixtureSet.identify(:rolf) %></a></li>
<li>Change your preferences: <a href="http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:rolf) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<br/>
</body>
</html>
