From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: mary@collectivesource.com
Subject: [MO] Albion, California, USA Has Been Changed
<html>
<head>
<title>Mushroom Observer: Albion, California, USA Has Been Changed</titl=
e>
</head>
<body topmargin=3D0 leftmargin=3D0 rightmargin=3D0 bottommargin=3D0><br/>=
<div class=3D"textile"><h2><strong>Location was Changed</strong></h2>
<p>There were change(s) made to the location <u>Albion, California, <span=
class=3D"caps">USA</span> (<%= ActiveRecord::FixtureSet.identify(:albion) %>)</u>:</p></div>
<div class=3D"textile"><p><strong>Time:</strong> 2007-12-27 01:41:20 <spa=
n class=3D"caps">EST</span> (-0500)<br />
<strong>By:</strong> Tricky Dick (dick)</p></div>
<div class=3D"textile"><p><strong>North edge changed to:</strong> 39.32<b=
r />
<strong>South edge changed to:</strong> 39.21<br />
<strong>East edge changed to:</strong> -123.74<br />
<strong>West edge changed to:</strong> -123.82</p></div>
<div class=3D"textile"><p><strong>Notes changed to:</strong></p></div>
<div style=3D'margin-left:20px; margin-right:20px; padding-left:20px; p=
adding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dott=
ed; background:#E0E0E0; color:#000000;'>
<div class=3D"textile"><p>Here are some new =E2=80=98notes=E2=80=99 t=
o play with.</p></div>
</div>
<div class=3D"textile"><p>Here are some handy links:</p></div>
<ul type=3Dnone>
<li>Show this location: <a href=3D"http://mushroomobserver.org/locati=
on/show_location/<%= ActiveRecord::FixtureSet.identify(:albion) %>">http://mushroomobserver.org/location/show_loc=
ation/<%= ActiveRecord::FixtureSet.identify(:albion) %></a></li>
<li>I&#8217;m not interested in this location: <a href=3D"http://mush=
roomobserver.org/interest/set_interest?id=3D<%= ActiveRecord::FixtureSet.identify(:albion) %>&amp;type=3DLocation=
&amp;user=3D<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=3D-1">http://mushroomobserver.org/interes=
t/set_interest?id=3D<%= ActiveRecord::FixtureSet.identify(:albion) %>&amp;type=3DLocation&amp;user=3D<%= ActiveRecord::FixtureSet.identify(:mary) %>&am=
p;state=3D-1</a></li>
<li>Change your preferences: <a href=3D"http://mushroomobserver.org/a=
ccount/prefs/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/account/prefs/3657900=
11</a></li>
<li>Latest changes at Mushroom Observer: <a href=3D"http://mushroomob=
server.org">http://mushroomobserver.org</a></li>
</ul>
<br/>
</body>
</html>
