From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: rolf@collectivesource.com
Subject: [MO] Observation #<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %> May Be Agaricus campestris L.
<html>
<head>
<title>Mushroom Observer: Observation #<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %> May Be Agaricus campestris L.</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Name Proposal</strong></h2>
<p>A name was proposed for observation #<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>:</p></div>
<div class="textile"><p><strong>Name:</strong> <b><i>Agaricus campestris</i></b> L.<br />
<strong>Time:</strong> 2007-02-28 15:20:00 <span class="caps">EST</span> (-0500)<br />
<strong>By:</strong> Mary Newbie (mary)<br />
<strong>Recognized by sight</strong><br />
<strong>Used references:</strong> I asked <strong>Uncle Herb</strong></p></div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>">http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %></a></li>
<li>I&#8217;m not interested in this observation: <a href="http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:rolf) %>&amp;state=-1">http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:rolf) %>&amp;state=-1</a></li>
<li>Stop sending me email like this: <a href="http://mushroomobserver.org/account/no_email_observations_naming/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">http://mushroomobserver.org/account/no_email_observations_naming/<%= ActiveRecord::FixtureSet.identify(:rolf) %></a></li>
<li>Change your preferences: <a href="http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:rolf) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<br/>
</body>
</html>
