From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: mary@collectivesource.com
Subject: [MO] Petigera Has Been Changed
<html>
<head>
<title>Mushroom Observer: Petigera Has Been Changed</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Name was Changed</strong></h2>
<p>There were change(s) made to the name <u><i>Petigera</i> (<%= ActiveRecord::FixtureSet.identify(:peltigera) %>)</u>:</p></div>
<div class="textile"><p><strong>Time:</strong> IGNORE<br />
<strong>By:</strong> Tricky Dick (dick)</p></div>
<div class="textile"><p><strong>Name changed to:</strong> Peltigera<br />
<strong>Author changed to:</strong> (Old) New Auth.<br />
<strong>Citation changed to:</strong> Ye Auld Manual of Lichenes, 1800.<br />
<strong>Rank changed to:</strong> Genus<br />
<strong>License changed to:</strong> Creative Commons Non-commercial v3.0<br />
<strong>Reviewed changed to:</strong> Approved<br />
<strong>Status changed to:</strong> Accepted</p></div>
<div class="textile"><p><strong>Taxonomic Classification changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Kingdom: <em>Fungi</em><br />
Phylum: <em>Ascomycota</em><br />
Class: <em>Ascomycetes</em><br />
Order: <em>Lecanorales</em><br />
Family: <em>Peltigeraceae</em></p></div>
</div>
<div class="textile"><p><strong>General Description changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Broad leafy lichens with soft, felty undersurface, generally with conspicuous veins and rhizines.</p></div>
</div>
<div class="textile"><p><strong>Diagnostic Description changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Large foliose lichens with either green algae or cyanobacterial photopartners; apothecia on the upper surface of the lobes; soredia, isidia, and/or lobules often present; undersurface ecorticate, often with raised veins and rhizines; upper surface smooth to often tomentose.</p></div>
</div>
<div class="textile"><p><strong>Distribution changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Cosmopolitan.</p></div>
</div>
<div class="textile"><p><strong>Habitat changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Mostly found growing with or over mosses, on soil, base of tree trunks, logs and rocks, rarely on trees or limbs.</p></div>
</div>
<div class="textile"><p><strong>Look Alikes changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Other felt lichens such as <em>Lobaria</em>, <em>Pseudocyphellaria</em>, <em>Sticta</em> and <em>Nephroma</em> look superficially similar but never have well-developed veins or rhizines underneath.</p></div>
</div>
<div class="textile"><p><strong>Uses changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Good for making birds nests&#8230; if you&#8217;re a bird.</p></div>
</div>
<div class="textile"><p>You received this email because you are an author of a description of the changed name.<br />
Here are some handy links:</p></div>
<ul type=none>
<li>Show this name: <a href="http://mushroomobserver.org/names/show_name/<%= ActiveRecord::FixtureSet.identify(:peltigera) %>">http://mushroomobserver.org/names/show_name/<%= ActiveRecord::FixtureSet.identify(:peltigera) %></a></li>
<li>I&#8217;m not interested in this name: <a href="http://mushroomobserver.org/interests/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:peltigera) %>&amp;type=Name&amp;user=<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=-1">http://mushroomobserver.org/interests/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:peltigera) %>&amp;type=Name&amp;user=<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=-1</a></li>
<li>Stop sending me email like this: <a href="http://mushroomobserver.org/account/no_email_names_author/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/account/no_email_names_author/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
<li>Change your preferences: <a href="http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<br/>
</body>
</html>
