From: news@mushroomobserver.org
Reply-To: mary@collectivesource.com
To: rolf@collectivesource.com
Subject: [MO] Research Request
<html>
<head>
<title>Mushroom Observer: Research Request</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Research Request</strong></h2>
<p>Mary Newbie (mary&#64;collectivesource.com) asked the Mushroom Observer website to forward the following message to you about your observation <u><b><i>Agaricus campestris</i></b> L. (<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %>)</u>:</p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>A note about <a href="http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %>">http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %></a> for rolf. Please send to 123 Some Pl., Pasadena, CA 91106.</p></div>
</div>
<div class="textile"><p>It is entirely up to you whether you want to reply to Mary Newbie (mary&#64;collectivesource.com) by replying directly to this email.<br />
Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="http://mushroomobserver.org/observations/show_observation/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %>">http://mushroomobserver.org/observations/show_observation/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<div class="textile"><p>WARNING: We&#8217;ve heard that some people have mis-used this notification feature in the past, claiming it&#8217;s for research but not using specimens for that purpose. You may want to take a moment to look at their user profile on MO and perhaps google them to verify that they are actually active mycologists before going to the effort of packaging and sending them any specimens.</p></div>
<div class="textile"><p>If you feel this user is abusing this service please forward this entire email message to: webmaster&#64;mushroomobserver.org</p></div>
<br/>
</body>
</html>
