From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: mary@collectivesource.com
Subject: [MO] Naming Notification - <%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %>: Agaricus campestris L.
<html>
<head>
<title>Mushroom Observer: Naming Notification - <%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %>: Agaricus campestris L.</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Tracking Alert</strong></h2>
<p>An <a href="http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %>">observation</a> on the Mushroom Observer website has been given the name <a href="http://mushroomobserver.org/names/show_name/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris) %>"><b><i>Agaricus campestris</i></b> L.</a>, which you are currently tracking.  You can contact either the observer or the identifier by going to the appropriate link below and clicking the email link near the top of the page.</p></div>
<div class="textile"><p><strong>Observer:</strong> <a href="http://mushroomobserver.org/users/show_user/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">Rolf Singer</a><br />
<strong>Identifier:</strong> <a href="http://mushroomobserver.org/users/show_user/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">Rolf Singer</a><br />
<strong>No specimen available</strong><br />
<strong>Image count:</strong> 1</p></div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %>">http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris_obs) %></a></li>
<li>Show observer&#8217;s profile: <a href="http://mushroomobserver.org/users/show_user/<%= ActiveRecord::FixtureSet.identify(:rolf) %>">http://mushroomobserver.org/users/show_user/<%= ActiveRecord::FixtureSet.identify(:rolf) %></a></li>
<li>Disable tracking for this name: <a href="http://mushroomobserver.org/names/email_tracking/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris) %>">http://mushroomobserver.org/names/email_tracking/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris) %></a></li>
<li>Review your notifications: <a href="http://mushroomobserver.org/interests/list_interests">http://mushroomobserver.org/interests/list_interests</a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<div class="textile"><p>If you feel this user is abusing this service please forward this entire email message to: webmaster&#64;mushroomobserver.org</p></div>
<br/>
</body>
</html>
