From: news@mushroomobserver.org
Reply-To: rolf@collectivesource.com
To: mary@collectivesource.com
Subject: [MO] Question About Fungi (<%= ActiveRecord::FixtureSet.identify(:detailed_unknown_obs) %>)
<html>
<head>
<title>Mushroom Observer: Question About Fungi (<%= ActiveRecord::FixtureSet.identify(:detailed_unknown_obs) %>)</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Question from Another User</strong></h2>
<p>Rolf Singer (rolf&#64;collectivesource.com) asked the Mushroom Observer website to forward the following question to you about your observation <u>Fungi (<%= ActiveRecord::FixtureSet.identify(:detailed_unknown_obs) %>)</u>:</p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Where did you find it?</p></div>
</div>
<div class="textile"><p>It is entirely up to you whether you want to reply to Rolf Singer (rolf&#64;collectivesource.com) by replying directly to this email.<br />
Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:detailed_unknown_obs) %>">http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:detailed_unknown_obs) %></a></li>
<li>Stop sending me email like this: <a href="http://mushroomobserver.org/account/no_email_general_question/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/account/no_email_general_question/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
<li>Change your preferences: <a href="http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/account/prefs/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<div class="textile"><p>If you feel this user is abusing this service please forward this entire email message to: webmaster&#64;mushroomobserver.org</p></div>
<br/>
</body>
</html>
