From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: mary@collectivesource.com
Subject: [MO] Observation Changed, Coprinus comatus (O.F. Mull.) Pers.
(<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>)
<html>
<head>
<title>Mushroom Observer: Observation Changed, Coprinus comatus (O.F. Mull.) Pers. (<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>)</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Observation was Changed</strong></h2>
<p>There were change(s) made to the observation <u><b><i>Coprinus comatus</i></b> (O.F. Mull.) Pers. (<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>)</u>:</p></div>
<div class="textile"><p><strong>Time:</strong> 2007-02-27 15:20:00 EST (-0500)<br />
<strong>By:</strong> Tricky Dick (dick)</p></div>
<div class="textile"><p><strong>Date changed to:</strong> 2007-02-27<br />
<strong>Location changed to:</strong> Glendale, California<br />
<strong>Specimen is now available.</strong><br />
<strong>Specimen <em>was</em> collected at this location.</strong><br />
<strong>Changed thumbnail.</strong><br />
<strong>Added image(s).</strong><br />
<strong>Removed image(s).</strong><br />
<strong>Notes changed to:</strong></p></div>
<div style='margin-left:20px; margin-right:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; border:1px dotted; background:#E0E0E0; color:#000000;'>
<div class="textile"><p>Second fruiting in bark chips</p></div>
</div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Show this observation: <a href="http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>">http://mushroomobserver.org/<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %></a></li>
<li>Post a comment: <a href="http://mushroomobserver.org/comment/add_comment?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation">http://mushroomobserver.org/comment/add_comment?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation</a></li>
<li>I&#8217;m not interested in this observation: <a href="http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=-1">http://mushroomobserver.org/interest/set_interest?id=<%= ActiveRecord::FixtureSet.identify(:coprinus_comatus_obs) %>&amp;type=Observation&amp;user=<%= ActiveRecord::FixtureSet.identify(:mary) %>&amp;state=-1</a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<br/>
</body>
</html>
