From: news@mushroomobserver.org
Reply-To: no-reply@mushroomobserver.org
To: rolf@collectivesource.com
Subject: [MO] Name Published
<html>
<head>
<title>Mushroom Observer: Name Published</title>
</head>
<body topmargin=0 leftmargin=0 rightmargin=0 bottommargin=0><br/>
<div class="textile"><h2><strong>Draft of Name Has Been Published</strong></h2>
<p>A description of a name has been published on the Mushroom Observer website. You are receiving this email since you are listed as either an author for this taxon or as a reviewer on the site.</p></div>
<div class="textile"><p><strong>Name:</strong> <b><i>Agaricus campestris</i></b> L.<br />
<strong>Published by:</strong> Mary Newbie (mary)</p></div>
<div class="textile"><p>Here are some handy links:</p></div>
<ul type=none>
<li>Show this name: <a href="http://mushroomobserver.org/names/show_name/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris) %>">http://mushroomobserver.org/names/show_name/<%= ActiveRecord::FixtureSet.identify(:agaricus_campestris) %></a></li>
<li>Send email to the publisher: <a href="http://mushroomobserver.org/users/show_user/<%= ActiveRecord::FixtureSet.identify(:mary) %>">http://mushroomobserver.org/users/show_user/<%= ActiveRecord::FixtureSet.identify(:mary) %></a></li>
<li>Latest changes at Mushroom Observer: <a href="http://mushroomobserver.org">http://mushroomobserver.org</a></li>
</ul>
<br/>
</body>
</html>
