<% unless browser.bot?%>
  <div class="list-group-item pl-3 overflow-visible">
    <div class="dropdown">
      <%= content_tag(:span, "#{:app_languages.t}:") %>
      <a href="#" id="language_dropdown_toggle" class="dropdown-toggle"
         data-toggle="dropdown" role="button" aria-expanded="false">
        <%= image_tag("/flags/flag-#{I18n.locale.downcase}.png",
                      class: "lang-flag") %>
      </a>
      <ul id="language_dropdown_menu" class="dropdown-menu" role="menu">
        <% Language.where.not(beta: true).order(:order).each do |lang| %>
          <li class="dropdown-item"><%= link_to(
            image_tag("/flags/flag-#{lang.locale}.png", class: "lang-flag") +
                      "&nbsp;".html_safe + h(lang.name),
            reload_with_args(user_locale: lang.locale),
            { class: "lang-dropdown-link", id: "lang_drop_#{lang.locale}_link",
              data: { locale: lang.locale } }) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
