<%
add_page_title(link_to_object(@project).t + ", " + :violations_index_title.t)
@container = :wide
# TODO:
# list of Obss with checkboxes
# buttons to remove checked Obss, remove all listed Obss
%>

<div id="violations">
  <% rows = []
      @violations.each do |obs|
        rows << ["",
                 obs.when, obs.lat, obs.long, obs.where,
                 link_to_object(obs, obs.text_name) + " (#{obs.id})",
                 obs.user.name]
      end
  %>

  <%=
    make_table(
      headers: [
        "#{:CONSTRAINTS.l}:",
        "#{:DATES.l}: #{@project.date_range}",
        "Lat: #{@project.location.north} to #{@project.location.south}",
        "Lon: #{@project.location.west} to #{@project.location.east} ",
        "#{:WHERE.l}: #{@project.location.name}",
        "", ""],
      rows: rows
    )
  %>
</div>
