<%
  add_page_title( :violations_index_title.t)
  @container = :wide
%>

<h4 class="pb-3">
  <%= :PROJECT.l + ": " + link_to_object(@project).t %>
<h4>

<%=
  form_with(
    model: @project, url: project_violations_url, method: :post
  ) do |form| %>
    <div id="violations">
      <%=
        make_table(
          headers: violation_headers(@project),
          rows: violation_rows(
            form: form, project: @project, violations: @violations
          )
        )
      %>
    </div>
    <%= form.submit %>
  <% end %>
