<%
  add_page_title(link_to_object(@project).t + ", " + :violations_index_title.t)
  @container = :wide
%>

<div id="violations">
  <%=
    make_table(
      headers: violation_headers(@project),
      rows: violation_rows(@project, @violations)
    )
  %>
</div>
