<%
  add_page_title(link_to_object(@project).t + ", " + :violations_index_title.t)
  @container = :wide
%>

<div id="violations">
  <%=
    make_table(
      headers: [
        "#{:CONSTRAINTS.l}:",
        "#{:DATES.l}: #{@project.date_range}",
        "Lat: #{@project.location.north} to #{@project.location.south}",
        "Lon: #{@project.location.west} to #{@project.location.east} ",
        "#{:WHERE.l}: #{@project.location.name}",
        "", # consensus Name and Observation #
        "" # Observation user
      ],
      rows: violation_rows(@project, @violations)
    )
  %>
</div>
