<%# good image section of create_observation form %>

<div class="row my-4 good_image_<%= image.id %>">

  <!-- GOOD_IMAGE -->
  <div class="col-xs-1" style="max-width:30px">
    <%= f.radio_button(
      :thumb_image_id, image.id,
      { data: { action: "click->form-images#setHiddenThumbField" } }
    ) %>
  </div><!--.col-->

  <div class="col-xs-11 col-sm-3">
    <%= interactive_image(image, votes: false) %>
  </div><!--.col-->

  <div class="col-xs-12 col-sm-8">
    <% if check_permission(image) %>
      <%= render(partial: "observations/form/images/good_image_fields",
                 locals: { f: f, image: image })
      %>
    <% end # if check_permission %>
  </div><!--.col-->
  <!-- GOOD_IMAGE -->

</div><!--.row.form_image-->
