<div class="visible-xs d-print-none">
  <div class="p-0">
    <div class="float-left">
      <button type="button" class="btn btn-lg hamburger rounded-0 position-fixed zindex-dropdown" data-toggle="offcanvas">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-lg hamburger rounded-0 position-fixed zindex-sticky top-right" data-toggle="search" data-target="#search_bar_row">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</div>
