<!--SEARCH_BAR-->
<nav id="search_bar" class="navbar navbar-default hidden-xs hidden-print">

  <div class="container-fluid px-0">
    <% if controller.controller_name == "identify" %>
      <%= render(partial: "observations/identify/form_identify_filter") %>
    <% else ##user is logged in %>
      <%= render(partial: "application/search_bar/search_form") %>
    <% end %>

    <% if @user.nil? %>
      <%= render(partial: "application/search_bar/login") %>
    <% else ##user is logged in %>
      <%= render(partial: "application/search_bar/user_nav") %>
    <% end %>
  </div>

</nav>
<!--/SEARCH_BAR-->
