<% unless browser.bot?%>
  <div class="" style="overflow:visible">
    <div class="dropdown">
      <%= content_tag(:span, "#{:app_languages.t}:") %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <%= I18n.locale.upcase %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% for lang in Language.all.reject(&:beta).sort_by(&:order) %>
          <li><%= link_to(h(lang.name), reload_with_args(user_locale: lang.locale)) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
