<nav id="top_nav"
     class="navbar-nav navbar navbar-expand navbar-dark flex-column flex-md-row bg-primary px-0 row">

  <div class="col-md-3 col-xl-2 left-side-navbar">

    <a id="top_logo"
       href="<%= browser.bot? ? "/sitemap/index.html" : "/" %>"
       class="site-logo navbar-brand d-block mx-4">
      <div class="logo-wrap position-relative">
        <span class="sr-only" id="logo-text"><%= :app_banner.t %></span>
        <%= inline_svg_tag(
              "mo_logo.svg",
              class: 'position-absolute h-100 w-100',
              title: :app_title.l,
              preserve_aspect_ratio: 'xMaxYMax meet',
              aria: true,
              aria_hidden: true
            ) %>
      </div>
    </a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#search_navbar"
            aria-controls="search_navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>

  <div class="col-md-9 col-lg-10 right-side-content">

    <div class="collapse navbar-collapse d-flex flex-column flex-md-row justify-content-between" id="search_navbar">

      <%= render "application/context_navbar" %>

    </div>

  </div>

</nav>
