<%
  @title = :edit_collection_number_title.l(name: @collection_number.format_name)

  # tabs = []
  # if @back == "index"
  #   tabs << link_to(:edit_collection_number_back_to_index.t,
  #                   collection_numbers_index_collection_number_path(
  #                     q: get_query_param))
  # else
  #   tabs << link_to(:cancel_and_show.t(type: @back_object.type_tag),
  #                   object_path(@back_object, q: get_query_param))
  # end

  # @tabsets = { right: draw_tab_set(tabs) }

  @navbar = {} # reset
  @navbar[:title] = { title: :COLLECTION_NUMBERS.t,
                      url: collection_numbers_path }
  @navbar[:links] = []
  if @back == "index"
    @navbar[:links] << { title: :edit_collection_number_back_to_index.t,
              url: collection_numbers_path(q: get_query_param)) }
  else
    @navbar[:links] << { title: :cancel_and_show.t(type: @back_object.type_tag),
              url: object_path(@back_object, q: get_query_param) }
  end
%>

<div class="form-max-width mt-4">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <div class="row">
    <div class="col-12 col-sm-7 max-width-text">
      <%= render "collection_numbers/form", button: :SAVE %>
    </div>

    <div class="col-12 col-sm-5 max-width-text">
      <% @collection_number.observations.each do |obs| %>
        <%= render "shared/log_item", object: obs.rss_log %>
      <% end %>
    </div>
  </div>
</div>
