<%
  @title = :edit_collection_number_title.l(name: @collection_number.format_name)

  tabs = []
  if @back == "index"
    tabs << link_with_query(:edit_collection_number_back_to_index.t,
                            action: :index_collection_number)
  else
    tabs << link_to(:cancel_and_show.t(type: @back_object.type_tag),
                    object_path(@back_object), q: get_query_param)
  end

  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-12 col-sm-7 max-width-text">
    <%= render "form", button: :SAVE %>
  </div>

  <div class="col-12 col-sm-5 max-width-text">
    <% @collection_number.observations.each do |obs| %>
      <%= render "shared/log_item", locals: { object: obs.rss_log } %>
    <% end %>
  </div>
</div>
