<%
@container = :full
add_page_title(:create_collection_number_title.l)
add_tab_set(collection_number_form_new_links(obs: @observation))
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <%= render(partial: "form", locals: { action: :create, local: true }) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <%= render(partial: "shared/matrix_box",
                 locals: { object: @observation.rss_log || @observation }) %>
    </ul>
  </div>
</div><!--.row-->
