<%
add_show_title(
  :show_user_about.t(user: @show_user.unique_text_name), @show_user
)
add_pager_for(@show_user)
add_context_nav(user_show_tabs)
container_class(:full)
id = @show_user.id
name = @show_user.login
%>

<div class="row">

  <div class="col-xs-12 col-lg-5">
    <%= render(partial: "users/show/profile") %>
    <% if @show_user.contribution > 0 %>
      <%= render(partial: "users/show/user_stats", locals: { name: name }) %>
    <% end %>
  </div>

  <div class="col-xs-12 col-lg-7">
    <%= render(partial: "users/show/best_images", locals: { name: name }) %>
  </div>

</div>
<!--.row-->
