<%
  @title = :donate_title.l

  tabs = [
    link_to(:donors_tab.t, action: :donors)
  ]
  if is_in_admin_mode?
    tabs += [
	    link_to(:create_donation_tab.t, action: :create_donation),
	    link_to(:review_donations_tab.t, action: :review_donations)
    ]
  end
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= :donate_thanks.tp %>
  </div>
</div>
