<%
  @title = :donors_title.l

  # tabs = [
  #   link_to(:donate_tab.t, action: :donate)
  # ]
  # if in_admin_mode?
  #   tabs += [
	#     link_to(:create_donation_tab.t, action: :create_donation),
	#     link_to(:review_donations_tab.t, action: :review_donations)
  #   ]
  # end
  # @tabsets = { right: draw_tab_set(tabs) }

  @navbar[:title] = { title: :SUPPORT.t, url: support_donate_path }
  @navbar[:links] = [
    { title: :donors_tab.t, url: support_donors_path,
      icon: "fa-user-friends" }
  ]
  if in_admin_mode?
    @navbar[:links] << [
      { title: :create_donation_tab.t, url: support_create_donation_path,
        icon: "fa-donate" }
      { title: :review_donations_tab.t, url: support_review_donations_path,
        icon: "fa-clipboard-list" }
    ]
  end
%>

<div class="form-max-width">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <center>
    <table class="table-striped table-donors mt-3 mb-3">
      <% for donor in @donor_list %>
        <tr>
          <td>
            <%= donor["who"] %>
          </td>
        </tr>
      <% end %>
    </table>
  </center>
  <%= :donors_order.tp %>
</div>
