<%
  @title = :donors_title.l
  @navbar = donors_navbar
%>

<div class="form-max-width">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <center>
    <table class="table-striped table-donors mt-3 mb-3">
      <% @donor_list.each do |donor| %>
        <tr>
          <td>
            <%= donor["who"] %>
          </td>
        </tr>
      <% end %>
    </table>
  </center>
  <%= :donors_order.tp %>
</div>
