<%
  @title = :donors_title.l

  tabs = [
    link_to(:donate_tab.t, action: :donate)
  ]
  if in_admin_mode?
    tabs += [
	    link_to(:create_donation_tab.t, action: :create_donation),
	    link_to(:review_donations_tab.t, action: :review_donations)
    ]
  end
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <center>
    <table class="table-striped table-donors mt-3 mb-3">
      <% for donor in @donor_list %>
        <tr>
          <td>
            <%= donor["who"] %>
          </td>
        </tr>
      <% end %>
    </table>
  </center>
  <%= :donors_order.tp %>
</div>
