<%
  @title = :donors_title.l

  tabs = [
    link_to(:donate_tab.t, action: :donate)
  ]
  if in_admin_mode?
    tabs += [
	    link_to(:create_donation_tab.t, new_admin_donations_path),
	    link_to(:review_donations_tab.t, admin_review_donations_path)
    ]
  end
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="text-center">
  <table class="table-striped table-donors mt-3 mb-3">
    <% @donor_list.each do |donor| %>
      <tr>
        <td>
          <%= donor["who"] %>
        </td>
      </tr>
    <% end %>
  </table>
</div><!-- .text-center -->
<%= :donors_order.tp %>
