<%
add_page_title(:donors_title.l)

add_tab_set(support_donors_tabs)
%>

<div class="text-center">
  <table class="table-striped table-donors mt-3 mb-3">
    <% @donor_list.each do |donor| %>
      <tr>
        <td>
          <%= donor["who"] %>
        </td>
      </tr>
    <% end %>
  </table>
</div><!-- .text-center -->
<%= :donors_order.tp %>
