<%
  @title = :letter_title.l

  # tabs = [
  #   link_to(:donate_tab.t, action: :donate),
  #   link_to(:donors_tab.t, action: :donors)
  # ]
  # @tabsets = { right: draw_tab_set(tabs) }

  @navbar[:title] = { title: :SUPPORT.t, url: support_donate_path }
  @navbar[:links] = [
    { title: :donate_tab.t, url: support_donate_path,
      icon: "fa-helping-hands" }
    { title: :donors_tab.t, url: support_donors_path,
      icon: "fa-user-friends" }
  ]
%>

<div class="form-max-width">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= :letter_body.tp %>
</div>
