<%
  @title = :thanks_title.l

  # tabs = [
  #   link_to(:donate_tab.t, action: :donate),
  #   link_to(:donors_tab.t, action: :donors)
  # ]
  # @tabsets = { right: draw_tab_set(tabs) }
  @navbar = init_navbar(default_links)
%>

<div class="form-max-width">
  <%= tag.h1 @title.humanize, class: "display-1" %>
  <%= :thanks_note.tp %>
</div>
