<%
  @title = :thanks_title.l
  new_tab_set do
    add_tab(:donors_tab.t, :action => 'donors')
    if is_in_admin_mode?
	    add_tab(:create_donation_tab.t, :action => 'create_donation')
    end
  end
%>

<%
  javascript_include 'donate'
  javascript_include 'prototype'
%>

<%=
  javascript_tag "clearDonationCookies();"
%>

<p>
<%= :thanks_note.tp %>
</p>

<p>
  <%= @donation.who %><br/>
  <%= @donation.email %><br/>
  <%= @donation.amount %><br/>
  <%= @donation.anonymous %><br/>
</p>
