<%
  @title = :wrapup_2011_title.l
  new_tab_set do
    add_tab(:donate_tab.t, action: :donate)
    add_tab(:donors_tab.t, action: :donors)
  end
%>

<div class="row">
  <div class="col-xs-12 max-width-text">
    <%= :wrapup_2011_body.tp %>
  </div>
</div>
