<%
  @title = :wrapup_2011_title.l

  tabs = [
    link_to(:donate_tab.t, action: :donate),
    link_to(:donors_tab.t, action: :donors)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :wrapup_2011_body.tp %>
</div>
