<%
  @title = :wrapup_2012_title.l

  tabs = [
    link_to(:donate_tab.t, "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2TGUG7TNXYF7Q"),
    link_to(:donors_tab.t, action: :donors)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= :wrapup_2012_body.tp %>
</div>
