<div id="<%= dom_id field_slip %>">
  <p>
    <strong>Observation:</strong>
    <%= field_slip.observation_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= field_slip.project_id %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= field_slip.identifier %>
  </p>

</div>
