<h1><%= :field_slip_editing.t %></h1>

<%= render "form", field_slip: @field_slip %>

<br>

<div>
  <%= link_to :field_slip_show.t, @field_slip %> |
  <%= link_to :field_slip_index.t, field_slips_path %>
</div>
