<h1>Editing field slip</h1>

<%= render "form", field_slip: @field_slip %>

<br>

<div>
  <%= link_to "Show this field slip", @field_slip %> |
  <%= link_to "Back to field slips", field_slips_path %>
</div>
