<p class="alert alert-success"><%= notice %></p>

<h1>Field slips</h1>

<div id="field_slips">
  <% @field_slips.each do |field_slip| %>
    <%= render field_slip %>
    <p>
      <%= link_to :field_slip_show.t, field_slip %>
    </p>
  <% end %>
</div>

<%= link_to :field_slip_new.t, new_field_slip_path %>
