<%
  add_page_title(:FIELD_SLIPS.t)
  add_tab_set(field_slips_index_tabs)
%>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<div id="field_slips">
  <% @field_slips.each do |field_slip| %>
    <strong><%= :field_slip_code.t %>:</strong>
    <%= link_to(field_slip.code, field_slip,
                class: "field_slip_link_#{field_slip.id}") %>
    <%= render field_slip %>
    <hr/>
  <% end %>
</div>
