<%
  add_page_title(:FIELD_SLIPS.t)
  add_tab_set(field_slips_index_tabs)
%>

<% if notice %>
<%= tag.p(notice, class: "alert alert-success") %>
<% end %>

<%= paginate_block(@pages) do %>
<div class="list-group">
  <%= render(partial: "field_slips/object", collection: @objects) %>
</div>
<% end %>
