<%
  add_page_title("#{:FIELD_SLIP.t}: #{@field_slip.code}")
  add_tab_set(field_slip_show_tabs(@field_slip))
%>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<%= render @field_slip %>

<%= show_object_footer(@field_slip) %>
