<% can_delete = herbarium.curator?(@user) || in_admin_mode? %>

<table class="table-striped table-curators">
  <thead>
    <tr>
      <th colspan="<%= can_delete ? 2 : 1 %>">
        <%= "#{herbarium.curators.length == 1 ? :herbarium_curator.t : :herbarium_curators.t}:" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% herbarium.curators.each do |user| %>
      <tr>
        <% if can_delete %>
          <td>
             <%= destroy_button(
                   name: "X",
                   target: herbaria_curator_path(herbarium, user: user.id)
                 ) %>
          </td>
        <% end %>
        <td><%= user_link(user, user.legal_name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
