<%
  @title = :create_herbarium_title.l

  tabs = [
    link_with_query(:herbarium_index.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(add_query_param(action: :new, back: @back)) do %>
    <%= render(partial: "form", locals: {button: :CREATE}) %>
  <% end %>
</div>
