<%
  @title = :edit_herbarium_title.l

  tabs = [
    link_with_query(
      :cancel_and_show.t(type: :herbarium), herbarium_path(@herbarium)
    ),
    link_with_query(:herbarium_index.t, nonpersonal_herbaria_path)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(
        add_query_param(herbarium_path(@herbarium)),
        method: :patch, back: @back
      ) do %>
    <%= render(partial: "form", locals: { button: :SAVE }) %>
  <% end %>
</div>
