<%
  @title = :edit_herbarium_title.l

  tabs = [
    link_with_query(:cancel_and_show.t(type: :herbarium), @herbarium.show_link_args),
    link_with_query(:herbarium_index.t, action: :index_nonpersonal_herbaria)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_tag(add_query_param(
        action: :update, method: :patch, id: @herbarium, back: @back)
      ) do %>
    <%# Rails does not respect 'method: "patch"' in the line above %>
    <%= hidden_field_tag("_method", :patch) %>
  <% end %>
</div>
