<%
  @title = :edit_herbarium_title.l
  tabs = [
    link_to(:cancel_and_show.t(type: :herbarium),
            herbarium_path(q: get_query_param)),
    link_with_query(:herbarium_index.t, action: :index)
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= render partial: "form", locals: { button_name: :SAVE } %>
</div>
