<%
  @title ||= :edit_location_description_title.t(name: @description.format_name)

  tabs = [
    link_with_query(:show_object.t(type: :location),
                    @description.location.show_link_args),
    link_with_query(:cancel_and_show.t(type: :location_description),
                    @description.show_link_args)
  ]
  if @description.is_admin?(@user) || in_admin_mode?
    tabs << link_with_query(:show_description_adjust_permissions.t,
                            action: :adjust_permissions,
                            id: @description.id)
  end
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text">
  <%= form_for(:description, url: add_query_param(
         action: :edit_location_description,
         id: @description.id,
      )) do |form| %>
    <%= render(partial: "form_location_description",
               locals: { form: form, button: :UPDATE }) %>

    <% if @merge %>
      <%= hidden_field_tag(:old_desc_id, @old_desc_id) %>
      <%= hidden_field_tag(:delete_after, @delete_after) %>
    <% end %>
  <% end %>
</div>
