<%
  @title = :show_past_location_title.t(
    num: @location.version,
    name: @location.display_name
  )

  tabs = [
    link_to(:show_location.t(location: @location.display_name),
            location_path(@location.id))
  ]
  @tabsets = { right: draw_tab_set(tabs) }
%>

<div class="max-width-text-plus-padding">
  <%= show_past_versions(@location) %>
  <%= render "locations/location", object: @location %>
  <div class="mt-3">
    <%= show_object_footer(@location) %>
  </div>
</div>
