<%
  links = create_links(images_index_tabs(@query))
  if links.any?
    @tabsets = { right: draw_tab_set(links) }
  end

  @container = :full
  flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <ul class="row list-unstyled mt-3">
    <%= render(partial: "shared/matrix_box",
                layout: "shared/matrix_table",
                collection: @objects,
                as: :object) %>
    <div style="clear:left"></div>
  </ul>
<% end %>
