<%
@container = :full
add_tab_set(images_index_links(query: @query))
add_sorter(@query, images_sorting_links)

flash_error(@error) if @error && @objects.empty?
%>

<%= paginate_block(@pages) do %>
  <ul class="row list-unstyled mt-3">
    <%= render(partial: "shared/matrix_box",
                layout: "shared/matrix_table",
                collection: @objects,
                as: :object) %>
    <div style="clear:left"></div>
  </ul>
<% end %>
