<%
container_class(:double)
add_page_title(:users_by_contribution_title.t)
add_context_nav(contributors_index_tabs)
add_sorter(@query, users_index_sorts(admin: false))
add_pagination(@pagination_data)
%>

<div class="row my-3">
  <div class="col-md-8 col-lg-6">
    <%= render(partial: "contributors/legend") %>
  </div>
</div>
<!--.row-->

<%= paginated_results do %>
  <%= matrix_table(objects: @objects) %>
<% end %>
