<!--FLASH NOTICES-->
<div class="row hidden-print">
  <div class="col-xs-12 max-width-text">
    <%=
      klass = case flash_notice_level
        when 0; "alert-success"
        when 1; "alert-warning"
        when 2; "alert-danger"
      end
      content_tag(:div, flash_get_notices,
                  id: "flash_notices",
                  class: "alert mt-3 #{klass}")
    %>
  </div>
</div>
<!--/FLASH NOTICES-->
