<%# bs4 %>
<!--SEARCH_BAR-->
<nav id="search_bar"
     class="navbar navbar-light bg-secondary navbar-expand-md d-print-none">

  <div class="container-fluid px-0 justify-content-between">
    <div class="top-bar-left">
      <% if controller.controller_name == "identify" %>
        <%= render(partial: "observations/identify/form_identify_filter") %>
      <% else ##user is logged in %>
        <%= render(partial: "layouts/search_bar/search_form") %>
      <% end %>
    </div>

    <div class="top-bar-right">
      <% if @user.nil? %>
        <%= render(partial: "layouts/search_bar/login") %>
      <% else ##user is logged in %>
        <%= render(partial: "layouts/search_bar/user_nav") %>
      <% end %>
    </div>
  </div>

</nav>
<!--/SEARCH_BAR-->
