<% lang = Language.find_by_locale(I18n.locale) %>
<% if lang && (!lang.official || Language.tracking_usage) %>
  <div id="translators_credit">
    <hr/>
    <% if !lang.official %>
      <%= :app_translators_credit.t %>:
      <%=
        ids_and_names = lang.top_contributors(5)
        user_links = ids_and_names.map do |id, name|
          user_link(id, name)
        end.safe_join(', ')
        if ids_and_names.length == 5
          user_links += ', ' + :app_translators_credit_and_others.t
        end
        user_links
      %><br/>
    <% end %>
    <% if Language.tracking_usage %>
      <% file = Language.save_tags %>
      <%= link_to(:app_edit_translations_on_page.t,
                  translation_edit_translations_path(page: file)) %> |
      <%= link_to(:app_edit_translations.t,
                  translation_edit_translations_path) %>
    <% end %>
  </div>
<% end %>
