<html>
<head>
  <META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  <title>Mushroom Observer: <%= if @title.nil? then controller.action_name else @title end %></title>
  <%= css = nil
	if CSS.member?(controller.action_name)
		css = controller.action_name
	else
		unless @session['user'].nil?
        	css = @session['user'].theme
		end
	end
	unless CSS.member?(css)
		css = CSS[rand(CSS.length)]
	end
	stylesheet_link_tag 'general', css %>
</head>
<body>
	<div id="banner">
		<%= @page_title || "Mushroom Observer" %>
	</div>
    <div id="columns">
		<table>
			<tr>
				<td valign="top" height="100%">
					<table class="LeftSide" cellpadding="20" height="100%">
						<tr>
							<td valign="top">
								<%= link_to 'Introduction', :controller => 'observer',
								            :action => 'intro' %>
								<br/>
								<%= link_to 'News', :controller => 'observer',
								            :action => 'news' %>
								<br/><br/>
								Observations:<br/>
								&nbsp;&nbsp;<%= link_to 'New&nbsp;Observation', :controller => 'observer',
								            :action => 'new_observation' %>
								<br/>
								&nbsp;&nbsp;<%= link_to 'Most&nbsp;Recent', :controller => 'observer',
								                        :action => 'list_observations' %>
								<br/>
								&nbsp;&nbsp;<%= link_to 'By&nbsp;Name', :controller => 'observer',
								                        :action => 'observations_by_name' %>
								<br/><br/>
								Species&nbsp;Lists:<br/>
								&nbsp;&nbsp;<%= link_to 'New&nbsp;Species&nbsp;List', :controller => 'observer',
								            :action => 'new_species_list' %>
								<br/>
								&nbsp;&nbsp;<%= link_to 'Most&nbsp;Recent', :controller => 'observer',
								                        :action => 'list_species_lists' %>
								<br/>
								&nbsp;&nbsp;<%= link_to 'By&nbsp;Title', :controller => 'observer',
								                        :action => 'species_lists_by_title' %>
								<br/><br/>
								Images:<br/>
								&nbsp;&nbsp;<%= link_to 'Most&nbsp;Recent', :controller => 'observer',
								                        :action => 'list_images' %>
								<br/>
								&nbsp;&nbsp;<%= link_to 'By&nbsp;Title', :controller => 'observer',
								                        :action => 'images_by_title' %>
								<br/><br/>
								Comments:<br/>
								&nbsp;&nbsp;<%= link_to 'Most&nbsp;Recent', :controller => 'observer',
								                        :action => 'list_comments' %>
								<br/><br/>
								<% if @session['user'].nil? %>
								Account:<br/>
								&nbsp;&nbsp;<%= link_to 'Login', :controller => 'account',
								                        :action => 'login' %><br/>
								&nbsp;&nbsp;<%= link_to 'New&nbsp;Account', :controller => 'account',
														:action => 'signup' %>
								<% else %>
								Current&nbsp;user:<br/>
								&nbsp;&nbsp;<%= h(@session['user'].login) %><br/>
								&nbsp;&nbsp;<%= link_to 'Preferences', :controller => 'account',
								                        :action => 'prefs' %><br/>
								&nbsp;&nbsp;<%= link_to 'Logout', :controller => 'account',
								                        :action => 'logout' %>
								<% end %>
								<br/><br/>
								<div id="color_note">
									<%= link_to(sprintf('Colors from <i>%s</i>', css),
												:controller => 'observer', :action => 'color_themes') %><br/><br/>
									Powered by:<br/>
									<a href='http://www.rubyonrails.org'>Ruby&nbsp;on&nbsp;Rails</a><br/>
									Preferred browser:<br/>
									<a href='http://www.mozilla.com/firefox/'>FireFox</a>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td width=100% valign="top" class="main">
					<p><%= flash[:notice] %></p>
					<%= @content_for_layout %>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
