<html>
<head>
  <META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  <%= auto_discovery_link_tag(:rss , :controller => 'observer', :action  =>  'rss') %>
  <title>Mushroom Observer: <%= if @title.nil? then controller.action_name else @title end %></title>
  <%= css = nil
	if CSS.member?(controller.action_name)
		css = controller.action_name
	else
		unless session['user'].nil?
        	css = session['user'].theme
		end
	end
	unless CSS.member?(css)
		css = CSS[rand(CSS.length)]
	end
	stylesheet_link_tag 'general', css %>
	<link REL="SHORTCUT ICON" HREF=<%= sprintf('"%s/images/favicon.ico"', DOMAIN) %> />
</head>
<body>
	<div id="banner">
		<%= @page_title || "Mushroom Observer" %>
	</div>
    <div id="columns">
		<table>
			<tr>
				<td valign="top" height="100%">
					<table class="LeftSide" cellpadding="20" height="100%">
						<tr>
							<td valign="top">
								<%= link_to('Introduction', :controller => 'observer',
								            :action => 'intro') %>
								<br/>
								<%= link_to('How&nbsp;To&nbsp;Use',
								            :controller => 'observer',
								            :action => 'how_to_use') %>
								<br/>
            					<%= link_to('Send a Comment', :controller => 'observer',
            								:action => 'ask_webmaster_question') %>
            					
								<br/><br/>
								<%= link_to('News', :controller => 'observer',
								            :action => 'news') %>
								<br/>
								<%= link_to('Latest&nbsp;Changes',
								            :controller => 'observer',
								            :action => 'list_rss_logs') %>
            					<br/>
								<%= link_to('Index&nbsp;A->Z', :controller => 'observer',
								                          :action => 'name_index') %>
								<br/>
								<br/>
								Observations:<br/>
								&nbsp;&nbsp;<%= link_to('Create&nbsp;Observation',
								                        :controller => 'observer',
								                        :action => 'create_observation')
								                 %>
								<br/>
								&nbsp;&nbsp;<%= link_to('Sort&nbsp;by&nbsp;Date',
								                        :controller => 'observer',
								                        :action => 'list_observations') %>
								<br/>
								&nbsp;&nbsp;<%= link_to('Sort&nbsp;by&nbsp;Name',
								                        :controller => 'observer',
								                        :action => 'observations_by_name')
								                 %>
								<br/><br/>
								Species&nbsp;Lists:<br/>
								&nbsp;&nbsp;<%= link_to('Create&nbsp;List',
								                        :controller => 'observer',
								                        :action => 'create_species_list')
								                 %>
								<br/>
								&nbsp;&nbsp;<%= link_to('Sort&nbsp;by&nbsp;Date',
								                        :controller => 'observer',
								                        :action => 'list_species_lists')
								                 %>
								<br/>
								&nbsp;&nbsp;<%= link_to('Sort&nbsp;by&nbsp;Title',
								                        :controller => 'observer',
								                        :action => 'species_lists_by_title')
								                        %>
								<br/><br/>
								<%= link_to('Newest&nbsp;Images', :controller => 'observer',
								            :action => 'list_images') %>
								<br/>
								<%= link_to('Comments', :controller => 'observer',
								            :action => 'list_comments') %>
								<br/><br/>
								<% if session['user'].nil? %>
								Account:<br/>
								&nbsp;&nbsp;<%= link_to('Login', :controller => 'account',
								                        :action => 'login') %><br/>
								&nbsp;&nbsp;<%= link_to('Create&nbsp;Account',
								                        :controller => 'account',
														:action => 'signup') %>
								<% else %>
								Current&nbsp;user:<br/>
								&nbsp;&nbsp;<%= h(session['user'].login) %><br/>
								&nbsp;&nbsp;<%= link_to('Preferences',
								                        :controller => 'account',
								                        :action => 'prefs') %><br/>
								&nbsp;&nbsp;<a href="http://lists.mushroomobserver.org/listinfo.cgi/general-mushroomobserver.org">Join Mailing List</a><br/>
								&nbsp;&nbsp;<%= link_to('Logout',
								                        :controller => 'account',
								                        :action => 'logout_user') %>
									<% if session['user'].id == 0 %>
										<br/><br/>
										Admin:<br/>
										&nbsp;&nbsp;<%= link_to('Users',
										                        :controller => 'observer',
										                        :action => 'users_by_name') %><br/>
										&nbsp;&nbsp;<%= link_to('Email Features',
										                        :controller => 'observer',
										                        :action => 'email_features') %><br/>
									<% end %>
								<% end %>
								<br/><br/>
								
								<div id="color_note">
									<%= link_to(sprintf('Colors from <i>%s</i>', css),
												:controller => 'observer', :action => 'color_themes') %><br/><br/>
									Powered by:<br/>
									<a href='http://www.rubyonrails.org'>Ruby&nbsp;on&nbsp;Rails</a><br/>
									Preferred browser:<br/>
									<a href='http://www.mozilla.com/firefox/'>FireFox</a>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td width=100% valign="top" class="main">
            		<% form_tag(:action => 'pattern_search',
            		                   :controller => 'observer', :id => @comment) do %>
                      Find: <%= text_field("search", "pattern", :size => 10)%>
                      <%= submit_tag 'Observations' %>
                      <%= submit_tag 'Images' %>
                      <%= submit_tag 'Locations' %>
                    <% end -%>
                    <% if flash[:notice] %>
					  <%= flash[:notice] %><br/>
					<% end %>
					<%= @content_for_layout %>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
