<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <%= auto_discovery_link_tag(:rss, {:controller => 'observer', :action  =>  'rss'}, {:title => :app_rss.l}) %>
  <title><%= :app_title.l %>: <%= if @title.nil? then controller.action_name else @title.strip_html end %></title>
  <%= "<link rel=\"SHORTCUT ICON\" href=\"#{HTTP_DOMAIN}/favicon.ico\" />"%>

  <%= check_if_user_turned_javascript_on %>

  <%=
    css = nil
    if is_in_admin_mode?
      css = 'Admin'
    elsif is_robot?
      css = 'BlackOnWhite'
    else
      if CSS.member?(controller.action_name)
        css = controller.action_name
      else
        if @user.nil?
          css = 'BlackOnWhite'
        else
          css = @user.theme
        end
      end
      unless CSS.member?(css)
        css = CSS[rand(CSS.length)]
      end
    end
    stylesheet_link_tag('general.css?v=1', "#{css}.css?v=1")
  %>

  <%= sort_javascript_includes.map {|m| javascript_include_tag(m).sub(/\.js/,'.js?v=2')}.join('') %>

  <% if @header %>
    <%= @header %>
  <% end %>

</head>
<body>
  <% if is_in_admin_mode? %>
    <div class="Admin">
      DANGER: You are in administrator mode. Proceed with caution.
    </div>
  <% end %>
  <%
    banner = :app_donate_banner.t
    if banner != "" %>
    <div>
      <center class="MessageBanner">
        <%= banner %>
      </center>
    </div>
  <% end %>
  <div id="columns" style="height:100%">
    <table cellpadding="0" cellspacing="0" style="height:100%">
      <tr>

        <td valign="top">
          <table class="LeftSide" cellpadding="10" style='height:100%; white-space:nowrap'>
            <tr style="height:1px">
              <td id="banner">
                <%= link_to(@page_title || :app_banner.t, :controller => 'observer', :action => 'index') %>
              </td>
            </tr>
            <tr>
              <td valign="top" align="left">
                <%= link_to(:app_intro.t, :controller => 'observer', :action => 'intro') %><br/>
                <%= link_to(:app_how_to_use.t, :controller => 'observer', :action => 'how_to_use') %><br/>
                <%= link_to(:app_how_to_help.t, :controller => 'observer', :action => 'how_to_help') %><br/>
                <%= link_to(:app_donate.t, :controller => 'support', :action => 'donate') %><br/>
                <%= link_to(:app_feature_tracker.t, :controller => 'pivotal', :action => 'index') %><br/>
                <%= link_to(:app_send_a_comment.t, :controller => 'observer', :action => 'ask_webmaster_question') %><br/>
                <br/>

                <%= link_to(:app_index_a_z.t, :controller => 'name', :action => 'observation_index') %><br/>
                <%= link_to(:app_list_locations.t, :controller => 'location', :action => 'list_locations') %><br/>
                <%= link_to(:app_list_projects.t, :controller => 'project', :action => 'list_projects') %><br/>
                <br/>

                <%= :app_latest.t %>:<br/>
                <%= indent + link_to(:app_latest_changes.t, :controller => 'observer', :action => 'list_rss_logs') %><br/>
                <%= indent + link_to(:app_newest_images.t, :controller => 'image', :action => 'list_images') %><br/>
                <%= indent + link_to(:app_comments.t, :controller => 'comment', :action => 'list_comments') %><br/>
                <%= indent + link_to(:app_news.t, :controller => 'observer', :action => 'news') %><br/>
                <br/>

                <%= :app_observations_left.t %>:<br/>
                <%= indent + link_to(:app_create_observation.t, :controller => 'observer', :action => 'create_observation') %><br/>
                <%= indent + link_to(:app_sort_by_date_obs.t, :controller => 'observer', :action => 'list_observations') %><br/>
                <br/>

                <%= :app_species_list.t %>:<br/>
                <%= indent + link_to(:app_create_list.t, :controller => 'species_list', :action => 'name_lister') %><br/>
                <%= indent + link_to(:app_sort_by_date_spl.t, :controller => 'species_list', :action => 'list_species_lists') %><br/>
                <%= indent + link_to(:app_sort_by_title.t, :controller => 'species_list', :action => 'species_lists_by_title') %><br/>
                <br/>

                <% if @user.nil? %>
                  <%= :app_account.t %>:<br/>
                  <%= indent + link_to(:app_login.t, :controller => 'account', :action => 'login') %><br/>
                  <%= indent + link_to(:app_create_account.t, :controller => 'account', :action => 'signup') %><br/>
                <% else %>
                  <%= :app_current_user.t %>:<br/>
                  <%= indent + h(@user.login) %><br/>
                  <%= indent + link_to(:app_comments_for_you.t, :controller => 'comment', :action => 'show_comments_for_user', :id => @user.id) %><br/>
                  <%= indent + link_to(:app_your_observations.t, :controller => 'observer', :action => 'observations_by_user', :id => @user.id) %><br/>
                  <%= indent + link_to(:app_your_interests.t, :controller => 'interest', :action => 'list_interests') %><br/>
                  <%= indent + link_to(:app_your_summary.t, :controller => 'observer', :action => 'show_user', :id => @user.id) %><br/>
                  <%= indent + link_to(:app_preferences.t, :controller => 'account', :action => 'prefs') %><br/>
                  <%= indent + link_to(:app_join_mailing_list.t, 'http://lists.mushroomobserver.org/listinfo.cgi/general-mushroomobserver.org') %><br/>
                  <%= indent + link_to(:app_logout.t, :controller => 'account', :action => 'logout_user') %><br/>
                  <% if @user.admin %>
                    <br/>
                    <%= :app_admin.t %>:<br/>
                    <% if is_in_admin_mode? %>
                      <%= indent + link_to(:app_users.t, :controller => 'observer', :action => 'users_by_name') %><br/>
                      <%= indent + link_to(:app_email_all_users.t, :controller => 'observer', :action => 'email_features') %><br/>
                      <%= indent + link_to(:app_add_to_group.t, :controller => 'account', :action => 'add_user_to_group') %><br/>
                      <%= indent + link_to(:account_manager_title.t, :controller => 'account', :action => 'manager') %><br/>
                      <%= indent + link_to(:app_turn_admin_off.t, :controller => 'account', :action => 'turn_admin_off') %><br/>
                    <% else %>
                      <%= indent + link_to(:app_turn_admin_on.t, :controller => 'account', :action => 'turn_admin_on') %><br/>
                    <% end %>
                  <% end %>
                <% end %>
                <br/>

                <%= :app_languages.t %>:<br/>
                <% for locale in all_locales %>
                  <%= indent + link_to(locale.sub('-','_').to_sym.t, h(reload_with_args(:user_locale => locale))) %><br/>
                <% end %>
                <br/>

                <% if DEVELOPMENT || is_reviewer? %>
                  Layouts:<br/>
                  <% layouts = []
                    for file in Dir.glob("#{RAILS_ROOT}/app/views/layouts/*.rhtml")
                      layouts << $1 if file.match(/(\w+)\.rhtml/)
                    end
                    for layout in layouts.sort
                      layout2 = layout == 'application' ? 'old' : layout %>
                      <%= indent + link_to(layout2, h(reload_with_args(:layout => layout))) %><br/>
                  <% end %>
                  <br/>
                <% end %>

                <%= link_to(:app_contributors.t, :controller => 'observer', :action => 'users_by_contribution') %><br/>
                <%= link_to(:app_site_stats.t, :controller => 'observer', :action => 'show_site_stats') %><br/>
                <%= link_to(:translators_note_title.t, :controller => 'observer', :action => 'translators_note') %><br/>
                <br/>

                <div id="color_note">
                  <%= link_to(:app_colors_from.t(:theme => css.to_sym.l), :controller => 'observer', :action => 'color_themes') %><br/><br/>
                  <%= :app_powered_by.t %>:<br/>
                  <a href='http://www.rubyonrails.org'>Ruby&nbsp;on&nbsp;Rails</a><br/>
                  <%= :app_preferred_browser.t %>:<br/>
                  <a href='http://www.mozilla.com/firefox/'>FireFox</a>
                  <% if @invalid.nil? %>
                    <p>
                      <a href="http://validator.w3.org/check?uri=referer"><img
                          src="http://www.w3.org/Icons/valid-xhtml10"
                          alt="Valid XHTML 1.0 Transitional" height="31" width="88" border="0"/></a>
                    </p>
                  <% end %>
                </div>
              </td>
            </tr>
          </table>
        </td>

        <td width="100%" valign="top" class="main">
          <div style="padding:10px">

            <div id="search_bar">
              <% form_tag(:controller => 'observer', :action => 'pattern_search') do %>
                <b><%= :app_find.t %></b>:&nbsp;
                  <%= text_field(:search, :pattern, :size => 30,
                                 :value => session[:pattern])%>
                <%= options = [
                  [ :OBSERVATIONS.l, :observation ],
                  [ :IMAGES.l, :image ],
                  [ :NAMES.l, :name ],
                  [ :LOCATIONS.l, :location ],
                  [ :SPECIES_LISTS.l, :species_list ],
                  [ :COMMENTS.l, :comment ],
                  [ :USERS.l, :user ],
                  [ :PROJECTS.l, :project ],
                  [ :app_search_google.l, :google ],
                ]
                select(:search, :type, options,
                       :selected => session[:search_type] || :observation) %>
                <%= submit_tag :app_search.l %>&nbsp;&nbsp;
                <% if (DEVELOPMENT || is_reviewer?) && query_params != {} %>
                  <%= link_to(:app_refine_search.l.nowrap, :controller => 'observer',
                              :action => 'refine_search',
                              :params => query_params) %> |
                <% end %>
                <%= link_to(:app_advanced_search.l.nowrap, :controller => 'observer',
                            :action => 'advanced_search_form') %>
              <% end %>
            </div>

            <% if @timer_start %>
              <div id="timer">
                <%= @timer_end ||= Time.now
                secs = '%.2f' % (@timer_end.to_f - @timer_start.to_f)
                @timer_start = nil
                if @num_results
                  '(' + :app_index_timer.t(:seconds => secs,
                                           :num => @num_results.to_i) + ')'
                else
                  '(' + :app_timer.t(:seconds => secs) + ')'
                end %>
              </div>
            <% end %>

            <div id="flashes">
              <% if flash_notices? %>
                  <% boxify(flash_notice_level) do %>
                    <%= flash_get_notices.to_s.encode %>
                  <% end %>
              <% end
              flash_clear %>
            </div>

            <% if @right_tabs %>
              <div id="right_tabs">
                <%= @right_tabs.join('<br/>') %>
              </div>
            <% end %>

            <div id="left_tabs">
              <%= no_session = !session_working?
              no_javascript = !javascript_enabled? && session[:js_override] != :off
              no_ajax       = can_do_ajax? == false && javascript_enabled? && session[:js_override] != :on
              no_browser    = can_do_ajax? == nil   && javascript_enabled? && session[:js_override] != :on
              if no_session || no_javascript || no_ajax || no_browser
                new_tab_set do
                  add_tab(:app_no_session.t,    :controller => 'observer', :action => 'no_session')    if no_session
                  add_tab(:app_no_javascript.t, :controller => 'observer', :action => 'no_javascript') if no_javascript
                  add_tab(:app_no_ajax.t,       :controller => 'observer', :action => 'no_ajax')       if no_ajax
                  add_tab(:app_no_browser.t,    :controller => 'observer', :action => 'no_browser')    if no_browser
                end
              end
              render_tab_sets %>
            </div>

            <div id="Title"><%= @title %></div>

            <div class="TextContent">
              <%= @content_for_layout %>
            </div>
            
            <br/><br/><br/>
            <% if Locale.code.to_s != 'en-US' %>
              <div id="translators_credit">
                <hr width="250" align="left" />
                <%= :app_translators_credit.tpl %>
              </div>
            <% end %>
          </div>
        </td>

      </tr>
    </table>
  </div>

  <% if @javascripts && @javascripts.include?('cached_auto_complete') %>
    <div id="indicator" class="indicator" style="display:none">
      <%= image_tag('indicator.gif') %>
    </div>
  <% end %>

  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
    _uacct = "UA-1916187-1";
    if (typeof urchinTracker != 'undefined') urchinTracker();
  </script>

</body>
</html>
