<html>
<head>
  <META http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  <title>Mushroom Observer: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'general', 'agaricus' %>
</head>
<body>
    <div id="banner">
      <%= @page_title || "Mushroom Observer" %>
    </div>
    <div id="columns">
      <table>
	<tr>
	  <td valign="top" height="100%">
	    <table class="LeftSide" cellpadding="20" height="100%">
	      <tr>
		<td valign="top">
		  <%= link_to 'New&nbsp;Observation', :action => 'new_observation' %>
                  <br/><br/>
                  Observations:<br/>
		  &nbsp;&nbsp;<%= link_to 'Most&nbsp;Recent', :action => 'list_observations' %>
                  <br/>
		  &nbsp;&nbsp;<%= link_to 'By&nbsp;Name', :action => 'observations_by_name' %>
                  <br/><br/>
                  Images:<br/>
		  &nbsp;&nbsp;<%= link_to 'Most&nbsp;Recent', :action => 'list_images' %>
                  <br/>
		  &nbsp;&nbsp;<%= link_to 'By&nbsp;Title', :action => 'images_by_title' %>
		</td>
	      </tr>
	    </table>
	  </td>
	  <td class="main">
            <p><%= flash[:notice] %></p>
            <%= @content_for_layout %>
            <div id="color_note">Colors provided by <i>Agaricus</i></div>
	  </td>
	</tr>
      </table>
    </div>
</body>
</html>
