<% # Observation title for add/edit/show_sequence pages %>
<div class="row mt-3">
  <div class="col-xs-12 max-width-text">
    <div id="sequence_observation_title">
      <span class="font-weight-bold"><%= :OBSERVATION.t %></span>:
      <%= observation.name.display_name.t %> (<%= observation.id %>)
    </div>
  </div>
</div>
