<%
@container = :full
add_page_title(sequence_form_new_title)
add_tab_set(sequence_form_tabs(obj: @observation))
%>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <%= render(partial: "sequences/observation_title",
               locals: { observation: @observation }) %>
    <%= render(partial: "sequences/form",
               locals: { action: :create, local: true }) %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <ul class="row list-unstyled">
      <%= render(partial: "shared/matrix_box",
                 locals: { object: @observation.rss_log || @observation }) %>
    </ul>
  </div>
</div><!--.row-->
