$body_fg:                  #000000;
$body_light:               #777777;
$body_bg:                  #FFFFFF;
$link_fg:                  #2050E0;
$link_bg:                  transparent;
$link_visited_fg:          #2050E0;
$link_visited_bg:          transparent;
$link_hover_fg:            #23527C;
$link_hover_bg:            transparent;
$button_fg:                #000000;
$button_bg:                #F5F5F5;

$banner_fg:                #FAEBD4;
$banner_bg:                #CC2616;
$banner_hover_fg:          #FAEB44;
$banner_hover_bg:          #CC2616;

$left_bar_head_fg:         #777777;
$left_bar_head_bg:         #EEEEEE;
$left_bar_border:          #DDDDDD;
$left_bar_fg:              #555555;
$left_bar_bg:              #FFFFFF;
$left_bar_hover_fg:        #23529C;
$left_bar_hover_bg:        #EEEEEE;
$left_bar_admin_fg:        #A94442;
$left_bar_admin_bg:        #F2DEDE;
$left_bar_admin_hover_fg:  #A94442;
$left_bar_admin_hover_bg:  #EBCCCC;

$top_bar_fg:               #000000;
$top_bar_bg:               #F2F2F2;
$top_bar_link_fg:          #000000;
$top_bar_link_bg:          transparent;
$top_bar_link_hover_fg:    #205080;
$top_bar_link_hover_bg:    transparent;
$search_field_icon:        #D3D3D3;
$search_field_icon_active: #2580DB;

$list_fg:                  #333333;
$list_light:               #808080;
$list_bg:                  #F5F5F5;
$list_border:              #DDDDDD;

$vote_meter_fg:            #205080;
$vote_meter_bg:            #F5F5F5;

$pager_fg:                 #337AB7;
$pager_bg:                 transparent;
$pager_hover_fg:           #23527C;
$pager_hover_bg:           #EEEEEE;
$pager_active_fg:          #FFFFFF;
$pager_active_bg:          #959595;

$autocomplete_fg:          #000000;
$autocomplete_bg:          #FFFFFF;
$autocomplete_hot_fg:      #000000;
$autocomplete_hot_bg:      #FFFF00;
$autocomplete_border:      #888888;

$namelister_fg:            #000000;
$namelister_bg:            #FFFFFF;
$namelister_border:        #888888;
$namelister_hot_fg:        #000000;
$namelister_hot_bg:        #FFFF88;
$namelister_warm_fg:       #000000;
$namelister_warm_bg:       #FF8888;

$popup_fg:                 #000000;
$popup_bg:                 #FFFFFF;

@import "../custom.css.scss";

